@media (min-width: 992px) {
  /* desktop */
  .creators-block-wrapper {
    max-width: var(--section-desktop-max-width);
    padding: 0 var(--section-desktop-padding);
    margin: 0 auto;
  }
}

@media (min-width: 1600px) {
  /* large desktop */
  .creators-block-wrapper {
    max-width: var(--section-large-desktop-max-width);
    padding: 0 var(--section-large-desktop-padding);
  }
}

.creators-block-wrapper {
  border-radius: 20px;
}

.creators-block.block>div {
  position: relative;
  padding-top: 40px;
}

.creators-block.block>div:first-of-type img {
  position: absolute;
  right: 0;
  top: 40px;
}

.creators-block.block>div h3 {
  text-align: left;
  font-size: 60px;
  line-height: 70px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  color: #FFF;
}

.creators-block.block>div p {
  text-align: left;
  font-size: 28px;
  line-height: 32px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  color: #FFF;
}

.creators-block.block>div:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.creators-block.block>div:nth-child(3) a.button:any-link {
  border-radius: 40px;
  padding: 18px 25px;
  font-size: 18px;
  line-height: 24px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: #fff;
  margin-bottom: 35px;
}

.creators-block.block>div:nth-child(2)>div {
  display: grid;
  grid-template-columns: repeat(5, minmax(220px, 1fr));
  grid-gap: 30px;
}

.creators-block.block>div:nth-child(2) .creator-box {
  display: flex;
  position: relative;
  width: 220px;
  height: 310px;
  padding: 16px 23px;
  border-radius: 20px;
}

.creators-block.block>div:nth-child(2) .creator-box>div:nth-child(3) {
  position: absolute;
  color: #fff;
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  bottom: 16px;
}

.creators-block.block>div:nth-child(2) .creator-box>div:nth-child(2) {
  position: absolute;
  color: #016DFF;
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  bottom: 33px;
}

.creators-block.block>div:nth-child(2) .creator-box>div:nth-child(1) {
  position: absolute;
  color: #fff;
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  bottom: 64px;
}

.creators-block.block>div:nth-child(2) .creator-box>div:nth-child(1) img {
  position: relative;
  top: 10px;
}

@media (max-width: 1200px) {
  .creators-block.block>div:nth-child(2)>div {
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    grid-gap: 30px;
  }
}

@media (max-width: 1020px) {
  .creators-block.block>div:nth-child(2)>div {
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    grid-gap: 30px;
  }
}

@media (max-width: 990px) {
  .creators-block-wrapper {
    max-width: var(--section-desktop-max-width);
    padding: 0 var(--section-desktop-padding);
    margin: 0 auto;
  }
}

@media (max-width: 758px) {
  .creators-block.block>div:nth-child(2)>div {
    display: grid;
    grid-template-columns: repeat(2, minmax(220px, 1fr));
    grid-gap: 30px;
  }
}