.columns-wrapper {
  padding: 0 var(--body-padding);
}

.columns-container.chat-options p {
  font-size: var(--body-font-size-s) !important;
}

.columns-container.linear-gradient h3 {
  font-size: var(--heading-font-size-xl);
  margin-bottom: 1em;
}

.columns-container.linear-gradient p {
  font-size: var(--body-font-size-m);
}

.columns.benefits > p {
  margin-bottom: 0;
  margin-top: 0;
}

.columns.benefits p {
  font-size: var(--body-font-size-s);
  line-height: 1.5;
  letter-spacing: .006em;
  font-weight: var(--font-weight-regular);
}

.columns.new-v2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.columns.awards > div > div > p {
  margin: 0;
  padding: 0 5px;
  text-align: center;
}

.columns.video-presentation > div > div > p {
  font-size: var(--body-font-size-s);
}

.columns.carousel > div > div > p {
  width: inherit;
  padding: 0 50px;
  text-align: center;
}

.columns-container.video-left .columns-right-col p {
  margin: 1.5em 0;
}

/* stylelint-disable-next-line selector-class-pattern */
.v3_benefits .columns.benefits p {
  font-size: var(--body-font-size-s);
}

.columns-wrapper > div.grey-bck p:first-of-type {
  margin: 1em 0;
}

.v2 .columns.awards > div > div > p {
  font-size: var(--body-font-size-s);
}

.columns.awards > div > div > p:first-of-type {
  margin-bottom: 24px;
}

.section.subtitle-blue .columns.benefits p {
  font-size: var(--body-font-size-s);
  font-weight: 400;
  letter-spacing: .006em;
  line-height: 24px;
}

.columns.awards.v2 > div > div > p:last-of-type {
  margin-top: 10px;
}

.columns.benefits h3 {
  font-size: var(--heading-font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: 1.25;
}

.section.subtitle-blue h3 {
  font-size: 1.25rem;

  --tw-text-opacity: 1;

  color: rgb(0 110 255 / var(--tw-text-opacity));
}

.creators .columns-container h3 {
  font-weight: bold;
}

.columns.new-v2 h3 {
  font-family: "IBM Plex Sans" ,sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #006EFF;
}

.columns.video-presentation > div > div > h3 {
  font-size: var(--heading-font-size-xl);
}

.columns > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columns > div > div {
  order: 1;
}

.text-over-image > div > div {
  height: 600px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  padding: 30px;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
}

.columns.carousel > div {
  flex-direction: row;
  justify-content: flex-start;
  gap: 22px;
  height: 15px;
  top: 0;
}

.columns.benefits > div {
  align-items: flex-start;
}

/* awards styling */
.columns.awards > div {
  gap:30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.columns img {
  width: 100%;
}

.modal-container.get-bitdefender-familypack img {
  height: auto;
}

.columns.awards > div img {
  display: block;
  object-fit: contain;
}

.columns > div > .columns-img-col img {
  display: block;
}

.grey-version .columns > div > div img, .small-icons .columns > div > div img {
  height: 60px;
  width: auto;
}

.small-icons-v2 .columns > div > div img {
  height: 120px;
  width: auto;
}

.columns.video-presentation .linked-image-container img {
  width: 150px;
  height: 44px;
}

.columns.awards.smaller-icons > div img {
  width: auto;
  max-width: unset;
  height: 100px;
}

.grey-version .columns > div {
  display: flex;
  justify-content: space-between;
}

.columns.carousel > div > div {
  flex: 1 0 33%;
  margin: 10px 5px;
  width: 100%;
  box-sizing: border-box;
}

.grey-version .columns > div > div {
  --tw-bg-opacity: 1;

  background-color: rgb(245 245 247 / var(--tw-bg-opacity));
  border-radius: 1rem;
  padding: 3em;
  margin-bottom: 1em;
}

.text-over-image > div > div:first-child {
  font-size: var(--heading-font-size-s);
  margin-bottom: -10px;
}

.percent-table .columns table tr {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.percent-table .columns table tr td:first-of-type {
  font-size: var(--heading-font-size-l);
  padding-right: 1.5em;
}

.percent-table .columns table tr td:last-of-type {
  width: 220px;
}

.grey-version .columns > div > div h4 {
  font-size: var(--heading-font-size-l);
}

.creators .columns-container p.button-container {
  text-align: center;
}

.grey-version .columns > div > div p.button-container {
  margin-bottom: auto;
}

.columns-container.we-container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.columns.highlight-text.black {
  background-color: var(--black-color);
  padding: 25px 2pc 20px 30px;
  text-align: left;
  position: absolute;
  width: 100%;
}

/* stylelint-disable-next-line selector-class-pattern */
.v2_benefits .columns-container .default-content-wrapper {
  margin-bottom: 3em;
}

/* stylelint-disable-next-line selector-class-pattern */
.bigger_title .columns.benefits h3 {
  font-size: var(--heading-font-size-l);
}

/* stylelint-disable-next-line selector-class-pattern */
.v2_benefits .columns.benefits h3 {
  font-size: var(--heading-font-size-l);
}

.columns.video-presentation > div > div {
  margin: 0 auto;
}

.section.subtitle-blue h2 {
  margin: 0 auto 3em;
  width: 100%;
  text-align: center;
}

.columns.with-box-shadow > div > div {
  padding: 0 20px;
  border-right: none;
  border-bottom: 2px solid var(--overlay-background-color);
}

.columns-wrapper > div.grey-bck > div {
  flex: 1;
}

.columns-wrapper > div.grey-bck > div > div {
  margin: 0!important;
  flex: 0 0 50%;
}

.columns.carousel > div:nth-child(1) {
  position: relative;
  left: 0;
  gap: 0;
  transition: transform 0.3s ease-in-out;
  height: 200px;
}

.creators .columns-container .columns > div {
  justify-content: space-between;
  margin-bottom: 3em;
}

/* stylelint-disable-next-line selector-class-pattern */
.v2_benefits .columns.benefits > div {
  gap: 35px;
}

.v2 .columns.awards > div {
  align-items: flex-start;
}

/* stylelint-disable-next-line selector-class-pattern */
.v2_benefits .columns.benefits > div > div {
  font-size: var(--body-font-size-m);
  flex: 1;
}

.columns.bg-image > div > div:first-child {
  font-size: var(--heading-font-size-xl);
  font-weight: bold;
}

.columns.with-box-shadow > div > div:last-child {
  border: none;
}

.section.subtitle-blue .columns.benefits > div {
  gap: 45px;
  margin-bottom: 2em;
}

.columns > div > .columns-img-col {
  order: 0;
  text-align: center;
  margin-bottom: 2em;
}

.creators .columns-container .columns > div:last-of-type {
  margin-bottom: 0;
}

.creators .columns-container h5 {
  font-weight: bold;
  color: #006DFF;
}

.creators .columns-container.baby-blue-subtitles h3 {
  color: #006DFF;
}

.creators .columns-container.baby-blue-subtitles h3 br {
  display: block;
}

.creators .columns-container a.button {
  height: auto;
  background: #E72325 0% 0% no-repeat padding-box;
  border-radius: 30px;
  justify-content: center;
  padding: 5px 10px;
  font-size: 14px;
}

.columns.bg-image a {
  color: white
}

.columns.new-v2 a {
  color: #006EFF!important;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  transition: all .2s cubic-bezier(.4,0,.2,1);
}

.green-button .button-container a {
  background-color: #51a71d;
  border: 2px solid #51a71d;
  text-transform: uppercase;
}

.green-button p:last-of-type a {
  text-decoration: underline;
  font-size: var(--body-font-size-xs);
  margin: 0 10px;
}

.columns.new-v2 a:hover {
  color: #0A53C5;
  transform: translateX(10px);
}

.columns-container.chat-options p.button-container a {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  white-space: normal;
}

.columns-container.chat-options p.button-container a:hover {
  background-color: black;
  color: white;
}

.columns-container.chat-options table {
  width: 100%;
}

.columns-container.chat-options table tr {
  display: flex;
  justify-content: space-between;
}

.small-icons-v2 .columns > div > div.columns-img-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.columns.new-v2 > div > .columns-img-col img {
  object-fit: contain;
}

.columns-container.chat-options table tr td:first-of-type img {
  height: 40px;
}

.columns-container.chat-options table tr td:last-of-type img {
  height: 133px;
  display: none;
}

.columns-wrapper > div.grey-bck {
  background-color: #F5F5F7;
  border-radius: 1em;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.columns-wrapper > div.grey-bck h5 {
  font-size: var(--heading-font-size-m);
  line-height: var(--heading-font-size-l);
}

.columns-wrapper > div.grey-bck div.columns-text-col {
  padding-left: 4em;
  padding-right: 1em;
}

.section.baby-blue-bck .columns-wrapper {
  background-color: #E4F2FF;
}

.section.grey-bck .columns-wrapper {
  background-color: #F5F5F7;
}

.section.radius-corners .columns-wrapper {
  border-radius: 1rem;
  overflow: hidden;
}

.section.radius-corners-10px .columns-wrapper {
  border-radius: 10px;
  overflow: hidden;
}

.section.pl-0 .columns-wrapper {
  padding-left: 0;
}

.section.pr-0 .columns-wrapper {
  padding-right: 0;
}

.columns.new-v2 > div > .columns-img-col {
  margin-bottom: 1em;
}

.section.radius-corners .columns-wrapper .columns-img-col {
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 0;
}

.section.radius-corners-10px .columns-wrapper .columns-img-col,
.section.radius-corners-10px .columns-wrapper .columns-img-col img {
  margin-bottom: 0;
  border-radius: 0;
}

@media (min-width: 991px) {
  .columns.benefits > div {
    flex-direction: unset;
    gap: 32px;
    align-items: stretch;
  }
}

@media (min-width: 767px) {
  .columns-container.chat-options .columns > div > div {
    padding: 2em;
  }

  .columns.highlight-text.black {
    width: 520px;
    right: 2.5%;
    top: 15%;
    border-radius: 5px;
  }

  .columns.highlight-text.black.imageleft {
    left: 2.5%;
  }

  .percent-table .columns table tr td:first-of-type {
    padding-right: 0.5em;
  }
}

@media (min-width: 992px) { /* desktop */
  .columns-container.we-container {
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }


  .columns-wrapper {
    max-width: var(--section-desktop-max-width);
    padding: 0 var(--section-desktop-padding);
    margin: 0 auto;
  }

  .columns.highlight-text.black {
    right: 10%;
    top: 10%;
  }

  .columns.highlight-text.black.imageleft {
    left: 10%;
  }

  .section.subtitle-blue h2 {
    margin: 0 auto 3em;
    width: 630px;
  }

  .section.subtitle-blue h3 {
    font-size: 1.25rem;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .section.b_mark > div {
    padding: 5em 0 3em;
    margin-top: 0;
  }

  .columns.awards > div > div {
    flex: 0;
  }
  
  /* stylelint-disable-next-line selector-class-pattern */
  .section.b_mark .columns-img-col img {
    margin-top: -200px;
    margin-bottom: -3em;
  }

  .columns-container.chat-options .columns > div > div {
    padding: 2em;
  }

  .section.subtitle-blue .columns.benefits > div {
    margin-bottom: 0;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .section.bd_woman {
    margin-top: 2em;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .section.bd_woman h2 {
    font-weight: var(--font-weight-regular);
  }

  .columns > div > .columns-img-col {
    margin-bottom: 1em;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .section.bd_woman .columns-img-col {
    margin-top: -122px;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .section.b_mark {
    margin-bottom: 5em;
  }

  .columns.screenshots {
    margin-top: 4em;
  }

  .v2 .columns > div > .columns-text-col {
    flex: 0 0 40%;
  }

  .v2 .columns > div > .columns-text-col.columns-right-col {
    margin-left: 4em;
  }

  .columns-container.chat-options table tr td:last-of-type img {
    display: block;
  }

  .creators .columns-container .columns > div > div.columns-left-col, .creators .columns-container .columns > div > div.columns-right-col {
    width: 45%;
    flex: none;
  }

  .creators .columns-container .columns > div > div.columns-img-col {
    width: 50%;
    flex: none;
  }

  .creators .columns-container h5 {
    color: #006DFF;
    font: normal normal bold 32px/45px "IBM Plex Sans", sans-serif;
  }

  .creators .header-mobile.columns-container h1 {
    font: normal normal bold 60px/70px "IBM Plex Sans", sans-serif;
  }

  .creators .header-mobile.columns-container h2 {
    color: #006DFF;
    font: normal normal bold 32px/45px "IBM Plex Sans", sans-serif;
    margin-bottom: 0;
  }

  .creators .columns-container h3 {
    font: normal normal bold 60px/70px "IBM Plex Sans", sans-serif;
  }

  .creators .columns-container p {
    font: normal normal normal 24px/33px Arial, sans-serif;
  }

  .creators .columns-container.smaller-text p {
    font: normal normal normal 18px / 27px Arial, sans-serif;
  }

  .creators .columns-container p.button-container {
    text-align: left;
  }

  .creators .columns-container a.button {
    min-width: 230px;
    height: 48px;
    padding: 10px 10px 10px 25px;
    background: #E72325 0% 0% no-repeat padding-box;
    border-radius: 40px;
    justify-content: center;
    font: normal normal 500 18px/24px Roboto, sans-serif;
  }
}

@media (max-width: 1200px) {
  /* stylelint-disable-next-line selector-class-pattern */
  .v2_benefits .columns.benefits h3 {
    font-size: var(--heading-font-size-m);
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .columns-container.we-container {
    max-width: 1350px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .columns.awards > div > div {
    flex: 1;
  }

  .percent-table .columns table tr td:first-of-type {
    padding-right: 1.5em;
  }
}

@media (min-width: 1600px) { /* large desktop */
  .columns-wrapper {
    max-width: var(--section-large-desktop-max-width);
    padding: 0 var(--section-large-desktop-padding);
  }
}

/* Benefits columns (icon, text, description) */
.columns.benefits > .icon {
  width: unset;
  max-width: 66px;
  margin-bottom: 16px;
}

.columns-container.video-left video {
  width: 100%;
  border-radius: 10px;
}

.columns-container.video-left .columns-right-col {
  width: 100%;
  flex: none;
}

@media (min-width: 1271px) {
  .columns.benefits p {
    font-size: 18px;
  }
}

/* paragraph with image */
.columns.video-presentation .button-container {
  display: inline-block;
  padding-right: 0;
}

.columns.video-presentation .linked-image-container {
  display: inline-block;
  padding-right: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

.columns.video-presentation ul {
  padding-top: 1px;
}

.columns.vpn-presentation .button-container,
.columns.vpn-presentation .info-button-container{
  display: inline-block;
  padding-right: 13px;
  margin-top: 13px;
}

.columns.vpn-presentation .left-col {
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .columns.vpn-presentation .left-col {
    margin-bottom: 0;
  }
}

.section.bullet-points.columns-container ul {
  list-style: disc;
}

.section.migration.columns-container ul {
  padding: 0;
}

.section.migration.columns-container ul li {
  display: flex;
  padding-left: 0;
  margin-bottom: 1em;
}

.section.migration.columns-container ul li::before {
  content: url("/_src/icons/checkmark-light-green-circle.svg");
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  top: 4px;
  margin-right: 9px;
  flex-shrink: 0;
}

.section.migration.columns-container .columns-img-col img {
  border-radius: 10px;
}

.columns.carousel {
  width: 100%;
  margin-top: 0;
  overflow: hidden;
  height: auto;
}

.section.migration .columns.carousel {
  margin-top: 0;
  height: auto;
}

.carousel-buttons {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s ease-in-out;
}

.section.migration .columns.carousel .carousel-buttons {
  top: -10px;
}

.columns.carousel button {
  align-items: flex-start;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 10px;
  padding: 0;
  background-color: var(--black-color);
  border: none;
  cursor: pointer;
}

.columns.carousel button:hover {
  background-color: var(--link-color);
}

.section.wide.light-sky-blue.columns-container {
  height: auto;
}

.section.white.columns-container .columns.awards > div {
  flex-direction: unset;
  align-items: center;
}

.section.white.columns-container .columns.awards > div img {
  display: block;
  height: 120px;
  object-fit: contain;
}

@media (min-width: 676px) and (max-width: 989px) {
  .slide-left {
      transform: translateX(-50%);
  }
}

@media (min-width: 990px) {
  .columns.carousel button {
    margin: -5px;
  }

  .slide-left {
    transform: translateX(-25%);
  }

  .columns.with-box-shadow > div > div{
    border-bottom: none;
    border-right: 2px solid var(--overlay-background-color);
    min-height: 350px;
  }

  .columns-container.video-left .columns-right-col {
      width: 440px;
      flex: none;
  }
}

.columns.carousel .active-button {
  background-color: var(--link-color);
}

.modal-container.get-bitdefender-familypack .columns.block.columns-2-cols > div {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

@media (min-width: 768px) {
  .modal-container.get-bitdefender-familypack .columns.block.columns-2-cols > div {
    display: flex;
    flex: 1;
    flex-direction: row;
    order: unset;
    justify-content: center;
    align-items: center;
  }
}

.modal-container.modal-container.get-bitdefender-familypack .modal-content .section.columns-container {
  border-bottom: none;
  padding: 0;
}

.columns-container[data-bg-image]{
  background-image: var(--bg-image-url);
  background-size: cover;
  background-position: center;
  transition: padding-left 0.3s ease;
  color: white;
  text-align: center;
  background-color: black;
}

.linear-gradient.columns-container[data-bg-image]{
  background-size: cover;
  background-position: center;
  transition: padding-left 0.3s ease;
  color: white;
  background-image: none;
  background-color: black;
}

.columns.new-v2 h2 {
  font-family: "IBM Plex Sans" ,sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  margin: 1em auto;
}



@media (min-width: 768px) {
  .linear-gradient.columns-container[data-bg-image]{
    background-image: linear-gradient(to right, rgb(39 1 107 / 100%) 20%, rgb(0 0 0 / 0%)), var(--bg-image-url);
  }

  .columns-container[data-bg-image]{
    background-image: var(--bg-image-url);
  }

  .linear-gradient.columns.bg-image > div {
    width: calc(100% - 30%)!important;
  }

  .columns.new-v2 h2 {
    font-family: "IBM Plex Sans" ,sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    width: 600px;
    margin: 2em auto;
  }

  .columns.new-v2 h3 {
    font-family: "IBM Plex Sans" ,sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    text-align: left;
    color: #006EFF;
  }

  .columns.new-v2 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }

  .columns.new-v2 div.columns-text-col {
    padding: 2em;
  }

  .columns.new-v2 div.columns-right-col {
    margin-left: 5em;
    margin-right: 5em;
  }

  .columns.new-v2 div.columns-left-col {
    margin-left: 5em;
    margin-right: 5em;
  }
}

@media (min-width: 1024px) {
  .columns.new-v2 div.columns-left-col {
    margin-right: 10em;
    margin-left: 0;
  }
}

.columns.bg-image > div > div > h4 {
  padding: 0 0 50px;
  font-size: var(--heading-font-size-m);
  font-style: bold;
}

.columns.bg-image .button-container {
  padding: 10px 0 0;
}

.columns.bg-image svg {
  filter: invert(1) grayscale(1) brightness(100);
}

.columns.with-box-shadow {
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 20%);
  border-radius: 5px;
  padding: 35px 0;
  color: var(--checkbox-label);
}

.columns.highlight-text.black.block > div > div:first-child {
  font-size: var(--heading-font-size-l);
}


main .section.two-columns .right-col .products.plans a.button:any-link {
  background-color: var(--button-background-color);
  border: 2px solid var(--button-background-color);
}

.two-columns .left-col p a.info-button.modal {
  color: var(--white-color);
  display: flex;
  font-weight: var(--font-weight-regular);
  align-items: baseline;
}

.two-columns .left-col p a.info-button.modal:hover {
  opacity: .8;
}

.two-columns .left-col p a.info-button.modal::before {
  content: url("/_src/icons/user-guide-white.svg");
  color: white;
  padding-right: 8px;
}

.columns.new-v2 a::after {
  content: '\2192';
  width: 24px;
  height: 24px;
  display: inline-block;
  transition: all .2s cubic-bezier(.4,0,.2,1);
  transform: translateX(0);
  margin-left: 2px;
}

.columns.new-v2 a:hover::after {
  transform: translateX(5px);
}

.columns.carousel > div.carousel-buttons {
  justify-content: center;
}

@media (max-width: 1399px) {
  .columns-wrapper {
    padding: 0 var(--section-large-desktop-padding);
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .v2_benefits .columns-wrapper {
    padding: var(--section-mobile-padding-vertical);
  }

  .columns.video-presentation .button-container {
    margin-right: 10px;
  }

  .columns.screenshots > div {
    justify-content: space-evenly;
  }
}

@media (max-width: 992px) {
  .columns.carousel > div {
    gap: 0;
  }

  .creators .columns > div > div {
    text-align: center;
  }

  .columns.video-presentation > div > div {
    width: 520px;
  }

  .columns-wrapper > div.grey-bck > div > div {
    flex: 1;
  }

  .creators .header-mobile.columns-container div {
    text-align: center;
  }

  .creators .header-mobile h1 {
    font-size: 32px;
    line-height: 1.2;
  }

  .creators .header-mobile h2 {
    font-size: 16px;
    line-height: 1.2;
    color: #006DFF;
    font-weight: bold;
    margin-bottom: 0;
  }

  .creators .header-mobile h3 {
    font-size: var(--heading-font-size-l);
    line-height: 1.2;
  }

  .creators .columns-container h3, .creators .columns-container h5, .creators .columns-container h2, .creators .columns-container h1 {
    font-family: "IBM Plex Sans", sans-serif;
  }

  .creators .default-content-wrapper h2 {
    font-family: "IBM Plex Sans", sans-serif;
  }

  .creators .image-position.columns-container div.columns-img-col {
    display: none;
  }

  .creators .image-position.columns-container .columns > div > div {
    text-align: center;
  }

  .creators .no-space-top .default-content-wrapper h2 {
    padding-top: 23px;
  }

  .section.wide.light-sky-blue.columns-container.awards.v2 {
    width: 100%;
    padding: 0;
    margin: 4em 0 2em;
  }

  .columns-wrapper > div.grey-bck div.columns-text-col {
    padding: 2em;
  }
}

@media (min-width: 768px) {
  .v2 .columns > div {
    flex-direction: row;
  }

  .v2 .columns.awards .columns-wrapper {
    padding: 0 10px 5em;
  }

  .v2 .columns.awards > div > div > p:last-of-type {
    max-width: 325px;
    margin: 10px auto 0;
  }

  .columns.screenshots > div {
    flex-direction: row;
  }

  .columns.screenshots > div > .columns-img-col {
    flex: 0 0 230px;
  }
}

@media (max-width: 768px) {
  .columns-wrapper {
    padding: var(--body-padding) var(--body-padding) 0;
  }

  .cta .columns-img-col picture {
    width: 345px;
  }

  .columns.video-presentation > div > div > h3 {
    font-size: var(--heading-font-size-l);
  }

  .columns.carousel > div > div {
    flex: 0 0 98%;
  }
}

@media (max-width: 500px) {
  .columns.video-presentation > div > div {
    width: 100%;
  }

  .columns.carousel > div > div {
    width: 100%;
    flex: 1 0 100%;
    box-sizing: border-box;
    margin: 0;
  }
}
