/* stylelint-disable no-descending-specificity */
.awards-container {
  display: flex;
  justify-content: center;
}

.awards-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1290px;
}

.awards-container.we-container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.awards-component {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.awards-compact .awards-component {
  padding: 15px;
}

.awards-container p {
  line-height: 1.45;
}

.awards-container.awards-compact p{
  margin: 0;
}

.awards-container h3 {
  font-size: 32px;
  margin-bottom: 0;
}

.awards-container .button-container {
  margin-top: 34px;
}

.awards-container .button-container a.button.modal {
  gap: 5px;

  &::after {
    visibility: hidden;
    min-width: 8px;
  }

}

.awards-container em {
  color: #006DFF;
  font-style: normal;
}

.awards-container .block.awards-component > div {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.awards-component > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85% !important;
}

.awards-component > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.awards-component > div:nth-child(3) {
  width: 100%;
}

.awards-component > div:nth-child(3) div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  align-items: center;
  gap: 4.5%;
}


.awards-component > div:nth-child(3) div img {
  height: 100px;
  max-width: 100%;
  min-width: 40px;
  width: auto;
  object-fit: contain;
}

.awards-container .vsb picture{
  max-width: 90px;
  min-width: 8%;
}

.awards-container .vsb h3{
  margin-top: 0;
  margin-bottom: 0;
}

.awards-container .vsb p{
  margin-top: 0;
  margin-bottom: 0;
}

.awards-container .block.awards-component {
  background-color: #edf9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  gap: 16px;
  
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 20px;

    .card {
      display: flex;
      flex-direction: column;
      padding: 49px 32px;
      border-radius: 20px;
      text-align: left;
      background-color: #fff;
      box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
      width: 100%;
      max-width: 420px;
    }

    h3 {
      color: #006DFF;
    }
  }

  h4 {
    color: #006DFF;
    font-size: 34px;
  }
}

.awards-compact .awards-component > div:nth-child(1) img {
  width: 45px !important;
}

.awards-container.new-design .block.awards-component {
  h3 {
    margin-bottom: 12px;
  }

  h4 {
    margin-bottom: 24px;
    color: #000;
  }

  >div {
    justify-content: center;
    text-align: -webkit-center;
    gap: 20px;
  }

  > div:nth-child(2) {
      min-width: 100%;

      >div {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 95%;
        margin-top: 24px;
        gap: 20px;
      }

      img {
        height: 62px;
      }
  }
}

.awards-container .awards-component div ul {
  list-style: disc;
}

.awards-container .awards-component div li {
  text-align: left;
}

@media (max-width: 579px) {
  .awards-component > div:nth-child(3) div img {
    height: 50px;
    max-width: 90px;
  }

  .awards-extended .awards-component > div:nth-child(1) img {
    width: 45px;
  }

  .awards-container .block.awards-component .cards .card {
    padding: 10px 20px;
  }

  .awards-container .block.awards-component .cards .card .icon{
    max-width: 30px;
    margin-bottom: 0; 
  }
}

@media (min-width: 580px) {
  .awards-component > div:nth-child(3) div {
    max-width: 768px;
    flex-wrap: nowrap;
  }

  .dynamic-awards  .awards-component > div:nth-child(3) div {
    max-width: 1024px;
    flex-wrap: nowrap;
  }

  .vsb.awards-component > div:nth-child(3) div {
    flex-wrap: wrap;
  }

  .awards-container .block.awards-component .cards .card .icon{
    max-width: 38px;
  }
}

@media (max-width: 768px) {
  .awards-component > div:nth-child(3) div img {
    min-height: auto;
    margin: 5px 0;
  }

  .awards-container h3 {
    line-height: 38px;
  }

  .awards-container.awards-compact h3 {
    font: normal normal bold 24px/28px Arial, sans-serif;
    margin-top: 10px;
  }

    .awards-container.awards-extended h3 {
    font: normal normal bold 24px/28px Arial, sans-serif;
    margin-top: 10px;
  }

  .awards-container.new-design .block.awards-component {
    h3 {
        font-size: 40px;
    }

    h4 {
        font-size: 22px;
    }
}
}

@media (min-width: 768px) {
  .awards-component > div:nth-child(3) {
    width: 95% !important;
  }

  .awards-container .vsb picture{
    min-width: 100px;
  }

  .awards-container .block.awards-component {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: 992px) {
  .awards-component > div:nth-child(3) {
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 90%;
  }

  .awards-wrapper .awards > div:nth-child(3) > div[data-valign="middle"] {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .awards-component > div:nth-child(1) img {
    width: 80px !important;
  }

  .awards-component main .section.wide img {
    height: auto;
    object-fit: contain;
    width: 70%;
  }

  .awards-container .block.awards-component {
    padding-bottom: 40px;
  }

  .awards-container.we-container {
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .awards-container .vsb picture{
    min-width: 75px;
  }

  .vsb.awards-component > div:nth-child(3) div {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1200px) {
  .awards-component {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .awards-container .block.awards-component {
    padding-bottom: 50px;
  }

  .awards-component div[data-align="center"][data-valign="middle"] img {
    width: 80px;
  }

  .awards-container .block.awards-component > div {
    text-align: center;
    display: flex;
    align-items: center;
  }

  .awards-component > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
  }

  .awards-component > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50% !important;
  }

  .awards-compact .awards-component > div:nth-child(2){
    width: 600px !important;
    font: normal normal normal 18px/21px Arial, sans-serif;
  }

  .awards-compact .awards-component > div:nth-child(4){
    width: 600px !important;
    font: normal normal normal 18px/21px Arial, sans-serif;
  }

  .awards-component > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
  }

  .awards-component h3 {
    font: normal normal bold 32px/38px Arial, sans-serif;
    margin-bottom: 0;
  }

  .awards-compact .awards-component h3{
    max-width: 560px;
  }

  .awards-extended .awards-component h3{
    max-width: 760px;
  }

  .awards-extended .awards-component h3:nth-of-type(1) {
    margin-left: auto;
    margin-right: auto;
  }

  .awards-container.we-container {
    max-width: 1332px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .awards-container .vsb picture{
  min-width: 100px;
}
}

@media (min-width: 1600px) {
  .awards-containe.we-container {
    max-width: 1332px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
