.carousel-with-preview-container {
    margin: 0 auto;
    padding: 1em 0!important;
}

.carousel-with-preview-container .main-video-container {
    text-align: center;
}

.hide-preview .carousel-with-preview-container .main-video-container {
    display: none;
}

.carousel-with-preview-container .featured-video iframe {
    width: 100%;
    max-width: 1000px;
    height: 560px;
    border-radius: 12px;
}

.carousel-with-preview-container .featured-title {
    width: 767px;
    margin: 2em auto;
}

.carousel-with-preview-container .featured-title * {
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
    color: black;
    margin-bottom: 6px;
    display: block;
}

.carousel-with-preview-container .featured-title p {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.11px;
    text-align: center;
    color: #525252;
}

.carousel-with-preview-container .featured-title > strong {
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #000;
    display: block;
    margin-bottom: 10px;
}

.carousel-with-preview-container .carousel-wrapper {
    position: relative;
    align-items: center;
    overflow: hidden;
    margin: 0 20px;
}

.carousel-with-preview-container .carousel {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 0;
    flex: 1;
    
}

.carousel-with-preview-container .carousel-item {
    flex: 0 0 auto;
    width: 300px;
    cursor: pointer;
    gap: 12px;
    border-radius: 12px;
    padding: 8px;
    border: 1px solid #E0E0E0;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transition: border 0.3s ease, transform 0.3s ease;
}

.carousel-with-preview-container .carousel-item .thumb-wrapper {
    height: 155px;
    border-radius: 6px;
    overflow: hidden;
}

.carousel-with-preview-container .thumb-wrapper img {
    width: 100%;
    height: 160px;
    border-radius: 6px;
}

.carousel-with-preview-container .carousel-item .thumb-wrapper img {
    height: auto;
    margin-top: -27px;
}

.carousel-with-preview-container .carousel-item:hover, .carousel-with-preview-container .carousel-item.active {
    background-color: #F1F5F8;
    border: 1px solid #006DFF;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transition: border 0.3s ease, transform 0.3s ease;
}

.carousel-with-preview-container.bundle-design2 {
    position: relative;
    max-width: 100%;
    width: 100% !important;
    overflow: unset;
}

.carousel-with-preview-container.bundle-design2 .default-content-wrapper p.button-container a {
    border: 0 none;
    min-width: max-content;
    width: max-content;
    height: 48px;
    padding: 0 28px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #006DFF;
}

.carousel-with-preview-container.bundle-design2 .default-content-wrapper p.button-container a:hover {
    text-decoration: none;
    opacity: 0.9;
    transition: all 0.5s ease;
}

.carousel-with-preview-container.bundle-design2 .default-content-wrapper p.button-container a span.button-text {
    font-size: 18px;
    line-height: 25.2px;
}

.carousel-with-preview-container.bundle-design2 .default-content-wrapper p.button-container a::after {
    display: none;
}

.carousel-with-preview-container.bundle-design2 .default-content-wrapper p.button-container a .icon, .carousel-with-preview-container.bundle-design2 .default-content-wrapper p.button-container a .icon svg {
    height: 6px;
    width: auto;
    margin: 0;
    display: block;
}

.carousel-with-preview-container.bundle-design2  .carousel-wrapper {
    margin: 0;
}

.carousel-with-preview-container.bundle-design2 .carousel-wrapper {
    overflow: visible;
}

.carousel-with-preview-container.bundle-design2 .carousel {
    gap: 32px;
}

.carousel-with-preview-container.bundle-design2 .navContainer {
    position: absolute;
    top: -5em;
    right: 20em;
    margin: 0;
}

.carousel-with-preview-container.bundle-design2 .carousel-item {
    width: 398px;
    padding: 32px 24px;
    border: 0 none;
    overflow: hidden;
    cursor: default;
    background-color: #FAFAFA;
}

.carousel-with-preview-container.slide-full .carousel-item:first-of-type {
    margin-left: 19em;
}

.carousel-with-preview-container.bundle-design2 .carousel-item > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.carousel-with-preview-container.bundle-design2.no-flex .carousel-item > div {
    display: block;
}

.carousel-with-preview-container.bundle-design2 .carousel-item > div > p:first-of-type {
    margin: -32px -24px auto!important;
    padding: 0;
}

.carousel-with-preview-container.bundle-design2 .carousel-item > div > p {
    padding: 0;
    margin: 0;
}

.carousel-with-preview-container.bundle-design2 .carousel-item h3, .carousel-with-preview-container.bundle-design2 .carousel-item h3 * {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #1B1B1B;
    text-decoration: none;
    margin: 0;
}

.carousel-with-preview-container.bundle-design2 .carousel-item hr {
    margin: 10px 0;
}

.carousel-with-preview-container.bundle-design2 .carousel-item ul {
    margin: 16px 0;
    padding: 0;
}

.carousel-with-preview-container.bundle-design2 .carousel-item ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: #3C3C3C;
    margin: 0;
    padding: 5px 0;
}

.carousel-with-preview-container.bundle-design2 .carousel-item ul li:last-of-type {
    cursor: pointer;
    color: #006DFF;
    text-align: center;
    font-weight: 600;
}

.carousel-with-preview-container.blue-version .carousel {
    gap: 32px;
}

.carousel-with-preview-container.blue-version .carousel-item {
    width: 308px;
    background-color: #0045AD;
    color: white;
}

.carousel-with-preview-container.blue-version .carousel-item > div > p:first-of-type .icon {
    margin: 32px 24px 0;
}

.carousel-with-preview-container.blue-version .carousel-item h3 {
    color: white;
    font-size: 20px;
    line-height: 28px;
}

.carousel-with-preview-container.blue-version .carousel-item h3 em {
    font-style: normal;
    color: #80B6FF;
    font-size: 20px;
    line-height: 28px;
}


.carousel-with-preview-container .caption {
    text-align: left;
    margin-top: 10px;
}

.carousel-with-preview-container .caption p {
    margin: 0;
    color: #525252;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.11px;
    vertical-align: middle;
}

.carousel-with-preview-container .caption > strong {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
    display: block;
    color: black;
}

/* stylelint-disable-next-line selector-class-pattern */
.carousel-with-preview-container .navContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.carousel-with-preview-container .carousel-arrow {
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 2;
    border: unset;
    background: transparent;
    margin: 0 10px;
    border-radius: 100%;
}

.carousel-with-preview-container .carousel-arrow.inactive {
    opacity: 0.5;
}

.carousel-with-preview-container .carousel-arrow:hover {
    background: #eee;
}

.carousel-with-preview-container .video-carousel.dragging {
    cursor: grabbing;
    user-select: none;
}

.carousel-with-preview-container .default-content-wrapper {
    width: 636px;
    margin: 0 auto 4em;
    text-align: center;
    padding: 0;
}

.carousel-with-preview-container .default-content-wrapper h3 {
    width: 500px;
    margin: 16px auto;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
}

.carousel-with-preview-container .default-content-wrapper p {
    color: #525252;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0;
}

.carousel-with-preview-container .default-content-wrapper p strong {
    color: black;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
}

@media (max-width: 1800px) {
    .carousel-with-preview-container.slide-full .carousel-item:first-of-type {
        margin-left: 12em;
    }
}

@media (max-width: 1700px) {
    .carousel-with-preview-container.slide-full .carousel-item:first-of-type {
        margin-left: 11em;
    }
}


@media (min-width: 1600px) {
    .carousel-with-preview-container {
        max-width: var(--section-large-desktop-max-width);
    }

    .carousel-with-preview-container.slide-full .carousel-item:first-of-type {
        margin-left: 9em;
    }
}

@media (max-width: 1500px) {
    .carousel-with-preview-container.slide-full .carousel-item:first-of-type {
        margin-left: 4em;
    }
}

@media (max-width: 1300px) {
    .carousel-with-preview-container.slide-full .carousel-item:first-of-type {
        margin-left: 20px;
    }
}

@media (max-width: 1000px) {
    .carousel-with-preview-container {
        padding: 0 var(--section-desktop-padding)!important;
    }

    .carousel-with-preview-container .featured-video iframe {
        max-width: unset;
    }
}

@media (max-width: 991px) {
    .carousel-with-preview-container .default-content-wrapper {
        max-width: var(--section-desktop-max-width);
        padding: 0 var(--section-desktop-padding);
        margin: 0 auto;
    }

    .carousel-with-preview-container .carousel-wrapper {
        margin: 0;
    }

    .carousel-with-preview-container.slide-full .carousel-item:first-of-type {
        margin-left: 0;
    }

    .carousel-with-preview-container.bundle-design2 .navContainer {
        right: 0;
    }

    .carousel-with-preview-container.bundle-design2 .carousel-item {
        padding: 24px;
    }
}

@media (max-width: 800px) {
    .carousel-with-preview-container .featured-video iframe {
        height: 350px;
    }
}

@media (max-width: 767px) {
    .carousel-with-preview-container {
        padding: 0 16px !important;
    }

    .carousel-with-preview-container .default-content-wrapper {
        width: auto;
    }

    .carousel-with-preview-container .default-content-wrapper h3 {
        width: auto;
        font-weight: 500 !important;
        font-size: 32px !important;
        line-height: 38.4px !important;
    }

    .carousel-with-preview-container .caption > strong {
        font-size: 14px;
    }

    .carousel-with-preview-container .featured-title {
        width: 100%;
    }

    .carousel-with-preview-container.bundle-design2 .navContainer {
        top: -4em;
    }
}

@media (max-width: 550px) {
    .carousel-with-preview-container .carousel-item {
        width: 206px;
    }

    .carousel-with-preview-container .featured-video iframe {
        height: 250px;
    }

    .carousel-with-preview-container .carousel-item .thumb-wrapper {
        height: 104px;
    }

    .carousel-with-preview-container .carousel-item .thumb-wrapper img {
        height: auto;
        margin-top: -19px;
    }

    .carousel-with-preview-container .caption {
        margin-top: 16px;
    }

    .carousel-with-preview-container .featured-title > strong {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 350px) {
    .carousel-with-preview-container .default-content-wrapper h3 {
        font-size: 28px !important;
        line-height: 35px !important;
    }

    .carousel-with-preview-container .default-content-wrapper p strong {
        font-size: 14px;
        line-height: 21px;
    }

    .carousel-with-preview-container .default-content-wrapper p {
        font-size: 17px;
        line-height: 22px;
    }
}