
/* stylelint-disable  */
main .section.link-checker-container {
    padding: 20px;
    background-color: #fff;
    max-width: 1350px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    overflow: visible;
    font-family: 'IBM Plex Sans', Roboto, sans-serif;

    &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 400px;
        background-image: url("../../icons/link-checker-pattern.svg");
        background-color: #006EFF;
        border-radius: 20px;
    }

    &.danger {
        &::before {
            background-color: #3e030b;
            background-image: url("../../icons/link-checker-pattern-red.svg");
        }

        .check-url {
            display: none;
        }

        .link-checker input[type="text"], .link-checker #inputDiv {
            max-width: 100%;
            border: 2px dashed #D82E21;
            padding-right: 15px;
            pointer-events: none;
        }

        .link-checker input[type="text"] {
            display: none;
        }

        .link-checker #inputDiv {
            display: block;
            margin-bottom: 24px;
            text-align: center;
        }

        .link-checker .danger-image {
            display: block;
        }

        .link-checker h1 {
            color: #EA0220;
            margin-bottom: 16px;
        }

        .link-checker div:first-child p:not(:has(img)) {
            display: none;
        }

        .link-checker .buttons-container {
            display: flex;
        }

        .link-checker .privacy-policy {
            display: none;
        }

        #copy-to-clipboard {
            display: none;
        }

        .link-checker .result.danger {
            margin-top: 0;
        }
    }

    &.safe {
        &::before {
            background-color: #3d8648;
            background-image: url("../../icons/link-checker-pattern-green.svg");
        }

        .check-url {
            display: none;
        }

        .link-checker h1 {
            margin-bottom: 16px;
        }

        .link-checker input[type="text"], .link-checker #inputDiv {
            max-width: 100%;
            border: 2px dashed #3D8648;
            padding-right: 15px;
            pointer-events: none;
        }

        .link-checker input[type="text"] {
            display: none;
        }

        .link-checker #inputDiv {
            display: block;
            margin-bottom: 24px;
            text-align: center;
        }

        .link-checker .safe-image {
            display: inline-block;
        }

        .link-checker div:first-child p:not(:has(img)) {
            display: none;
        }

        .link-checker .buttons-container {
            display: flex;
        }

        .link-checker .privacy-policy {
            display: none;
        }

        #copy-to-clipboard {
            display: none;
        }
    }

    &.ai-skills-checker {
        margin-top: 24px;
        &::before {
            border: 1px solid #FFD2C7;
            background-color: #FAF4EA;
            background-image: url("../../icons/skills-checker-pattern.svg");
        }

        &.danger::before {
            background-color: #3e030b;
            background-image: url("../../icons/skills-checker-pattern-danger.svg");
        }

        &.safe::before {
            background-color: #3d8648;
            background-image: url("../../icons/skills-checker-pattern-safe.svg");
        }

        .link-checker .result.danger {
           overflow-wrap: anywhere;

           &:not(.no-response) {
                padding: 20px 30px 20px 55px;

                code {
                    font-family: "Courier New", Courier, monospace;
                }

                &::before {
                    top: 20px;
                }
           }
        }
    }

    .link-checker-wrapper {
        max-width: 960px;
        width: 100%;
    }

    .link-checker-form {
        width: 100%;
    }

    .link-checker {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
        position: relative;
    
        h1 {
            font-weight: bold;
            font-size: 32px;
            color: #006EFF;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            margin-bottom: 10px;
            padding: 0;
        }

        .safe-image {
            display: none;

            img {
                max-width: 196px;
            }
        }

        .danger-image {
            display: none;

            img {
                max-width: 196px;
            }
        }

        p:first-of-type {
            margin: 0;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            gap: 15px;
            padding-top: 10px;
        }

        input[type="text"],#inputDiv {
            padding: 15px;
            padding-right: 35px;
            font-size: 1em;
            border-radius: 8px;
            border: 1px solid #006EFF;
            width: 100%;
            margin: 0;
            position: relative;
        }

        #inputDiv {
            text-align: left;
            word-wrap: break-word;
            pointer-events: none;
            display: none;
        }

        .input-container__container {
            width: 100%;
            position: relative;
        }

        #copy-to-clipboard {
            width: 16px;
            height: 21px;
            background: url("../../icons/link-checker-example.svg") no-repeat;
            background-size: contain;
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
        }

        .buttons-container {
            justify-content: center;
            margin-top: 40px;
            display: none;
            gap: 40px;
            margin-bottom: 20px;

            .button-container {
                margin: 0;
            }
        }

        button.check-url {
            padding: 15px 40px;
            cursor: pointer;
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 10px;
            font-weight: bold;
            font-size: 1em;
        }

        button.check-url:hover {
            background-color: #0056b3;
        }

        .share-button, button.check-another-button, .check-another-button {
            position: relative;
            cursor: pointer;
            color: #007BFF;
            border: none;
            background-color: transparent;
            font-weight: bold;
            font-size: 16px;
            gap:10px;
            display: inline-flex;
            align-items: center;
            padding: 15px;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: #dbf0f9;
                border-radius: 8px;

                span.button-text {
                    transform: none;
                }
            }
        }

        .share-button::before {
            content: url("../../icons/shield_ai.svg");
            height: 20px;
            width: 20px;
            display: inline-block;
        }

        button.check-another-button::before, .check-another-button::before {
            content: url("../../icons/check.svg");
            height: 20px;
            width: 20px;
            display: inline-block;
        }

        button.check-another-button::after, .check-another-button::after,
        .share-button::after {
            content: "";
            width: 0;
            height: 0;
            display: none;
        }

        .share-popup {
            position: absolute;
            top: -85px;
            min-width: fit-content;
            background-color: #000; 
            color: #fff; 
            padding: 8px 12px; 
            border-radius: 5px; 
            font-size: 14px; 
            font-weight: bold;
            box-shadow: 0 4px 6px rgb(0 0 0 / 20%); 
            z-index: 10; 
            transition: opacity 0.3s ease-in-out;
            pointer-events: none;
          }
          
          .share-popup::after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 6px solid transparent; 
            border-right: 6px solid transparent;
            border-top: 6px solid #000;
          }

        .button-container .share-button:hover + .share-popup,
        .button-container .share-button:focus + .share-popup {
            opacity: 1;
            pointer-events: auto;
        }

        .result {
            font-size: 14px;
            border-radius: 8px;
            padding-bottom: 20px;
            display: none;
        }

        .result.safe {
            background-color: #F3FEF8;
            padding: 8px 30px 8px 55px;
            position: relative;
            text-align: left;
            display: block;

            &::before {
                content: "";
                background: url("../../icons/safe.svg") no-repeat;
                position: absolute;
                left: 14px;
                top: 15%;
                width: 30px;
                height: 30px;
                background-size: contain;
            }
        }

        .result.danger {
            margin-top: 24px;
            background-color: #FDF3F4;
            padding: 8px 30px 8px 55px;
            position: relative;
            text-align: left;
            display: block;

            &::before {
                content: "";
                background: url("../../icons/bulb-pink.svg") no-repeat;
                position: absolute;
                left: 14px;
                top: 15%;
                width: 30px;
                height: 30px;
                background-size: contain;
            }
        }

        .result.danger.no-response {
            text-align: left;
            font-size: 14px;
            margin-bottom: 19px;

            &::before {
                content: "";
                background: url("../../icons/no-response.svg") no-repeat;
                position: absolute;
                left: 15px;
                top: 20%;
                width: 25px;
                height: 25px;
                background-size: contain;
            }
        }

        .privacy-policy {
            margin-top: 20px;
            font-size: 12px;
        }
    }

    @media (min-width:768px) {
        margin: 0 auto;
        padding-bottom: 50px;

        .link-checker{
            padding: 48px 60px 35px;
            
            .input-container{
                flex-direction: unset;
            }

            .buttons-container{
                flex-flow: row;
                margin-top: 50px;
                justify-content: center;

                .button-container{
                    margin: 0;
                }
            }

            button.check-url {
                white-space: nowrap;
            }

            .share-popup{
                top: -40px;
                max-width: unset;
                white-space: nowrap;
            }

            p {
                font-size: 20px;
                margin-bottom: 20px;
                padding: 0;
            }

            h1 {
                font-size: 40px;
                margin-bottom: 40px;
            }

            .result {
                font-size: 16px;
                border-radius: 8px;
                padding-bottom: 30px;
            }

            .privacy-policy {
                font-size: 14px;
            }
        }
    }

    @media (min-width: 991px) {
        .link-checker {
            padding: 48px 160px 35px;
        }
    }
}