
main .section.link-checker-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 20px; 
    max-width: 1350px;
    background-color: #006EFF;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    overflow: visible;

    &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../icons/link-checker-pattern.svg");
        overflow-y: hidden;
    }

    &.danger {
        background-color: #3e030b;

        &::before {
            filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(4deg) brightness(105%) contrast(101%);
        }

        .check-url {
            display: none;
        }

        .link-checker input[type="text"] {
            max-width: 100%;
            border: 2px solid #D82E21;
            background: none;
        }

        .link-checker .danger-image {
            display: block;
        }

        .link-checker h2 {
            color: #EA0220;
            margin-bottom: 16px;
        }

        .link-checker p:not(:has(img)) {
            display: none;
        }

        .link-checker .buttons-container {
            display: flex;
        }
    }

    &.safe {
        background-color: #3d8648;

        &::before {
            filter: invert(50%) sepia(17%) saturate(1255%) hue-rotate(91deg) brightness(96%) contrast(95%);
        }

        .check-url {
            display: none;
        }

        .link-checker h2 {
            margin-bottom: 16px;
        }

        .link-checker input[type="text"] {
            max-width: 100%;
            border: 2px solid #3D8648;
            background: none;
        }

        .link-checker .safe-image {
            display: block;
        }

        .link-checker p:not(:has(img)) {
            display: none;
        }

        .link-checker .buttons-container {
            display: flex;
        }
    }

    .link-checker-wrapper {
        max-width: 960px;
        width: 100%;
    }

    .link-checker-form {
        width: 100%;
    }

    .link-checker {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
    
        h2 {
            font-weight: bold;
            font-size: 40px;
            color: #006EFF;
            margin-bottom: 40px;
        }

        p {
            font-size: 20px;
            margin-bottom: 20px;
            padding: 0;
        }

        .safe-image {
            display: none;
            img {
                max-width: 196px;
            }
        }

        .danger-image {
            display: none;
            img {
                max-width: 196px;
            }
        }

        p:first-of-type {
            margin: 0;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            gap: 15px;
            padding-top: 10px;
        }

        input[type="text"] {
            padding: 15px;
            font-size: 1em;
            border-radius: 8px;
            border: 1px solid #006EFF;
            width: 100%;
            margin: 0;
            position: relative;
            background: url("../../icons/link-checker-example.svg") no-repeat;
            background-position: right center;
            background-position-x: 96%;
        }


        .buttons-container {
            margin-top: 40px;
            display: none;
            gap: 40px;
        }

        button.check-url {
            padding: 15px 40px;
            cursor: pointer;
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 10px;
            font-weight: bold;
            font-size: 1em;
        }
        button.check-url:hover {
            background-color: #0056b3;
        }

        button.share-button, button.check-another-button {
            cursor: pointer;
            color: #007BFF;
            border: none;
            background-color: transparent;
            font-weight: bold;
            font-size: 16px;
            gap:10px;
            display: inline-flex;
            align-items: center;
            height: 4em;
            flex-flow: column;
        }
        button.share-button:before {
            content: url("../../icons/share.svg");
            margin-right: 10px;
            height: 20px;
            width: 20px;
            display: inline-block;
        }
        button.check-another-button:before {
            content: url("../../icons/check.svg");
            margin-right: 10px;
            height: 20px;
            width: 20px;
            display: inline-block;
        }

        .share-popup {
            position:relative;
            top: -125px;
            min-width: fit-content;
            background-color: #000; 
            color: #fff; 
            padding: 8px 12px; 
            border-radius: 5px; 
            font-size: 14px; 
            font-weight: bold;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
            z-index: 10; 
            transition: opacity 0.3s ease-in-out;
            pointer-events: none;
          }
          
          .share-popup::after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 6px solid transparent; 
            border-right: 6px solid transparent;
            border-top: 6px solid #000;
          }
        .button-container .share-button:hover + .share-popup,
        .button-container .share-button:focus + .share-popup {
            opacity: 1;
            pointer-events: auto;
        }

        .result {
            margin-top: 20px;
            font-size: 16px;
            border-radius: 8px;
        }
        .safe {
            background-color: #F3FEF8;
            padding: 17px 30px 17px 46px;
            position: relative;

            &::before {
                content: url("../../icons/safe.svg");
                position: absolute;
                left: 30px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .danger {
            background-color: #FDF3F4;
            padding: 17px 30px 17px 46px;
            position: relative;

            &::before {
                content: url("../../icons/bulb-pink.svg");
                position: absolute;
                left: 30px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

    }
    @media (min-width:768px){
        margin: 50px auto 100px auto;
        padding-bottom: 50px;
        .link-checker{
            padding: 48px 160px 68px;
            bottom: -10%;
            .input-container{
                flex-direction: unset;
            }
            input [type="text"]{
                max-width: 444px;
            }
            .buttons-container{
                flex-flow: unset;
                margin-top: 50px;
            }

            button.share-button, button.check-another-button {
                flex-wrap: wrap;
                align-items: center;
                flex-flow: wrap;
                height: 50%;
            }
            .share-popup{
                top: -80px;
                max-width: unset;
                white-space: nowrap;
            }
        }
    }

    @media (min-width: 1200px) {
        .link-checker {
            bottom: -15%;
        }
    }
}