.ribbon-container {
  background-color: black;
  background-position: 0 0;
  color: white;
  text-align: center;
}

.ribbon-container * {
  font-family: "Arial", sans-serif!important;
  font-size: var(--body-font-size-xs);
}

.ribbon-container p {
  text-align: center;
  margin: 5px 0;
}

.ribbon-container img {
  width: 27px;
  float: left;
}

.ribbon-container a:any-link {
  color: inherit;
  text-decoration: underline;
}

.ribbon-container.bf24 .block > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-shadow: 0 0 34px #f00, 0 0 34px #f00, 0 0 34px #f00, 0 0 34px #f00, 0 0 34px #f00;
}