.ab-downloads main * {
    font-family: Arial;
}

.ab-downloads .breadcrumb {
    display: none;
}

.ab-downloads main h2, .ab-downloads main .default-content-wrapper h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 39.1px;
    text-align: center;
    max-width: 655px;
    margin: 0 auto;
}

.ab-downloads main .section.wide.awards .default-content-wrapper {
    border-radius: 15px;
    background-color: #0853C5;
    padding: 2em;
}

.ab-downloads main .section.wide.awards .default-content-wrapper * {
    color: white;
    text-align: center;
}

.ab-downloads main .section.wide.awards .default-content-wrapper a {
    background-color: #006DFF;
}

.ab-downloads main .section.wide.awards h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
}

.ab-downloads main .section.wide.awards h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin: 1em auto;
}

.ab-downloads main .hero h1 {
    font-size:32px;
    font-weight: 700;
    line-height: 42px;
    color: #006DFF;
}

.ab-downloads main .hero h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: #161616;
    text-align: left;
    max-width: auto;
    margin: 0;
}

.ab-downloads main .hero_mobile {
    background-color: #F6F6F6;
    padding-top: 0;
    padding-bottom: 0;
    display: none;
}

.ab-downloads main .hero .hero-content ul, .ab-downloads main .hero_mobile ul {
    padding-left: 0;
}

.ab-downloads main .hero .hero-content ul li, .ab-downloads main .hero_mobile ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.1px;
    padding: 0 0 0 25px;
    position: relative;
}

.ab-downloads main .hero ul li::before,  .ab-downloads main .hero_mobile ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 1;
    width: 17px;
    height: 17px;
    top: 0;
    background-color: #1C7928;
}

.ab-downloads main .hero ul li::after, .ab-downloads main .hero_mobile ul li::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 6px;
    width: 3px;
    height: 7px;
    border-bottom: 2px solid var(--white-color);
    border-right: 2px solid var(--white-color);
    transform: rotate(45deg);
    z-index: 2;
}

.ab-downloads main .hero a.button.modal, .ab-downloads main .hero a.button.central, .ab-downloads main .hero_mobile a.button.modal {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D70000;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.4px;
    text-align: center;
    border-radius: 10px;
    padding: 0 1.5em;
}

.ab-downloads main .hero a.button.modal::after, .ab-downloads main .hero a.button.central::after, .ab-downloads main .section.wide.awards a::after, .ab-downloads main .hero_mobile a.button.modal::after {
    display: none;
}

.ab-downloads main .small-content.columns-container img {
    width: auto;
    height: 31px;
}

.ab-downloads main .small-content.columns-container h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    color: #161616;
    margin: 5px 0 1em;
}

.ab-downloads main .small-content.columns-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #161616;
    margin: 0;

}

.ab-downloads main .small-content.columns-container.change4mobile .block > div > div > p:nth-of-type(3) {
    display: none;
}

.ab-downloads main .small-content.columns-container.change4mobile .block > div > div > p:nth-of-type(2) {
    display: block;
}

.ab-downloads main .small-content.columns-container .block {
    margin-top: 3em;
}

.ab-downloads main .small-content.columns-container .block > div {
    gap: 8px;
}

.ab-downloads main .small-content.columns-container .block > div > div {
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 1.5em 3em;
}

.ab-downloads main .boxes-type.columns-container .block > div > div {
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 2em;
}

.ab-downloads main .boxes-type.columns-container .block .columns-text-col > p:nth-of-type(2) {
    min-height: 36px;
}

.ab-downloads main .boxes-type.columns-container .default-content-wrapper h2:nth-of-type(1), .ab-downloads main .boxes-type.columns-container .block .columns-text-col > hr, .ab-downloads main .boxes-type.columns-container .block .columns-text-col > p:nth-of-type(1), .ab-downloads main .boxes-type.columns-container .block .columns-text-col > ul:nth-of-type(1) {
    display: block;
}

.ab-downloads main .boxes-type.columns-container .default-content-wrapper h2:nth-of-type(2), .ab-downloads main .boxes-type.columns-container .block .columns-text-col > ul:nth-of-type(2) {
    display: none;
}

.ab-downloads main .boxes-type.columns-container .block {
    margin-top: 3em;
}

.ab-downloads main .boxes-type.columns-container .block > div {
    gap: 18px;
    grid-auto-columns: 1fr;
}

.ab-downloads main .boxes-type.columns-container .block h3 {
    font-weight: bold;
    font-size: var(--body-font-size-l);
    line-height: var(--body-font-size-xl);
    margin-top: 0;
    margin-bottom: 4px;
}

.ab-downloads main .boxes-type.columns-container .block hr {
    height: 1px;
    border: none;
    background-color: #dedede;
    margin: 0;
    align-self: stretch;
}

.ab-downloads main .boxes-type.fix-tables-heights .block .columns-text-col > table {
    font-size: var(--body-font-size-xs);
    line-height: var(--body-font-size-s);
    font-weight: 400;
    margin: 0;
}

.ab-downloads main .boxes-type.columns-container .block hr {
    margin-top: 10px;
    margin-bottom: 15px;
}

.ab-downloads main .boxes-type.columns-container .block p, .ab-downloads main .boxes-type.columns-container .block li {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.1px;
    margin: 0;
}

.ab-downloads main .boxes-type.columns-container .block a {
    width: 100%;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D70000;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.4px;
    margin: 1em 0;
    padding: 8px 12px;
}

.ab-downloads main .boxes-type.columns-container .block em {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    font-style: normal;
    display: flex;
    align-items: center;
}

.ab-downloads main .boxes-type.columns-container .block > div > div:not(:first-of-type) em::before {
    content: '';
    min-width: 19px;
    min-height: 20px;
    -webkit-mask: url('../../icons/arrow-right.svg') no-repeat;
    mask: url('../../icons/arrow-right.svg') no-repeat;
    display: inline-block;
    transition: all .2s cubic-bezier(.4,0,.2,1);
    transform: translateX(0);
    opacity: 0;
    margin-left: -5px;
    margin-right: 6px;
    background-color: #006DFF;
    opacity: 1;
    transform: rotate(180deg);
}

.ab-downloads main .boxes-type.columns-container a::after {
    display: none;
}

.ab-downloads main .boxes-type.columns-container ul {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.ab-downloads main .boxes-type.columns-container ul li {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
    list-style-type: none;
    background: url('/common/icons/circle-check-sharp-solid.svg') top 2px left no-repeat transparent;
    padding-left: 22px;
    background-size: 13px;
    position: relative;
    margin: 10px 0 !important;
}

.ab-downloads main .boxes-type.columns-container > .default-content-wrapper:last-of-type p {
    color: #3D3D3D;
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 13.8px;
    text-align: center;
}

.ab-downloads main .boxes-type.columns-container > .default-content-wrapper:last-of-type p a {
    text-decoration: none;
    color: #006EFF;
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 13.8px;
    text-align: center;
}

.ab-downloads main .blue-titles.image-columns-container {
    padding-top: 0;
}

.ab-downloads main .blue-titles.image-columns-container .block {
    margin-top: 3em;
}

.ab-downloads main .blue-titles.image-columns-container .block > div {
    align-items: flex-start;
}

.ab-downloads main .blue-titles.image-columns-container .block h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: #006DFF;
}

.ab-downloads main .blue-titles.image-columns-container .block p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #161616;
    padding: 0;
    margin-bottom: 2em;
}

.ab-downloads main .blue-titles.image-columns-container .block p a, .ab-downloads main .section.wide.awards a {
    height: 45px;
    background-color: transparent;
    border: 2px solid #006DFF;
    color: #006DFF;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    text-align: center;
    padding: 0 1em;
    transition: all 0.3s ease;
}

.ab-downloads main .blue-titles.image-columns-container .block p span, .ab-downloads main .section.wide.awards a span {
    transform: none;
}

.ab-downloads main .blue-titles.image-columns-container .block p a::after {
    display: none;
    min-width: 23px;
    min-height: 20px;
    background-color: #006DFF;
    opacity: 1;
    margin: 0;
    padding: 0;
    transform: rotate(90deg);
}

.ab-downloads main .blue-titles.image-columns-container .block p a:hover {
    background-color: #006DFF;
    color: white;
    transition: all 0.3s ease;
}

.ab-downloads main .blue-titles.image-columns-container > .default-content-wrapper:first-of-type {
    text-align: center;
}

.ab-downloads main .full-grey-bck.columns-container > div.columns-wrapper {
    margin-bottom: 2em;
    border-radius: 0;
    padding: 0;
}

.ab-downloads main .full-grey-bck.columns-container .block > div {
    gap: 1.5em;
    display: flex;
    align-items: stretch;
}

.ab-downloads main .full-grey-bck.columns-container .block > div > div {
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 2em;
}

.ab-downloads main .bottom-btns.columns-container .block > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ab-downloads main .bottom-btns.columns-container .block > div > div p.button-container {
    margin-top: auto;
}

.ab-downloads main .full-grey-bck.columns-container h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;
    color: #161616;
    min-height: unset !important;
    margin-bottom: 0;
}

.ab-downloads main .full-grey-bck.columns-container .columns-text-col > p:first-of-type {
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    text-align: center;
    color: white;
    background-color: #27AE60;
    min-width: 183px;
    padding: 4px 20px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 5px;
}

.ab-downloads main .full-grey-bck.columns-container .columns-text-col > p:first-of-type em {
    font-style: normal;
}

.ab-downloads main .full-grey-bck.columns-container .columns-text-col > p:nth-of-type(2) {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    margin-top: 8px;
    margin-bottom: 0;
}

.ab-downloads main .full-grey-bck.columns-container .columns-text-col > p:nth-of-type(2) u {
    color: #006DFF;
    text-decoration: none;
}

.ab-downloads main .full-grey-bck.columns-container > div {
    align-items: flex-start;
}

.ab-downloads main .full-grey-bck.columns-container ul {
    padding: 0;
    padding-left: 16px;
    margin: 2em 0;
}

.ab-downloads main .full-grey-bck.columns-container ul li {
    color: #161616;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    list-style-type: disc;
    padding: 0;
}

.ab-downloads main .full-grey-bck.columns-container p.button-container {
    margin: 0;
}

.ab-downloads main .full-grey-bck.columns-container p.button-container a {
    background-color: #D70000;
    font-size: 16px;
    line-height: 18.4px;
    padding: 1em;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    margin: 1em 0;
}

.ab-downloads main .full-grey-bck.columns-container p.button-container a::after {
    display: none;
}

.ab-downloads main .has-dropdown.columns-container {
    padding-bottom: 0;
}

.ab-downloads main .has-dropdown.columns-container h2 {
    max-width: 100%;
    margin: 0;
    text-align: left;
}

.ab-downloads main .has-dropdown.columns-container .default-content-wrapper img {
    border-radius: 10px;
}

.ab-downloads main .has-dropdown.columns-container .block {
    border-top: 1px solid #E5E7EB;
    margin-top: 1.5em;
    padding-top: 0;
}

.ab-downloads main .has-dropdown.columns-container .block > div {
    align-items: self-start;
}

.ab-downloads main .has-dropdown.columns-container .block > div:first-of-type {
    background-color: #E4F2FF;
    padding: 1em 3em;
    margin-bottom: 1em;
}

.ab-downloads main .has-dropdown.columns-container .block > div:first-of-type img {
    width: 170px;
}

.ab-downloads main .has-dropdown.columns-container .block > div:first-of-type > div {
    display: flex;
    align-items: center;
    gap: 2em;
}

.ab-downloads main .has-dropdown.columns-container .block > div:first-of-type p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.ab-downloads main .has-dropdown.columns-container .block > div:first-of-type p strong {
    padding-bottom: 15px;
    display: inline-block;
}

.ab-downloads main .has-dropdown.columns-container .block > div:last-of-type {
    min-height: 17em;
}

.ab-downloads main .has-dropdown.columns-container p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.ab-downloads main .has-dropdown.columns-container .columns-left-col p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #4F4F4F;
}

.ab-downloads main .has-dropdown.columns-container ul {
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
}

.ab-downloads main .has-dropdown.columns-container ul li {
    border-bottom: 1px solid #D1D1D1;
    padding-left: 0;
    padding-bottom: 1em;
    margin-left: 0;
    margin-top: 0;
    cursor: pointer;
}

.ab-downloads main .has-dropdown.columns-container ul li strong {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.1px;
    display: inline-flex;
    align-items: center;
}

.ab-downloads main .has-dropdown.columns-container ul li strong::before {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #006EFF;
    margin-right: 9px;
    display: inline-block;
}

.ab-downloads main .has-dropdown.columns-container ul li em {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.1px;
    color: #4F4F4F;
    font-style: normal;
    margin-top: 10px;
    display: none;
}

.ab-downloads main .has-dropdown.columns-container ul:hover li em {
    display: block;
}

.ab-downloads main .accordion.terms-of-use {
    margin-top: 3em;
}

.ab-downloads main .accordion.terms-of-use .accordion-item {
    background-color: #F4F8FF;
    box-shadow: none;
    padding: 1em 2em 1em 2.5em
}

.ab-downloads main .accordion.terms-of-use .accordion-item .accordion-item-header::before {
    content: '+';
    position: absolute;
    left: -20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    color: #006DFF;
}

.ab-downloads main .accordion.terms-of-use .accordion-item.expanded .accordion-item-header::before {
    content: '-';
    top: 0;
    font-size: 28px;
}

.ab-downloads main .accordion.terms-of-use .accordion-item .accordion-item-header::after {
    display: none;
}

.ab-downloads main .accordion.terms-of-use .accordion-item .accordion-item-header {
    padding-bottom: 0;
}

.ab-downloads main .accordion.terms-of-use .accordion-item h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    color: #161616;
}

.ab-downloads main .accordion.terms-of-use .accordion-item.expanded h3 {
    color: #006DFF;
}

.ab-downloads main .accordion.terms-of-use .accordion-item .accordion-item-content p {
    margin-top: 10px;
}

.ab-downloads main .accordion.terms-of-use .accordion-item .accordion-item-content p, .ab-downloads main .accordion.terms-of-use .accordion-item .accordion-item-content p * {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.1px;
    color: #161616;
}

.ab-downloads main .accordion-container > .default-content-wrapper:last-of-type p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.1px;
    color: #161616;
}

/*.ab-downloads .modal-container .modal-content {
    padding: 0;
    max-width: 787px;
    height: 350px;
    overflow: hidden;
}

.ab-downloads .modal-container .column-container {
    padding-bottom: 0;
}

.ab-downloads .modal-container .block > div {
    align-items: center;
    gap: 0;
}

.ab-downloads .modal-container .block * {
    text-align: center;
}

.ab-downloads .modal-container .block .columns-img-col img {
    height: 100%;
}

.ab-downloads .modal-container .block h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

.ab-downloads .modal-container .block p {
    color: #3c3c3c;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.5;
}

.ab-downloads .modal-container .block p u {
    text-decoration: none;
    color: rgb(81 167 29 / 1);
    font-size: 18px;
    font-weight: 500;
}

.ab-downloads .modal-container .block p.button-container a {
    background-color: #51a71d;
    border: 2px solid #51a71d;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 10px 26px 8px 28px;
    text-transform: uppercase;
}

.ab-downloads .modal-container .block p.button-container a::after {
    display: none;
}

.ab-downloads .modal-container .block p.button-container a:hover {
    background-color: #469c12;
    border: 2px solid #469c12;
}

.ab-downloads .modal-container .block .columns-text-col {
    padding: 1em;
}*/

.ab-downloads main .section.blue-titles .block > div > div {
    background-color: transparent;
    padding: 1em;
}

.ab-downloads main .section.blue-titles h5 {
    color: #006DFF
}

.ab-downloads main .hero a.button {
    min-width: 256px;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    text-align: center;
}

@media (min-width: 1600px) {
    main .hero-container .block {
        max-width: var(--section-large-desktop-max-width);
        padding-left: var(--section-large-desktop-padding);
        padding-right: var(--section-large-desktop-padding);
        border-radius: 10px;
        overflow: hidden;
        margin: 1em auto;
        background-color: #F8F8F8;
    }
}

@media (min-width: 990px) {
    main .hero-container .block {
        max-width: var(--section-desktop-max-width);
        min-height: unset;
        padding: 1em var(--section-desktop-padding) 1em var(--section-desktop-padding);
        border-radius: 10px;
        overflow: hidden;
        margin: 1em auto;
        background-color: #F8F8F8;
    }
}

.ab-downloads main .hero_mobile {
    display: none;
}

.ab-downloads main .blue-btn .default-content-wrapper > p {
    display: none;
}

.ab-downloads main .blue-btn .default-content-wrapper > p:nth-of-type(1) {
    display: block;
}

.ab-downloads main .blue-btn a.button, .ab-downloads main .blue-btn a.button.primary {
    background-color: transparent;
    color: #006DFF;
    border-color: #006DFF;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    padding: 10px 19px;

}

.ab-downloads main .blue-btn a::after {
    opacity: 1;
    background-color: #006DFF;
    margin-left: 0;
    transform: rotate(90deg);
}

.ab-downloads main .blue-btn a::after {
    opacity: 1;
    background-color: #006DFF;
    margin-left: 0;
    transform: rotate(90deg);
}

@media(max-width: 767px) {
    .ab-downloads main {
        display: grid;
    }

    .ab-downloads main .hero_mobile {
        display: block;
    }

    .ab-downloads main .hero_mobile h2 {
        color: #006DFF;
        font-size: 23px;
        font-weight: 600;
        line-height: 29.9px;
        text-align: left;
    }

    .ab-downloads main .hero_mobile ul li {
        font-size: 11px;
        font-weight: 400;
        line-height: 14.3px;
        text-align: left;
    }

    .ab-downloads .modal-container .block .columns-img-col {
        margin-bottom: 0;
        display: none;
    }

    .ab-downloads .modal-container .modal-content {
        height: auto;
    }

    .ab-downloads .modal-container .modal-content .modal-close {
        top: 10px;
        right: 10px;
    }

    .ab-downloads .modal-container .columns-container {
        padding-bottom: 0;
    }

    .ab-downloads .modal-container .columns-wrapper {
        padding: 0;
    }

    .ab-downloads .modal-container .block h2 {
        font-size: 21px;
    }

    .ab-downloads .modal-container .block p u {
        font-size: 17px;
    }

    .ab-downloads main .hero_mobile {
        margin-bottom: 2em;
    }
    .ab-downloads main .small-content.columns-container {
        padding: 0;
        margin-top: 0;
        margin-bottom: 1.5em;
    }
    .ab-downloads main .small-content.columns-container h2 {
        font-size: 17px;
        font-weight: 700;
        line-height: 22.1px;
    }
    .ab-downloads main .blue-titles.small-content.columns-container {
        margin-bottom: 0;
    }
    .ab-downloads main .boxes-type.columns-container {
        margin: 0;
        padding-top: 0;
    }
    .ab-downloads main .full-grey-bck.columns-container {
        padding: 5px 0;
    }
    .ab-downloads main .has-dropdown.columns-container {
        padding-top: 0;
    }
    .ab-downloads main .blue-title-v1.image-columns-container {
        padding-bottom: 0;
    }
    .ab-downloads main .blue-title-v2.image-columns-container {
        padding-top: 0;
        padding-bottom: 0;
    }
    .ab-downloads main .free_tools {
        text-align: left;
    }
    .ab-downloads main .free_tools .default-content-wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }
    .ab-downloads main .free_tools .default-content-wrapper h2 {
        font-weight: 700;
    }
    .ab-downloads main .free_tools .default-content-wrapper p {
        font-size: 13px;
        font-weight: 600;
        line-height: 16.9px;
        text-align: left;
    }
    .ab-downloads main .free_tools .default-content-wrapper a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ab-downloads main .section.wide.awards {
        padding: 0;
    }
    .ab-downloads main .accordion-container {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .ab-downloads main .accordion-container .default-content-wrapper h2 {
        font-size: 17px;
        font-weight: 700;
        line-height: 22.1px;
    }
    .ab-downloads main .accordion.terms-of-use {
        margin-top: 1em;
    }

    .ab-downloads main .hero a.button {
        margin: 8px 13px 0 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .ab-downloads main .hero {
        padding: 0;
        min-height: auto;
    }

    .ab-downloads main .hero .hero-content {
        padding-bottom: 0;
    }

    .ab-downloads main .hero h1 {
        font-size: 23px;
        font-weight: 500;
        line-height: 29.9px;
    }

    .ab-downloads main h2, .ab-downloads main .default-content-wrapper h2 {
        font-size: 18px;
        font-weight: 500;
        line-height: 22.1px;
        text-align: left;
    }

    .ab-downloads main .default-content-wrapper > p:nth-of-type(1) a {
        position: absolute;
        font-size: 0;
        width: 163px;
        height: 45px;
    }

    .ab-downloads main .hero h2 {
        font-size: 13px;
        font-weight: 600;
        line-height: 16.9px;
    }

    .ab-downloads main .hero .hero-content ul li {
        font-size: 11px;
        font-weight: 400;
        line-height: 14.3px;
    }

    .ab-downloads main .hero .hero-content ul li:nth-of-type(3) {
        display: none;
    }

    .ab-downloads main .blue-btn .default-content-wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }
    .ab-downloads main .blue-btn .default-content-wrapper > p {
        padding: 0;
        margin: 0;
    }
    .ab-downloads main .blue-btn .default-content-wrapper > p:nth-of-type(2) {
        display: block;
        width: 100%;
        margin-top: 15px;
    }
    .ab-downloads main .blue-btn .default-content-wrapper > p:nth-of-type(1) {
        display: none;
    }

    .ab-downloads main .blue-btn a.button, .ab-downloads main .blue-btn a.button.primary {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ab-downloads main .blue-title-v2.image-columns-container h2 {
        font-size: 17px;
        font-weight: 700;
        line-height: 22.1px;
        text-align: left;
    }

    .ab-downloads main .blue-title-v2.image-columns-container .default-content-wrapper p {
        font-size: 13px;
        font-weight: 600;
        line-height: 16.9px;
        text-align: left;
        margin-top: 10px;
    }

    .ab-downloads main .blue-title-v2.image-columns-container .image-columns-wrapper {
        padding: 0;
    }

    .ab-downloads main .has-dropdown.columns-container h3 {
        font-size: 13px;
        font-weight: 600;
        line-height: 16.9px;
    }

    .ab-downloads main .has-dropdown.columns-container .columns-left-col p {
        font-size: 12px;
        font-weight: 400;
        line-height: 15.6px;
    }

    .ab-downloads main .has-dropdown.columns-container ul li strong {
        font-size: 11px;
        font-weight: 600;
        line-height: 14.3px;
    }

    .ab-downloads main .has-dropdown.columns-container ul li em {
        font-size: 11px;
        font-weight: 400;
        line-height: 14.3px;
    }

    .ab-downloads main .small-content.columns-container .block, .ab-downloads main .boxes-type.columns-container .block, .ab-downloads main .has-dropdown.columns-container .block, .ab-downloads main .blue-titles.image-columns-container .block {
        margin-top: 0;
    }

    .ab-downloads main .has-dropdown.columns-container .columns-wrapper {
        padding-top: 0;
    }

    .ab-downloads main .has-dropdown.columns-container .columns-text-col {
        width: 100%;
    }

    .ab-downloads main .small-content.columns-container * {
        text-align: left;
        padding-top: 0;
    }

    .ab-downloads main .small-content.columns-container .block > div > div {
        width: 100%;
        border-radius: 8px;
        padding: 1em;
    }

    .ab-downloads main .small-content.columns-container h5 {
        font-size: 12px;
        font-weight: 600;
        line-height: 15.6px;
        margin: 5px 0;
    }

    .ab-downloads main .small-content.columns-container p {
        font-size: 11px;
        font-weight: 400;
        line-height: 14.3px;
    }

    .ab-downloads main .small-content.columns-container.change4mobile .block > div > div > p:nth-of-type(2) {
        display: none;
    }

    .ab-downloads main .small-content.columns-container.change4mobile .block > div > div > p:nth-of-type(3) {
        display: block;
    }

    .ab-downloads main .trial_period_works.columns-container h2 {
        font-size: 17px;
        font-weight: 700;
        line-height: 22.1px;
        text-align: left;
    }

    .ab-downloads main .trial_period_works.columns-container .block > div > div {
        width: 100%;
        border-radius: 8px;
        padding: 0;
        background-color: transparent;
    }

    .ab-downloads main .trial_period_works.columns-container h5 {
        font-size: 13px;
        font-weight: 600;
        line-height: 16.9px;
        text-align: left;
        margin: 5px 0;
        color: #006DFF;
    }

    .ab-downloads main .blue-titles.image-columns-container > .default-content-wrapper:first-of-type {
        padding-top: 0;
        padding-bottom: 0;
    }

    .ab-downloads main .blue-titles.image-columns-container > .default-content-wrapper:first-of-type * {
        text-align: center;
    }

    .ab-downloads main .four-cards-container.rounded.wide-v2 >:first-child {
        margin: 0;
        padding: 1em;
    }

    .ab-downloads main .four-cards-container.rounded.wide-v2 .four-cards-wrapper {
        padding-top: 0;
        padding-bottom: 1em;
    }

    .ab-downloads main .creator-cards.four-cards-container h3 {
        margin: 0;
        padding: 0;
        font-size: var(--heading-font-size-s);
        line-height: var(--heading-font-size-m);
    }

    .ab-downloads main .blue-titles.image-columns-container .block .image-columns-img-col {
        display: none;
    }

    .ab-downloads main .blue-titles.image-columns-container .block h4 {
        font-size: 13px;
        font-weight: 600;
        line-height: 16.9px;
    }

    .ab-downloads main .blue-titles.image-columns-container .block p {
        font-size: 12px;
        font-weight: 400;
        line-height: 15.6px;
        margin-bottom: 1em;
    }

    .ab-downloads main .blue-titles.image-columns-container .block p a, .ab-downloads main .section.wide.awards a {
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.1px;
    }

    .ab-downloads main .blue-titles.image-columns-container .block p span, .ab-downloads main .section.wide.awards a span {
        display: inline-block;
        margin: 0 auto;
    }

    .ab-downloads main .blue-titles.image-columns-container .default-content-wrapper p {
        text-align: left;
    }

    .ab-downloads main .has-dropdown.columns-container .default-content-wrapper {
        padding-bottom: 0;
    }

    .ab-downloads main .full-grey-bck.columns-container > div.columns-wrapper {
        border-radius: 0;
    }

    .ab-downloads main .full-grey-bck.columns-container p.button-container {
        width: 100%;
    }

    .ab-downloads main .full-grey-bck.columns-container p.button-container a, .ab-downloads main .boxes-type.columns-container .block a {
        width: 100%;
        margin: 0;
    }

    .ab-downloads main .full-grey-bck.columns-container p.button-container a span {
        display: block;
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.1px;
    }

    .ab-downloads main .full-grey-bck.columns-container .block > div > div {
        background-color: #F6F6F6;
        border-radius: 0;
        padding: 1em;
    }

    .ab-downloads main .full-grey-bck.columns-container h3 {
        font-size: 17px;
        font-weight: 700;
        line-height: 22.1px;
        text-align: left;
    }

    .ab-downloads main .full-grey-bck.columns-container .columns-text-col > p:first-of-type {
        display: none;
    }

    .ab-downloads main .full-grey-bck.columns-container .columns-text-col > p:nth-of-type(2) {
        font-size: 12px;
        font-weight: 600;
        line-height: 15.6px;
        text-align: left;
    }

    .ab-downloads main .full-grey-bck.columns-container .columns-text-col > p:first-of-type u, .ab-downloads main .full-grey-bck.columns-container ul li {
        font-size: 12px;
        font-weight: 400;
        line-height: 15.6px;
    }

    .ab-downloads main .full-grey-bck.columns-container ul {
        margin: 1em 0;
    }

    .ab-downloads main .full-grey-bck.columns-container .block > div {
        gap: 1em;
    }

    .ab-downloads main .boxes-type.columns-container .default-content-wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }

    .ab-downloads main .boxes-type.columns-container > div:nth-of-type(3) {
        display: none;
    }

    .ab-downloads main .boxes-type.columns-container .columns-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .ab-downloads main .boxes-type.columns-container .block > div > div {
        width: 100%;
        padding: 1.5em;
        border-radius: 0;
    }

    .ab-downloads main .boxes-type.columns-container .block h3 {
        font-size: 17px;
        font-weight: 700;
        line-height: 22.1px;
        display: flex;
        gap: 4px;
    }

    .ab-downloads main .boxes-type.columns-container .block > div > div:not(:first-of-type) em::before {
        transform: rotate(-90deg);
        margin-left: 0;
    }

    .ab-downloads .section[data-mobile-hide="true"] {
        display: none;
    }

    .ab-downloads main .boxes-type.columns-container .block p, .ab-downloads main .boxes-type.columns-container .block li {
        font-size: 11px;
        font-weight: 400;
        line-height: 14.3px;
    }

    .ab-downloads main .boxes-type.columns-container .block em {
        font-size: 12px;
        font-weight: 600;
        line-height: 15.6px;
    }

    .ab-downloads main .section.wide.awards .default-content-wrapper {
        border-radius: 0;
    }

    .ab-downloads main .section.wide.awards .default-content-wrapper h2 {
        font-size: 23px;
        font-weight: 500;
        line-height: 29.9px;
    }

    .ab-downloads main .section.wide.awards .default-content-wrapper h4 {
        font-size: 13px;
        font-weight: 600;
        line-height: 16.9px;
    }

    .ab-downloads main .section.wide.awards .default-content-wrapper p {
        margin-bottom: 0;
    }

    .ab-downloads main .section.wide.awards .default-content-wrapper a {
        font-size: 14px;
        font-weight: 700;
        line-height: 16.1px;
    }

    .ab-downloads main h2, .ab-downloads main .default-content-wrapper h2 {
        max-width: unset;
    }

    .ab-downloads main .accordion.terms-of-use .accordion-item h3 {
        font-size: 12px;
        font-weight: 600;
        line-height: 15.6px;
    }

    .ab-downloads main .boxes-type.columns-container .block .columns-text-col > p:nth-of-type(2) {
        min-height: auto;
        margin-top: 10px;
    }

    .ab-downloads main .boxes-type.columns-container .block .columns-text-col > p.button-container {
        margin-top: 10px;
    }

    .ab-downloads main .accordion.terms-of-use .accordion-item .accordion-item-content p, .ab-downloads main .accordion.terms-of-use .accordion-item .accordion-item-content p *, .ab-downloads main .accordion.terms-of-use .accordion-item .accordion-item-content *, .ab-downloads main .accordion-container > .default-content-wrapper:last-of-type p {
        font-size: 11px;
        font-weight: 400;
        line-height: 14.3px;
    }

    .ab-downloads main .has-dropdown.columns-container .block > div:first-of-type {
        background-color: transparent;
        padding: 0;
    }

    .ab-downloads main .has-dropdown.columns-container .block > div:first-of-type img {
        display: none;
    }

    .ab-downloads main .has-dropdown.columns-container .block > div:first-of-type > div {
        display: block;
    }

    .ab-downloads main .has-dropdown.columns-container .block > div:first-of-type p {
        font-size: 12px;
        font-weight: 400;
        line-height: 15.6px;
    }

    .ab-downloads main .has-dropdown.columns-container .block > div:first-of-type p strong {
        font-size: 13px;
        font-weight: 600;
        line-height: 16.9px;
        color: #006DFF;
    }
}

@media(max-width: 550px) {
    .ab-downloads main .hero a.button.modal, .ab-downloads main .hero a.button.central {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}