:root {
    /* Font family */
    --body-font-family:  "IBM Plex Sans", sans-serif;

    /* Body default */
    --body-font-size-xs: 12px;
    --body-font-size-s: 13px; /* 17.329px = 1.083rem */
    --body-font-size-m: 14px; /* 18.662px = 1.167rem */
    --body-font-size-l: 16px; /* 21.328px = 1.333rem */
    --body-font-size-xl: 18px; /* 23.994px = 1.5rem */

    /* Heading default */
    --heading-font-size-xxs: 18px; /* 23.994px = 1.5rem */
    --heading-font-size-xs: 20px; /* 26.66px = 1.667rem */
    --heading-font-size-s: 24px; /* 31.992px = 2rem */
    --heading-font-size-m: 28px; /* 37.324px = 2.333rem */
    --heading-font-size-l: 32px; /* 42.656px = 2.667rem */
    --heading-font-size-xl: 36px; /* 47.988px = 2.999rem */
    --heading-font-size-xxl: 40px; /* 53.32px = 3.333rem */

    /* Colors */
    --color-dex-gray: #fafafa;
    --color-dex-dark-gray: #fafafa;

}

.four-cards {
     * {
        --body-font-family: "IBM Plex Sans", sans-serif !important;
    }
}

.dex-23541 {
    .dex-copilot-benefits {
        .columns-wrapper > .columns > div {
            & > div {
                & p {
                    &:nth-of-type(1) {
                        width: 32px;
                        height: 32px;
                        margin-right: 8px;

                        span {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {

    .dex-23541 {
        --section-desktop-max-width: 1330px;

        .button {
            font-weight: 600 !important;
        }

        .section {
            margin-bottom: 32px;
        }

        .hero-aem-container .hero-aem {
            margin-top: 32px;

            .hero-aem__card__desktop, .hero-aem__card-text {
                background: unset;
            }

            .hero-aem__card__desktop > div {
                padding: 16px 30px 16px 0;
            }

            h1 {
                font-size: var(--heading-font-size-l);
                font-weight: var(--font-weight-bolder);
                line-height: 42px;
                letter-spacing: 0;
                margin: 0 0 8px;
            }

            .hero-aem__prices {
                margin-top: 32px;
                margin-bottom: 16px;
            }

            .prod-oldprice {
                font-size: var(--body-font-size-xl);
                line-height: 23px;
            }

            .prod-save {
                font-size: var(--body-font-size-l);
                line-height: 20px;
                font-weight: var(--font-weight-bolder);
            }

            .prod-newprice {
                font-size: 42px;
                line-height: 55px;
            }

            .hero-aem__card {
                > p {
                    display: none;
                }

                .hero-aem__card-text {
                    p {
                        margin: 0 0 8px;
                    }

                    p > strong {
                        font-size: var(--heading-font-size-xxl);
                        line-height: 46px;
                        font-weight: var(--font-weight-boldest);
                    }

                    p:nth-of-type(2) {
                        font-size: var(--body-font-size-xl);
                        line-height: 23px;
                        margin-bottom: 0;
                    }

                    p:last-of-type a {
                        margin-left: 0;
                        text-decoration: underline;
                    }

                    .button-container {
                        margin-bottom: 16px !important;
                    }

                }
            }

            .hero-aem__desktop-image {
                img {
                    border-radius: 20px;
                }

                &::before {
                    content: 'Trusted.Always.';
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    color: white;
                    font-weight: var(--font-weight-bolder);
                    font-size: var(--heading-font-size-l);
                    font-family: "IBM Plex Sans", sans-serif;
                }

                &::after {
                    display: none;
                }
            }

            p:last-of-type {
                margin-bottom: 0 !important;
            }

            p:last-of-type,
            .button-container + p {
                line-height: 18px;
            }

            .button-container {
                display: flex;
                gap: 16px;
                margin-bottom: 16px !important;

                .button {
                    padding: 11.4px 40px 11.4px 50px;
                }

                .button, em {
                    span, a {
                        font-size: var(--body-font-size-xl);
                        line-height: 23px;
                        font-weight: var(--font-weight-bolder);
                    }

                    a {
                        padding: 12px 22px;
                    }
                }
            }
        }

        .new-prod-boxes-container > .default-content-wrapper > h2 > strong > a,
        .four-cards > .default-content-wrapper > p > a,
        .tabs-component-container .title-class a {
            display: inline-block;
            margin: 0;
            padding: 0 5px;
            pointer-events: none;
            border: none;
            color: black !important;
            font-size: var(--heading-font-size-l);
            line-height: 42px;
            font-weight: var(--font-weight-bolder);
            background-color: #f0f7ff !important;
            border-radius: 0;
            position: relative;
            overflow: visible;

            &::after, &::before {
                content: "";
                position: absolute;
            }

            &::before {
                content: url("https://bitdefender.com/common/icons/quote-up.svg");
                left: -8px;
                width: 20px;
                height: 100%;
                top: -4px;
            }

            &::after {
                content: url("https://bitdefender.com/common/icons/quote-down.svg");
                right: -8px;
                width: 20px;
                height: 100%;
                bottom: 0;
            }
        }

        .sticky-navigation-container {
            margin-bottom: 64px;

            .sticky-navigation {
                border-top: 1px solid var(--sticky-nav-border-color);
            }

            .sticky-navigation ul li.opened {
                border-bottom: 4px solid var(--color-highlight-blue);
            }

            .menu-with-button {
                max-width: 1330px;
                padding: 0 20px;

                li {
                    margin-right: 40px;
                }

                li a {
                    font-size: var(--body-font-size-l);
                    line-height: 20px;
                    font-weight: var(--font-weight-bolder);
                    padding: 22px 0 14px;
                }

                .button-container {
                    a {
                        padding: 12px 18px 12px 27px;
                    }
                }
            }
        }

        .new-prod-boxes-container.we-container {
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 0;
            margin-bottom: 46px;
            max-width: 1320px;

            .default-content-wrapper {
                padding-bottom: 32px;
            }

            .switchBox {
                padding-bottom: 64px;
            }

            h2 {
                max-width: 600px;
                margin-bottom: 0;
            }

            .prod_box:not(:first-of-type):not(:nth-of-type(4)) {
                h4 {
                    &::after {
                        content: 'Plus';
                        color: var(--color-highlight-blue);
                        transform: translateX(-100%);
                        position: absolute;
                    }
                }
            }

            .hero-aem__prices .button {
                width: 100%;
            }

            .new-prod-boxes {
                padding-bottom: 0;
            }

            .new-prod-boxes .prod_box.hasGreenTag .inner_prod_box {
                box-shadow: none;
                border: 2px solid #1D7928;
            }

            .new-prod-boxes .prod_box .inner_prod_box .greenTag2 {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                font-size: var(--body-font-size-l);
                line-height: 20px;
                font-weight: var(--font-weight-bolder);
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 0;
                height: 38px;
                font-family: "IBM Plex Sans", sans-serif;
            }

            .new-prod-boxes .prod_box .inner_prod_box {
                background-color: var(--color-dex-gray);
            }

            .new-prod-boxes {
                width: unset;
                .prod_box {
                    margin-left: 15px;
                    margin-right: 15px;

                    .inner_prod_box {
                        padding: 32px 32px 48px;

                        h4, p, div, input, label {
                            font-family: "IBM Plex Sans", sans-serif;
                        }

                        h4 {
                            font-size: var(--heading-font-size-s);
                            line-height: 24px;
                            margin-bottom: 8px;
                        }

                        .blueTag {
                            font-size: var(--body-font-size-l);
                            margin-bottom: 8px;
                        }

                        .subtitle {
                            font-size: var(--body-font-size-l);
                            line-height: 20px;
                            margin-top: 0;
                        }

                        .plan-switcher {
                            margin: 16px 0;
                        }

                        .plan-switcher .radio-label {
                            margin-right: 26px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .plan-switcher input[type=radio]:checked + .radio-label:before {
                            background-color: var(--color-highlight-blue);
                        }

                        label {
                            font-size: 14px;
                        }

                        .hero-aem__prices {
                            margin-top: 16px;
                            margin-bottom: 24px;

                            + hr {
                                display: none;
                            }

                            .hero-aem__price > div {
                                .prod-oldprice, .prod-save {
                                    font-size: var(--body-font-size-l);
                                    line-height: 20px;
                                }

                                .prod-save {
                                    font-weight: var(--font-weight-bolder);
                                }
                            }

                            .billed {
                                margin-top: 8px;
                                margin-bottom: 16px;
                                line-height: 16px;

                                a {
                                    color: black;
                                    text-decoration: underline;
                                }
                            }
                        }

                    }
                }
            }
        }

        .dex-copilot-benefits {
            margin-bottom: 64px;

            .default-content-wrapper {
                padding: 0 0 32px;
                text-align: center;

                p:first-of-type {
                    font-size: var(--heading-font-size-xs);
                    line-height: 27px;
                    color: var(--color-highlight-blue);
                    margin-bottom: 32px;
                    font-weight: var(--font-weight-regular);
                }

                p:nth-of-type(2) {
                    margin: 0 auto;
                    font-size: var(--heading-font-size-l);
                    line-height: 42px;
                    max-width: 630px;
                    font-weight: bold;
                }
            }

            .columns-wrapper {
                max-width: 1390px;

                .tag-green {
                    background-color: #026DFF;
                    font-size: 11px;
                    line-height: 12px;
                    vertical-align: middle;
                }
            }

            .columns-wrapper > .columns > div {
                gap: 30px;
                margin-bottom: 24px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                > div {
                    background-color: var(--color-dex-gray);
                    padding: 32px;
                    border-radius: 20px;

                    p {
                        vertical-align: top;
                        margin: 0;
                        display: inline-block;

                        &:nth-of-type(2) {
                            width: calc(100% - 55px);
                        }

                        &:nth-of-type(3) {
                            margin-top: 8px;
                            margin-left: 45px;
                            font-size: var(--body-font-size-l);
                            line-height: 24px;
                        }
                    }

                    strong {
                        font-size: var(--heading-font-size-xs);
                        line-height: 27px;
                        vertical-align: middle;
                    }

                    .icon {
                        margin-bottom: 8px;
                    }
                }
            }
        }

        .four-cards-container .default-content-wrapper {
            max-width: 1290px !important;
        }

        .four-cards-family {
            .default-content-wrapper {
                padding: 0 0 32px;

                h2 {
                    font-size: var(--heading-font-size-s);
                    line-height: 27px;
                    color: var(--color-highlight-blue);
                    margin-bottom: 32px;
                    font-weight: var(--font-weight-regular);
                }

                p {
                    margin: 0 auto;
                    font-size: var(--heading-font-size-l);
                    line-height: 42px;
                    max-width: 630px;
                    font-weight: bold
                }
            }

            .four-cards-wrapper {
                max-width: 1330px;
            }

            .four-cards > ul {
                gap: 30px;

                > li {
                    background-color: var(--color-dex-gray);
                    padding: 32px;

                    div {
                        font-size: var(--heading-font-size-xxs);
                        line-height: 23px;
                    }

                    strong {
                        margin-bottom: 16px;
                        font-size: var(--heading-font-size-s);
                        line-height: 27px;
                    }

                    img {
                        height: 48px;
                        width: 48px;
                        margin-bottom: 8px;
                    }
                }
            }
        }
        .individual-tabs-section {
            margin-bottom: 64px;

            .tabs-component {
                margin-top: 0;

                .title-class, .subtitle-class {
                    max-width: 630px;
                    margin-bottom: 32px;
                }

                .title-class strong {
                    font-size: var(--heading-font-size-l);
                    line-height: 42px;
                }

                .subtitle-class div {
                    font-size: var(--body-font-size-xl);
                    line-height: 23px;
                }

                .tabs-container {
                    button {
                        color: var(--color-highlight-blue);
                        line-height: 23px;
                        padding-left: 35px;
                        padding-right: 35px;
                    }

                    .selected {
                        color: black;
                    }
                }

                .card-container {
                    p:first-of-type {
                        font-size: var(--heading-font-size-s);
                        line-height: 32px;
                        color: var(--color-highlight-blue);
                        margin-top: 0;
                        margin-bottom: 16px;
                        font-weight: var(--font-weight-bolder);
                    }

                    p:nth-of-type(2) {
                        font-size: var(--heading-font-size-xxs);
                        line-height: 23px;
                        margin-top: 0;
                        margin-bottom: 24px;
                    }

                    .button-container {
                        margin: 0;

                        a {
                            background-color: #D70000 !important;
                            color: white !important;
                            padding-left: 26px !important;

                            span {
                                transform: none;
                                font-weight: var(--font-weight-bolder);
                            }

                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .awards-container {
            margin-bottom: 96px;

            .awards-wrapper {
                max-width: 1290px;
            }

            .block.awards-component {
                padding-top: 32px;
                padding-bottom: 64px;
                gap: 0;

                h3 {
                    font-size: var(--heading-font-size-l);
                    line-height: 42px;
                    font-weight: var(--font-weight-bolder);
                    margin-bottom: 8px;
                }

                div:first-of-type > p {
                    margin-top: 0;
                    margin-bottom: 24px;
                }

                div:not(:last-of-type) {
                    max-width: 726px;
                }

                div:nth-of-type(2) {
                    font-size: var(--body-font-size-xl);
                    line-height: 23px;
                }

                > div:last-of-type {
                    margin-top: 32px;
                    max-width: 822px;

                    div {
                        gap: 32px;
                        max-width: 822px;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }

                > div div img {
                    height: auto;
                }
            }
        }

        .bitdef-vs-brands-container {
            margin-bottom: 65px;

            table .row-3 .same-line.animate-row1 {
                animation: increase-width-row1-full-width 1s forwards !important;
            }

            table .row-5 .same-line.animate-row3 {
                animation: increase-width-row3-alternate 1s forwards !important;
            }

            .bitdef-vs-brands-wrapper {
                img {
                    max-width: 48px;
                    height: 48px;
                }
            }

            .bitdef-vs-brands-wrapper .heading-container {
                max-width: 630px;

                h2 {
                    line-height: 42px;
                    margin-bottom: 32px;
                }
            }

            .new-container {

                tr td a {
                    color: black;
                    text-decoration: underline;
                }

                gap: 30px;

                > div {
                    background-color: var(--color-dex-gray);
                    border-radius: 20px;

                    > div {
                        padding: 32px;
                    }
                }

                h3 {
                    margin: 8px auto;
                    line-height: 31px;
                }

                tr:nth-of-type(3) td {
                    padding-bottom: 24px;
                }

                tr:last-of-type td {
                    font-size: var(--body-font-size-xs);
                    line-height: 16px;
                    padding-top: 32px;
                }

                td p {
                    line-height: 30px;
                }

                p, td {
                    font-size: var(--body-font-size-l);
                    line-height: 24px;
                }

                .grey-background {
                    position: relative;
                    z-index: 1;

                    td > p:last-of-type {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    &::after {
                        content: "";
                        top: 4px;
                        z-index: 0;
                        position: absolute;
                        width: 100%;
                        height: calc(100% - 9.5px);
                        border: 1px solid #E1E3E5;
                        border-radius: 8px;
                        border-left: none;
                    }
                }

                .blue-background .same-line {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: transparent linear-gradient(180deg, #006EFF 0%, #005BD5 100%) 0% 0% no-repeat padding-box;
                        box-shadow: inset 0 0.5px 1px #FFFFFF80, 0 1px 4px #00000029;
                        border-radius: 8px;
                        z-index: 1;
                    }

                    p {
                        background-color: transparent;
                        z-index: 2;
                    }
                }

                .same-line {
                    p {
                        padding-left: 16px;
                        padding-right: 16px;
                    }
                }

            }

        }

        .section.tabs-container {
            margin-bottom: 64px;
            padding: 0;
            background-color: #F0F7FF;

            .default-content-wrapper {
                padding: 64px 0 0;
                max-width: 850px;
                text-align: center;

                h2 {
                    font-size: var(--heading-font-size-l);
                    line-height: 42px;
                    margin-bottom: 32px;
                }

                > p {
                    margin-bottom: 40px;
                    font-size: var(--body-font-size-xl);
                    line-height: 23px;

                    &:first-of-type {
                        margin-bottom: 0;
                    }
                }
            }

            .tabs-wrapper {
                .tabs-navigation {
                    margin-bottom: 32px;
                }

                .tabs-navigation, ul {
                    background-color: #F0F7FF;
                }

                ul {
                    margin: auto;
                    border-radius: 0;
                    position: relative;

                    &::after {
                        left: 5px;
                        bottom: 0;
                        position: absolute;
                        content: '';
                        width: calc(100% - 5px);
                        height: 1px;
                        background-color: #E1E3E5;
                    }

                    li {
                        background-color: unset;
                        border: none;
                        color: var(--color-highlight-blue);
                        font-weight: var(--font-weight-bolder);
                        font-size: var(--body-font-size-xl);
                        line-height: 23px;
                        position: relative;

                        &::after {
                            display: block;
                            background: #006eff;
                            border-radius: 0;
                            content: "";
                            height: 4px;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            transform: scaleX(0);
                            z-index: 1;
                            transform-origin: left;
                        }

                        &.active {
                            color: black;

                            &::after {
                                transition: all 1s ease;
                                transform: scaleX(1);
                            }
                        }
                    }
                }

                .tab-item {
                    margin-top: 0;

                    .features-wrapper {
                        max-width: 1422px;
                    }

                    .features img {
                        width: 48px;
                    }

                    .features-wrapper .features {
                        box-shadow: none;
                        padding-top: 0;
                        padding-bottom: 48px;

                        div p:first-of-type {
                            margin-top: 0;
                            margin-bottom: 8px;

                            .icon {
                                width: 40px;
                                margin-bottom: 8px;
                            }
                        }

                        h3 {
                            font-size: var(--heading-font-size-s);
                            line-height: 32px;
                            font-weight: var(--font-weight-bolder);
                        }

                        .feature-text {
                            font-size: var(--body-font-size-l);
                            line-height: 24px;
                            margin-bottom: 24px;
                        }

                        .features-tabs-title {
                            font-size: var(--body-font-size-l);
                            line-height: 20px;
                            font-weight: var(--font-weight-bolder);
                            color: var(--color-highlight-blue);

                            &::after {
                                background: none;
                                font: normal normal normal 24px / 11px var(--body-font-family);
                                content: url("/_src/icons/plus-sharp-regular.svg");
                                filter: invert(21%) sepia(100%) saturate(3034%) hue-rotate(210deg) brightness(99%) contrast(102%);
                                transform: none;
                                transition: none;
                                float: left;
                                margin-right: 8px;
                            }

                            &.is-open {
                                &::after {
                                    background: none;
                                    font: normal normal normal 24px / 11px var(--body-font-family);
                                    content: url("/_src/icons/minus-sharp-regular.svg");
                                    filter: invert(21%) sepia(100%) saturate(3034%) hue-rotate(210deg) brightness(99%) contrast(102%);
                                }
                            }
                        }

                        .features-tabs li {
                            margin-bottom: 16px;
                        }

                        .features-tabs-content p {
                            font-size: var(--body-font-size-m);
                            line-height: 21px;
                            margin-top: 8px !important;
                            margin-bottom: 0 !important;
                            margin-left: 25px;
                        }

                        .features-tabs::after, div::after {
                            display: none;
                        }
                    }
                }
            }
        }

        .questions-answers-container {
            margin-bottom: 50px;

            .questions-answers-item .question {
                line-height: 23px;

                &::before {
                    filter: invert(21%) sepia(100%) saturate(3034%) hue-rotate(210deg) brightness(99%) contrast(102%);
                    top: 2px;
                }
            }

            .questions-answers-item .answer p {
                margin-top: 16px;
                margin-bottom: 0;

                a {
                    color: var(--color-highlight-blue);
                    text-decoration: underline;
                }
            }
        }

        .questions-answers .questions-answers-item.expanded {
            box-shadow: unset;
        }

        .questions-answers, .questions-answers .default-content-wrapper {
            padding-top: 0;
            padding-bottom: 0;

            .default-content-wrapper > h2 {
                text-align: center;
                font-size: var(--heading-font-size-l);
                line-height: 42px;
                font-weight: bold;
                margin-bottom: 32px;
            }
        }

        .system-requirements-container {
            padding-top: 32px;
            padding-bottom: 32px;
            margin-bottom: 0;

            .default-content-wrapper {
                max-width: 1330px;
                padding-top: 0;
                padding-bottom: 0;

                h3 {
                    font-size: var(--body-font-size-s);
                    line-height: 20px;
                    margin-bottom: 32px;
                }

                .button-container a {
                    border-radius: 0;
                }

                .button-container a::before {
                    filter: invert(21%) sepia(100%) saturate(3034%) hue-rotate(210deg) brightness(99%) contrast(102%);
                }
            }

            .system-requirements-wrapper {
                max-width: 1330px;
            }

            .system-requirements-wrapper + .default-content-wrapper > p span {
                font-weight: var(--font-weight-regular);
            }

            .system-requirements-wrapper + .default-content-wrapper > h3 {
                margin-top: 64px;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: #B1B1B1;
                    left: 0;
                    top: -32px;
                }
            }

            .system-requirements-wrapper .requirement {
                ul {
                    li:has(strong) {
                        margin-top: 16px;
                    }

                    li {
                        margin-top: 16px;
                    }

                    li:has(strong) + li {
                        margin-top: 0;
                    }
                }
            }

            .button-container a {
                background-color: unset;

                &::after {
                    display: none;
                }
            }

            .system-requirements-item {
                .system::before {
                    filter: invert(21%) sepia(100%) saturate(3034%) hue-rotate(210deg) brightness(99%) contrast(102%);
                }
            }

            .system-requirements-item .requirement > ul > li {
                line-height: 15px;
            }

            .default-content-wrapper:last-of-type {
                margin-top: 64px;

                p {
                    font-size: var(--body-font-size-s);
                    line-height: 24px;
                    font-weight: bold;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: #B1B1B1;
                        left: 0;
                        top: -32px;
                    }
                }

                ul, li {
                    margin: 0;
                    padding: 0;
                }

                li {
                    font-size: var(--body-font-size-xs);
                    line-height: 15px;
                }

                ul {
                    margin-top: 32px;
                }
            }

        }
    }

    .benefitsLists {
        margin-top: 32px;
        display: none;
        overflow: visible;
        transition: max-height 0.3s ease;

        ul li {
            font-family: 'IBM Plex Sans', sans-serif !important;
        }

    }

    .benefitsLists.expanded {
        display: block;
    }

    .show-more-btn-wrapper {
        text-align: center;
        width: 100%;

        .show-more-btn, .show-less-btn {
            background: none;
            border: none;
            color: var(--color-highlight-blue);
            cursor: pointer;
            font-weight: var(--font-weight-bolder);
            position: relative;
            padding-left: 20px;
            font-size: var(--body-font-size-l);
            line-height: 20px;
            font-family: "IBM Plex Sans", sans-serif;

            &::after {
                width: 14px;
                height: 14px;
                left: 0;
                top: 2px;
                position: absolute;
                content: url("/_src/icons/plus-sharp-regular.svg");
                filter: invert(21%) sepia(100%) saturate(3034%) hue-rotate(210deg) brightness(99%) contrast(102%);
            }
        }

        .show-less-btn {
            &::after {
                content: url("/_src/icons/minus-sharp-regular.svg");
                filter: invert(21%) sepia(100%) saturate(3034%) hue-rotate(210deg) brightness(99%) contrast(102%);
            }
        }
    }
}

@keyframes increase-width-row1-full-width {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes increase-width-row3-alternate {
    from {
        width: 0;
    }

    to {
        width: 70%;
    }
}
