:root {
    /* Color variables */
    --border-color: #e1e3e5;
    --border-darker-color: #b1b1b1;
    --background-light-blue-color: #f0f7ff;
    --tab-header-color-blue: #006dff;
    --background-blue: #006dff;


    /* Font family */
    --body-font-family:  "IBM Plex Sans", sans-serif;

    /* Body default */
    --body-font-size-xs: 12px;
    --body-font-size-s: 13px; /* 17.329px = 1.083rem */
    --body-font-size-m: 14px; /* 18.662px = 1.167rem */
    --body-font-size-l: 16px; /* 21.328px = 1.333rem */
    --body-font-size-xl: 18px; /* 23.994px = 1.5rem */

    /* Heading default */
    --heading-font-size-xxs: 18px; /* 23.994px = 1.5rem */
    --heading-font-size-xs: 20px; /* 26.66px = 1.667rem */
    --heading-font-size-s: 24px; /* 31.992px = 2rem */
    --heading-font-size-m: 28px; /* 37.324px = 2.333rem */
    --heading-font-size-l: 32px; /* 42.656px = 2.667rem */
    --heading-font-size-xl: 36px; /* 47.988px = 2.999rem */
    --heading-font-size-xxl: 40px; /* 53.32px = 3.333rem */

    /* Colors */
    --color-dex-gray: #fafafa;
    --color-dex-dark-gray: #fafafa;

    /* PADDING VALUES */
    --size-0: 0;
    --size-1: 1px;
    --size-2: 2px;
    --size-4: 4px;
    --size-6: 6px;
    --size-8: 8px;
    --size-10: 10px;
    --size-12: 12px;
    --size-14: 14px;
    --size-16: 16px;
    --size-18: 18px;
    --size-20: 20px;
    --size-22: 22px;
    --size-24: 24px;
    --size-32: 32px;
    --size-36: 36px;
    --size-40: 40px;
    --size-44: 44px;
    --size-48: 48px;
    --size-52: 52px;
    --size-64: 64px;
    --size-full: 99999999999999999999;

    /* SECTION */
    --section-large-desktop-max-width : 1320px;

}

.four-cards {
     * {
        --body-font-family: "IBM Plex Sans", sans-serif !important;
    }
}

.four-cards-container h2 {
    font-family: "IBM Plex Sans", sans-serif;
}

.dex-23541 {
    .dex-copilot-benefits {
        .columns-wrapper > .columns > div {
            & > div {
                & p {
                    &:nth-of-type(1) {
                        width: var(--size-32);
                        height: var(--size-32);
                        margin-right: var(--size-8);

                        span {
                            width: var(--size-32);
                            height: var(--size-32);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {

    .dex-23541 {
        --section-desktop-max-width: 1330px;

        .button {
            font-weight: var(--font-weight-bolder) !important;
        }

        .section {
            margin-bottom: var(--size-32);
        }

        .hero-aem-container {
            margin-bottom: var(--size-0);
        }

        .sticky-navigation-wrapper {
            margin-top: var(--size-32);
        }

        .hero-aem-container .hero-aem {
            margin-top: var(--size-32);

            p em a {
                margin: var(--size-0);
            }

            .hero-aem__card__desktop, .hero-aem__card-text {
                background: unset;
            }

            .hero-aem__card__desktop > div {
                padding: var(--size-16) 30px var(--size-16) var(--size-0);
            }

            h1 {
                font-size: var(--size-40);
                margin: var(--size-0) var(--size-0) var(--size-8);
                color: #000;
            }

            h2 {
                color: #006DFF;
                font-size: var(--heading-font-size-l);
                font-weight: var(--font-weight-bolder);
                line-height: 42px;
                letter-spacing: var(--size-0);
                margin: var(--size-0) var(--size-0) var(--size-8);
            }

            .hero-aem__prices {
                margin-top: var(--size-32);
                margin-bottom: var(--size-16);

                + p {
                    font-family: var(--body-font-family);
                }
            }

            .prod-oldprice {
                font-size: var(--body-font-size-xl);
                line-height: 23px;
            }

            .prod-save {
                font-size: var(--body-font-size-l);
                line-height: var(--size-20);
                font-weight: var(--font-weight-bolder);
            }

            .prod-newprice {
                font-size: 42px;
                line-height: 55px;
            }

            .hero-aem__card {
                > p {
                    display: none;
                }


                .hero-aem__card-text {
                    p {
                        margin: var(--size-0);
                    }

                    p > strong {
                        font-size: var(--heading-font-size-xxl);
                        line-height: 46px;
                        font-weight: var(--font-weight-boldest);
                    }

                    p:nth-of-type(1),
                    p:nth-of-type(2),
                    p:nth-of-type(3) {
                        font-size: var(--body-font-size-xl);
                        line-height: 23px;
                        margin-bottom: var(--size-0);
                    }

                    p:last-of-type a {
                        margin-left: var(--size-0);
                        text-decoration: underline;
                    }

                    .button-container + p {
                        font-size: var(--body-font-size-m);;

                        + p {
                            font-size: var(--body-font-size-m);
                        }
                    }

                }
            }

            .hero-aem__desktop-image {
                img {
                    border-radius: var(--size-20);
                }

                &::before {
                    content: 'Trusted.Always.';
                    position: absolute;
                    bottom: var(--size-20);
                    right: var(--size-20);
                    color: white;
                    font-weight: var(--font-weight-boldest);
                    font-size: var(--heading-font-size-l);
                    font-family: "IBM Plex Sans", sans-serif;
                }

                &::after {
                    display: none;
                }
            }

            p:last-of-type {
                margin-bottom: 0 !important;
            }

            p:last-of-type,
            .button-container + p {
                line-height: var(--size-18);
            }

            .button-container {

                .button {
                    padding: 11.4px var(--size-40) 11.4px 50px;
                    margin-right: var(--size-16);
                    margin-bottom: var(--size-16);
                }

                .button, em {
                    span, a {
                        font-size: var(--body-font-size-xl);
                        line-height: 23px;
                        font-weight: var(--font-weight-bolder);
                    }

                    a {
                        padding: var(--size-12) var(--size-22);
                    }
                }
            }
        }

        .new-prod-boxes-container > .default-content-wrapper > h2 > strong > a,
        .four-cards > .default-content-wrapper > h2 a,
        .tabs-component-container .title-class h2 a {
            display: inline-block;
            margin: var(--size-0);
            padding: var(--size-0) 5px;
            pointer-events: none;
            border: none;
            color: black !important;
            font-size: var(--heading-font-size-l);
            line-height: 42px;
            font-weight: var(--font-weight-boldest);
            background-color: var(--background-light-blue-color) !important;
            border-radius: var(--size-0);
            position: relative;
            overflow: visible;

            &:focus, &:focus-visible {
                outline: none !important;
                box-shadow: none !important;
            }

            &::after, &::before {
                content: "";
                position: absolute;
            }

            &::before {
                content: url("https://bitdefender.com/common/icons/quote-up.svg");
                left: -8px;
                width: var(--size-20);
                height: 100%;
                top: -4px;
            }

            &::after {
                content: url("https://bitdefender.com/common/icons/quote-down.svg");
                right: -8px;
                width: var(--size-20);
                height: 100%;
                bottom: var(--size-0);
            }
        }

        .sticky-navigation-container {
            margin-bottom: var(--size-0);
            padding-bottom: var(--size-64) !important;

            .sticky-navigation {
                border-top: var(--size-1) solid var(--sticky-nav-border-color);
            }

            ul {
                width: auto;
            }

            .menu-with-button {
                max-width: var(--section-desktop-max-width);
                padding: var(--size-0) var(--size-20);
                justify-content: initial;

                li {
                    margin-right: var(--size-40);
                    border-bottom: unset;
                }

                li a {
                    font-size: var(--body-font-size-l);
                    line-height: var(--size-20);
                    font-weight: var(--font-weight-bolder);
                    padding: var(--size-22) var(--size-0) var(--size-18);
                }

                .button-container {
                    height: var(--size-44);
                    display: flex;

                    a {
                        height: var(--size-44);
                        padding: var(--size-12) var(--size-18);
                        border: var(--size-2) solid var(--background-blue);
                        color: var(--background-blue);
                        background-color: var(--white-color);
                        transition: all .2s cubic-bezier(.4, 0, .2, 1);

                        &:hover, &:focus, &:active {
                            background-color: var(--background-blue);
                            color: var(--white-color);
                        }

                        &::after {
                            display: none;
                        }

                        span {
                            font-size: var(--body-font-size-l);
                            line-height: var(--size-20);
                        }
                    }
                }
            }
        }

        .new-prod-boxes-container.we-container {
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: var(--size-0);
            margin-bottom: 46px;
            max-width: var(--section-large-desktop-max-width);

            .default-content-wrapper {
                padding-bottom: var(--size-32);
            }

            .switch {
                position: relative;
            }

            #switchCheckbox {
                display: block;
                position: absolute;
                z-index: -1;
                bottom: 0;
                margin: 0;
                width: 100%;
                height: 100%;
            }

            .switchBox {
                padding-bottom: var(--size-64);

                .label {
                    font-family: var(--body-font-family);
                }
            }

            h2 {
                max-width: 600px;
                margin-bottom: var(--size-0);
            }

            .prod_box:not(:first-of-type):not(:nth-of-type(4)) {
                h4 {
                    &::after {
                        content: 'Plus';
                        color: var(--color-highlight-blue);
                        transform: translateX(-100%);
                        position: absolute;
                    }
                }
            }

            .hero-aem__prices .button {
                width: 100%;
            }

            .new-prod-boxes {
                padding-bottom: var(--size-0);
                grid-template-columns: repeat(3, 1fr);

                .inner_prod_box {
                    width: 100%;
                }
            }

            .new-prod-boxes .prod_box.hasGreenTag .inner_prod_box {
                box-shadow: none;
                border: var(--size-2) solid #1D7928;
            }

            .new-prod-boxes .prod_box .inner_prod_box .greenTag2 {
                border-top-left-radius: var(--size-20);
                border-top-right-radius: var(--size-20);
                font-size: var(--body-font-size-l);
                line-height: var(--size-20);
                font-weight: var(--font-weight-bolder);
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: var(--size-0);
                height: 38px;
                font-family: "IBM Plex Sans", sans-serif;
            }

            .new-prod-boxes .prod_box .inner_prod_box {
                background-color: var(--color-dex-gray);
            }

            .new-prod-boxes {
                width: unset;

                .prod_box {
                    margin-left: 15px;
                    margin-right: 15px;

                    .inner_prod_box {
                        padding: var(--size-32) var(--size-32) var(--size-48);

                        h4, p, div, input, label {
                            font-family: "IBM Plex Sans", sans-serif;
                        }

                        h4 {
                            font-size: var(--heading-font-size-s);
                            line-height: var(--size-24);
                            margin-bottom: var(--size-8);
                        }

                        hr {
                            margin-top: var(--size-16);
                        }

                        .blueTag {
                            font-size: var(--body-font-size-l);
                            margin-bottom: var(--size-8);
                            padding: var(--size-2) var(--size-10);
                        }

                        .subtitle {
                            font-size: var(--body-font-size-l);
                            line-height: var(--size-20);
                            margin-top: var(--size-0);
                        }

                        .plan-switcher {
                            margin: var(--size-16) var(--size-0);
                        }

                        .plan-switcher .radio-label {
                            margin-right: 26px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .plan-switcher input[type=radio]:checked + .radio-label:before {
                            background-color: var(--color-highlight-blue);
                        }

                        label {
                            font-size: var(--size-14);
                        }

                        .hero-aem__prices {
                            margin-top: var(--size-16);
                            margin-bottom: var(--size-24);

                            + hr {
                                display: none;
                            }

                            .hero-aem__price > div {
                                .prod-oldprice, .prod-save {
                                    font-size: var(--body-font-size-l);
                                    line-height: var(--size-20);
                                }

                                .prod-save {
                                    font-weight: var(--font-weight-bolder);
                                }
                            }

                            .billed {
                                margin-top: var(--size-8);
                                margin-bottom: var(--size-16);
                                line-height: var(--size-16);

                                a {
                                    color: black;
                                    text-decoration: underline;
                                }
                            }
                        }

                    }
                }
            }
        }

        .dex-premium-security.new-prod-boxes-container.we-container > .default-content-wrapper {
            padding-bottom: var(--size-64);
        }

        .dex-copilot-benefits {
            margin-bottom: var(--size-64);

            .columns.benefits > div > div {
                display: block;
            }

            .default-content-wrapper {
                padding: var(--size-0) var(--size-0) var(--size-32);
                text-align: center;

                h3 {
                    font-size: var(--heading-font-size-xs);
                    line-height: 27px;
                    color: var(--color-highlight-blue);
                    margin-bottom: var(--size-32);
                    font-weight: var(--font-weight-regular);
                }

                h2 {
                    margin: var(--size-0) auto;
                    font-size: var(--heading-font-size-l);
                    line-height: 42px;
                    max-width: 630px;
                    font-weight: bold;
                }
            }

            .columns-wrapper {
                max-width: 1290px;
                padding: var(--size-0) var(--size-20);

                .tag-green {
                    background-color: #026DFF;
                    font-size: 11px;
                    line-height: var(--size-12);
                    vertical-align: middle;
                }
            }

            .columns-wrapper > .columns > div {
                gap: 30px;
                margin-bottom: var(--size-24);

                p sup {
                    vertical-align: 5px;
                    line-height: 0;
                    font-size: var(--body-font-size-xs);
                    text-decoration: underline;
                }

                &:last-of-type {
                    margin-bottom: var(--size-0);
                }

                > div {
                    background-color: var(--color-dex-gray);
                    padding: var(--size-32);
                    border-radius: var(--size-20);

                    h4 {
                        width: calc(100% - var(--size-44));
                        display: inline-block;
                        vertical-align: top;
                        margin: var(--size-0);
                        min-height: auto !important;
                    }

                    p {
                        vertical-align: top;
                        margin: var(--size-0);
                        display: inline-block;

                        &:nth-of-type(2) {
                            margin-top: var(--size-8);
                            margin-left: 45px;
                            font-size: var(--body-font-size-l);
                            line-height: var(--size-24);
                        }
                    }

                    strong {
                        font-size: var(--heading-font-size-xxs);
                        line-height: 27px;
                        vertical-align: middle;
                    }

                    .icon {
                        margin-bottom: var(--size-8);
                    }
                }
            }
        }

        .four-cards-container .default-content-wrapper {
            max-width: 1290px !important;
        }

        .dex-ts-cards {
            .four-cards-wrapper ul {
                margin: auto;
                max-width: 967px;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        .four-cards-family {
            .default-content-wrapper {
                padding: var(--size-0) var(--size-0) var(--size-32);

                h3 {
                    font-family: var(--body-font-family);
                    font-size: var(--heading-font-size-s);
                    line-height: 27px;
                    color: var(--color-highlight-blue);
                    margin-bottom: var(--size-32);
                    font-weight: var(--font-weight-regular);
                }

                h2 {
                    margin: var(--size-0) auto;
                    font-size: var(--heading-font-size-l);
                    line-height: 42px;
                    max-width: 630px;
                    font-weight: bold
                }
            }

            .four-cards-wrapper {
                --section-desktop-max-width: 1330px;
            }

            .four-cards > ul {
                gap: 30px;

                > li {
                    background-color: var(--color-dex-gray);
                    padding: var(--size-32);

                    div {
                        font-size: var(--heading-font-size-xxs);
                        line-height: 23px;
                    }

                    strong {
                        margin-bottom: var(--size-16);
                        font-size: var(--heading-font-size-s);
                        line-height: 27px;
                    }

                    img {
                        height: var(--size-48);
                        width: var(--size-48);
                        margin-bottom: var(--size-8);
                    }
                }
            }
        }

        .individual-tabs-section {
            margin-bottom: var(--size-64);

            .tabs-component {
                margin-top: var(--size-0);

                div, button, p, span, h1, h2, h3 {
                    font-family: var(--body-font-family);
                }

                .title-class, .subtitle-class {
                    max-width: 630px;
                    margin-bottom: var(--size-32);
                }

                .title-class {

                    strong, h2 {
                        font-size: var(--heading-font-size-l);
                        line-height: 42px;
                    }

                    h2 {
                        margin-bottom: var(--size-0);
                    }

                    strong {
                        color: black;
                    }
                }

                .subtitle-class div {
                    font-size: var(--body-font-size-xl);
                    line-height: 23px;
                }

                .tabs-container {
                    display: none;
                    button {
                        color: var(--color-highlight-blue);
                        line-height: 23px;
                        padding-left: 35px;
                        padding-right: 35px;
                    }

                    .selected {
                        color: black;
                    }
                }

                .card-container {
                    p:first-of-type {
                        font-size: var(--heading-font-size-s);
                        line-height: var(--size-32);
                        color: var(--color-highlight-blue);
                        margin-top: var(--size-0);
                        margin-bottom: var(--size-16);
                        font-weight: var(--font-weight-bolder);
                    }

                    p:nth-of-type(2) {
                        font-size: var(--heading-font-size-xxs);
                        line-height: 23px;
                        margin-top: var(--size-0);
                        margin-bottom: var(--size-24);
                    }

                    .button-container {
                        margin: var(--size-0);

                        a.button:any-link, input[type="submit"] {
                            background-color: #D70000 !important;
                            color: white !important;
                            padding-left: var(--size-20) !important;
                            padding-right: var(--size-10);

                            span {
                                font-size: var(--body-font-size-l) !important;
                                line-height: var(--size-20) !important;
                            }
                        }

                        a.button::after, input[type="submit"]::after, main .section.link-right a::after {
                            background: white;
                            transition: all .2s cubic-bezier(.4, 0, .2, 1);
                            transform: translateX(0);
                            opacity: 0;
                            margin-left: -10px;
                            -webkit-mask: url('/_src/icons/arrow-right.svg') no-repeat !important;
                            mask: url('/_src/icons/arrow-right.svg') no-repeat !important;

                        }

                        a.button:hover, a.button:focus, input[type="submit"]:hover, input[type="submit"]:focus {
                            border: 2px solid var(--button-hover-background-color);
                            cursor: pointer;
                        }

                        a.button:hover::after, input[type="submit"]:hover::after {
                            transform: translateX(5px);
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .awards-container {
            margin-bottom: 96px;

            .awards-wrapper {
                max-width: 1290px;
            }

            .block.awards-component {
                padding-top: var(--size-32);
                padding-bottom: var(--size-64);
                gap: var(--size-0);
                background-color: var(--background-light-blue-color);

                h3 {
                    font-size: var(--heading-font-size-l);
                    line-height: 42px;
                    font-weight: var(--font-weight-bolder);
                    margin-bottom: var(--size-8);
                }

                div:first-of-type > p {
                    margin-top: var(--size-0);
                    margin-bottom: var(--size-24);
                }

                div:not(:last-of-type) {
                    max-width: 726px;
                }

                div:nth-of-type(2) {
                    font-size: var(--body-font-size-xl);
                    line-height: 23px;
                }

                > div:last-of-type {
                    margin-top: var(--size-32);
                    max-width: 822px;

                    div {
                        gap: var(--size-32);
                        max-width: 822px;
                    }

                    p {
                        margin-bottom: var(--size-0);
                    }
                }

                > div div img {
                    height: auto;
                }
            }
        }

        .bitdef-vs-brands-container {
            margin-bottom: 65px;

            div, button, p, span, h1, h2, h3, tr, td {
                font-family: var(--body-font-family) !important;
            }

            table .row-3 .same-line.animate-row1 {
                animation: increase-width-row1-full-width 1s forwards !important;
            }

            table .row-5 .same-line.animate-row3 {
                animation: increase-width-row3-alternate 1s forwards !important;
            }

            .bitdef-vs-brands-wrapper {
                img {
                    max-width: var(--size-48);
                    height: var(--size-48);
                }
            }

            .bitdef-vs-brands-wrapper .heading-container {
                max-width: 630px;

                h2 {
                    line-height: 42px;
                    margin-bottom: var(--size-32);
                }
            }

            .new-container {

                tr td a {
                    color: black;
                    text-decoration: underline;
                }

                gap: 30px;

                > div {
                    background-color: var(--color-dex-gray);
                    border-radius: var(--size-20);

                    > div {
                        padding: var(--size-32);
                    }
                }

                h3 {
                    margin: var(--size-8) auto;
                    line-height: 31px;
                }

                tr:nth-of-type(3) td {
                    padding-bottom: var(--size-24);
                }

                tr:last-of-type td {
                    font-size: var(--body-font-size-xs);
                    line-height: var(--size-16);
                    padding-top: var(--size-32);
                }

                td p {
                    line-height: 30px;
                }

                p, td {
                    font-size: var(--body-font-size-l);
                    line-height: var(--size-24);
                }

                .grey-background {
                    position: relative;
                    z-index: 1;

                    td > p:last-of-type {
                        border-top-right-radius: var(--size-0);
                        border-bottom-right-radius: var(--size-0);
                    }

                    &::after {
                        content: "";
                        top: var(--size-4);
                        z-index: var(--size-0);
                        position: absolute;
                        width: 100%;
                        height: calc(100% - 9.5px);
                        border: var(--size-1) solid var(--border-color);
                        border-radius: var(--size-8);
                        border-left: none;
                    }
                }

                .blue-background .same-line {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: transparent linear-gradient(180deg, #006EFF 0%, #005BD5 100%) 0% 0% no-repeat padding-box;
                        box-shadow: inset 0 0.5px var(--size-1) #FFFFFF80, 0 var(--size-1) var(--size-4) #00000029;
                        border-radius: var(--size-8);
                        z-index: 1;
                    }

                    p {
                        background-color: transparent;
                        z-index: 2;
                    }
                }

                .same-line {
                    p {
                        padding-left: var(--size-16);
                        padding-right: var(--size-16);
                    }
                }

            }

        }

        .section.tabs-container {
            margin-bottom: var(--size-64);
            padding: var(--size-0);
            background-color: var(--background-light-blue-color);

            .default-content-wrapper {
                padding: var(--size-64) var(--size-0) var(--size-0);
                max-width: 850px;
                text-align: center;

                h2 {
                    font-size: var(--heading-font-size-m);
                    line-height: var(--size-36);
                    margin-bottom: var(--size-32);

                    &:first-of-type {
                        margin-bottom: var(--size-0);
                    }
                }

                > p {
                    margin-bottom: var(--size-40);
                    font-size: var(--body-font-size-xl);
                    line-height: 23px;

                    &:first-of-type {
                        margin-bottom: var(--size-0);
                    }
                }
            }

            .tabs-wrapper {
                .tabs-navigation {
                    margin-bottom: var(--size-32);
                }

                .tabs-navigation, ul {
                    background-color: var(--background-light-blue-color);
                }

                ul {
                    margin: auto;
                    border-radius: var(--size-0);
                    position: relative;

                    &::after {
                        left: 5px;
                        bottom: var(--size-0);
                        position: absolute;
                        content: '';
                        width: calc(100% - 5px);
                        height: var(--size-1);
                        background-color: var(--border-color);
                    }

                    li {
                        background-color: unset;
                        border: none;
                        color: var(--color-highlight-blue);
                        font-weight: var(--font-weight-bolder);
                        font-size: var(--body-font-size-xl);
                        font-family: var(--body-font-family);
                        line-height: 23px;
                        position: relative;

                        &::after {
                            display: block;
                            background: #006eff;
                            border-radius: var(--size-0);
                            content: "";
                            height: var(--size-4);
                            position: absolute;
                            left: var(--size-0);
                            bottom: var(--size-0);
                            transform: scaleX(0);
                            z-index: 1;
                            transform-origin: left;
                        }

                        &.active {
                            color: black;

                            &::after {
                                transition: all 1s ease;
                                transform: scaleX(1);
                            }
                        }
                    }
                }

                .tab-item {
                    margin-top: var(--size-0);

                    .features-wrapper {
                        max-width: 1386px;
                    }

                    .features img {
                        width: var(--size-48);
                    }

                    .features-wrapper .features {
                        box-shadow: none;
                        padding-top: var(--size-0);
                        padding-bottom: var(--size-48);

                        div p:first-of-type {
                            margin-top: var(--size-0);
                            margin-bottom: var(--size-8);

                            .icon {
                                width: var(--size-40);
                                margin-bottom: var(--size-8);
                            }
                        }

                        h3 {
                            font-size: var(--heading-font-size-s);
                            line-height: var(--size-32);
                            font-weight: var(--font-weight-bolder);
                        }

                        .feature-text {
                            font-size: var(--body-font-size-l);
                            line-height: var(--size-24);
                            margin-bottom: var(--size-24);
                        }

                        .features-tabs-title {
                            font-size: var(--body-font-size-l);
                            line-height: var(--size-20);
                            font-weight: var(--font-weight-bold);
                            color: var(--color-highlight-blue);

                            &::after {
                                background: none;
                                font: normal normal normal var(--size-24) / 11px var(--body-font-family);
                                content: url("/_src/icons/plus-sharp-regular.svg");
                                filter: invert(21%) sepia(100%) saturate(3034%) hue-rotate(210deg) brightness(99%) contrast(102%);
                                transform: none;
                                transition: none;
                                float: left;
                                margin-right: var(--size-8);
                            }

                            &.is-open {
                                &::after {
                                    background: none;
                                    font: normal normal normal var(--size-24) / 11px var(--body-font-family);
                                    content: url("/_src/icons/minus-sharp-regular.svg");
                                    filter: invert(21%) sepia(100%) saturate(3034%) hue-rotate(210deg) brightness(99%) contrast(102%);
                                }
                            }
                        }

                        .features-tabs li {
                            margin-bottom: var(--size-16);
                        }

                        .features-tabs li:last-of-type {
                            margin-bottom: var(--size-0);
                        }

                        .features-tabs-content p {
                            font-size: var(--body-font-size-m);
                            line-height: 21px;
                            margin-top: var(--size-8) !important;
                            margin-bottom: 0 !important;
                            margin-left: 25px;
                        }

                        .features-tabs::after, div::after {
                            display: none;
                        }
                    }
                }
            }
        }

        .questions-answers-container {
            margin-bottom: 50px;

            .questions-answers-item {
                background-color: var(--background-light-blue-color);
            }

            .questions-answers-item .question {
                line-height: 23px;

                &::before {
                    filter: invert(21%) sepia(100%) saturate(3034%) hue-rotate(210deg) brightness(99%) contrast(102%);
                    top: var(--size-2);
                }
            }

            .questions-answers-item .answer p {
                margin-top: var(--size-16);
                margin-bottom: var(--size-0);
                font-size: var(--body-font-size-m);
                line-height: var(--size-18);

                a {
                    color: var(--color-highlight-blue);
                    text-decoration: underline;
                }
            }
        }

        .questions-answers .questions-answers-item.expanded {
            box-shadow: unset;
        }

        .questions-answers, .questions-answers .default-content-wrapper {
            padding-top: var(--size-0);
            padding-bottom: var(--size-0);

            .default-content-wrapper > h2 {
                text-align: center;
                font-size: var(--heading-font-size-l);
                line-height: 42px;
                font-weight: bold;
                margin-bottom: var(--size-32);
            }
        }

        .system-requirements {
            padding-top: var(--size-32);
            padding-bottom: var(--size-32);
            margin-bottom: var(--size-0);
            --body-font-family: "IBM Plex Sans", sans-serif;
            background-color: #f2f2f2;

            &.dex-system-requirements {

                ul {
                    margin-top: var(--size-16);
                    li {
                        margin-top: var(--size-4);
                    }
                }
            }

            &.terms-of-use {
                ul li {
                    margin-top:var(--size-16);
                }

                .default-content-wrapper p a {
                    padding: var(--size-0);

                    &::before {
                        display: none;
                    }
                }

                p:last-child {
                    margin-bottom: var(--size-2);
                }
            }


            &.dex-system-requirements, &.terms-of-use {
                padding-bottom: var(--size-0);
                p:last-child {
                    padding-bottom: var(--size-32);
                    margin-bottom: var(--size-0);
                    border-bottom: var(--size-2) solid var(--border-darker-color);
                }
            }

            .default-content-wrapper {
                max-width: 1330px;
                padding-top: var(--size-0);
                padding-bottom: var(--size-0);

                h3 {
                    font-size: var(--body-font-size-s);
                    line-height: var(--size-20);
                    margin-bottom: var(--size-32);
                }

                .button-container a {
                    border-radius: var(--size-0);
                }

                .button-container a::before {
                    filter: invert(21%) sepia(100%) saturate(3034%) hue-rotate(210deg) brightness(99%) contrast(102%);
                }

            }

            .system-requirements-item {
                .system::before {
                    filter: invert(21%) sepia(100%) saturate(3034%) hue-rotate(210deg) brightness(99%) contrast(102%);
                }
            }

            .system-requirements-wrapper {
                max-width: 1330px;
            }

            .system-requirements-wrapper .system-requirements {
                padding-top: var(--size-0);
            }

            &.notes {
                p:first-of-type {
                    font-size: var(--body-font-size-l);
                    line-height: var(--size-24);
                    font-weight: bold;
                    position: relative;
                    margin-top: var(--size-0);
                }

                ul, li {
                    margin: var(--size-0);
                    padding: var(--size-0);
                }

                li {
                    font-size: var(--body-font-size-xs);
                    line-height: 15px;
                }

                ul {
                    margin-left: var(--size-24);
                    margin-top: var(--size-32);

                    li {
                        display: inline;
                        font-size: var(--body-font-size-xxs);
                    }
                }
            }
        }

        .new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists {
            margin-top: var(--size-32);
            display: none;
            overflow: visible;
            transition: max-height 0.3s ease;

            ul li {
                font-family: 'IBM Plex Sans', sans-serif !important;
            }

        }

        .benefitsLists.expanded {
            display: block !important;
        }

        .dex-premium-security.new-prod-boxes-container.we-container .new-prod-boxes {
            grid-template-columns: repeat(2, 1fr);
            width: 940px;
        }

        .dex-premium-security {

            .default-content-wrapper {
                padding-bottom: var(--size-64);
            }

            .prod_box .inner_prod_box h4::after, .switchBox {
                display: none;
            }
        }


        .show-more-btn-wrapper {
            text-align: center;
            width: 100%;

            .show-more-btn, .show-less-btn {
                background: none;
                border: none;
                color: var(--color-highlight-blue);
                cursor: pointer;
                font-weight: var(--font-weight-bolder);
                position: relative;
                padding-left: var(--size-20);
                font-size: var(--body-font-size-l);
                line-height: var(--size-20);
                font-family: "IBM Plex Sans", sans-serif;

                &::after {
                    width: var(--size-14);
                    height: var(--size-14);
                    left: var(--size-0);
                    top: var(--size-2);
                    position: absolute;
                    content: url("/_src/icons/plus-sharp-regular.svg");
                    filter: invert(21%) sepia(100%) saturate(3034%) hue-rotate(210deg) brightness(99%) contrast(102%);
                }
            }

            .show-less-btn {
                &::after {
                    content: url("/_src/icons/minus-sharp-regular.svg");
                    filter: invert(21%) sepia(100%) saturate(3034%) hue-rotate(210deg) brightness(99%) contrast(102%);
                }
            }
        }

        .modal-container {

            .modal-content .section.popup-v2:first-child {
                margin-bottom: 0;
            }

            .popup-v2 .default-content-wrapper {
                padding-bottom: 0;
            }
        }

        .dex-25983-hero .hero-aem .hero-aem__card .hero-aem__card-text .button-container + p a {
            padding: var(--size-12) var(--size-18);
            border: var(--size-2) solid var(--background-blue);
            color: var(--background-blue);
            background-color: var(--white-color);
            transition: all .2s cubic-bezier(.4, 0, .2, 1);

            span {
                transform: none;
            }

            &::after {
                display: none;
            }

            &:hover, &:focus, &:active {
                background-color: var(--background-blue);
                color: var(--white-color);
            }
        }
    }
}

@media (min-width: 1400px) {
    .dex-23541 {
        .dex-copilot-benefits {
            .columns-wrapper {
                padding: var(--size-0);
            }
        }
    }
}

@media (min-width: 1600px) {

    .dex-23541 .section.tabs-container .tabs-wrapper .tab-item .features-wrapper {
            max-width: var(--section-large-desktop-max-width);
            padding: var(--size-0);

            .features {
                padding: var(--size-0) var(--size-0) var(--size-64);
        }
    }
}

@keyframes increase-width-row1-full-width {
    from {
        width: var(--size-0);
    }

    to {
        width: 100%;
    }
}

@keyframes increase-width-row3-alternate {
    from {
        width: var(--size-0);
    }

    to {
        width: 70%;
    }
}
