/* stylelint-disable  */
.new-prod-boxes-container.remove-first > div.default-content-wrapper:first-of-type {
  display: none;
}

.creators .new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box {
  border: 1px solid #ECECEC;
}

.creators .new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .undeBuyLink {
  text-align: center;
  font-weight: bold;
}

.creators .new-prod-boxes-container .new-prod-boxes .prod_box.demo-box .inner_prod_box .undeBuyLink span.demoBtn {
  border: 2px solid var(--button-secondary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: black;
  padding: 15px 10px;
  width: 100%;
  border-radius: 8px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: -56px;
  margin-bottom: 32px;
  cursor: pointer;
}

.creators .new-prod-boxes-container .new-prod-boxes .prod_box.demo-box .inner_prod_box .undeBuyLink span.demoBtn:hover {
  text-decoration: none;
  background-color: var(--button-secondary-hover-background-color);
  color: var(--white-color);
}

.new-prod-boxes-container {
  padding-bottom: 0;
  font-family: 'Arial', sans-serif;
  margin: clamp(10px, 25px, 15px) 0;
}

.new-prod-boxes-container div.default-content-wrapper:last-of-type {
  padding: 0;
}

.new-prod-boxes-container div.default-content-wrapper:last-of-type * {
  font: normal normal normal 12px/14px Arial;
  color: black;
}

.new-prod-boxes-container div.default-content-wrapper:last-of-type a {
  text-decoration: underline;
}

.new-prod-boxes-container.we-container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.new-prod-boxes-container .default-content-wrapper p:has(> a) {
  text-align: center;
  font-size: 16px;
}

.new-prod-boxes-container .default-content-wrapper p:has(> a) a {
  text-align: center;
  font-size: 16px;
  color: #005ed9;
  text-decoration: none;
}

.new-prod-boxes-container .default-content-wrapper p:has(> a) a:hover {
  color: #00439c;
  text-decoration: underline;
}

.new-prod-boxes-container .default-content-wrapper h2 {
  text-align: center;
  font-size: 32px;
  line-height: 37px;
  max-width: 550px;
  margin: auto;
  margin-bottom: 20px;
}

.new-prod-boxes-container .new-prod-boxes {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-prod-boxes-container .new-prod-boxes .prod_box {
  flex: 1;
  max-width: 410px;
  margin: 8px;
  margin-bottom: 50px;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box {
  position: relative;
  height: 100%;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 25px;
  margin: 0 auto;
}

.new-prod-boxes-container.hide-last-hr .new-prod-boxes .prod_box .inner_prod_box hr:last-of-type{
  display: none;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .greenTag2 {
  height: 30px;
  max-width: 350px;
  width: 86%;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  background-color: #1C7928;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 7px;
  position: absolute;
  top: -39px;
  left: 7%;
  box-sizing: content-box;
}

.new-prod-boxes-container.bf25 .new-prod-boxes .prod_box .inner_prod_box .greenTag2 {
  background: linear-gradient(to right, #a80000, #e00000, #a80000);
  font-weight: bold;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  font-family: Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 4px;
  width: 80%
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box h4 a {
  transition: all 0.5s ease;
  color: #000;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box h4 a:hover {
  text-decoration: none;
  transition: all 0.5s ease;
  color: #005ed9;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .blueTagsWrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .blueTag {
  font-size: var(--body-font-size-xs);
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  background-color: #026DFF;
  display: inline-block;
  border-radius: 20px;
  padding: 6px 16px;
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
  height: fit-content;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .blueTag .icon {
  width: fit-content;
  height: auto;
  display: flex;
  align-items: center;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .blueTag div {
  display: flex;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .blueTag img {
  height: 14px;
  margin-right: 5px;
  margin-top: -5px;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .subtitle {
  font-size: clamp(10px, 14px, 14px);
  font-family: Arial, sans-serif;
  margin-bottom: 0;
  line-height: 1.25;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .subtitle-2 {
  font-size: clamp(10px, 14px, 14px);
  font-family: Arial, sans-serif;
  margin-bottom: 0;
  line-height: 1.25;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .subtitle.fixed_height {
  min-height: 30px;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box hr {
  border: 1px solid #D1D1D1;
  margin: 10px 0;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box hr:first-of-type {
  margin-bottom: 0;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box hr:last-of-type {
  margin-bottom: 10px;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .save_price_box {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 8px;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .save_price_box .prod-oldprice {
  font-size: var(--heading-font-size-xs);
  line-height: var(--heading-font-size-xs);
  text-decoration: line-through;
  margin-right: 10px;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .save_price_box .prod-percent {
  font-size: 13px;
  line-height: 15px;
  color: white;
  background-color: #68BA68;
  border-radius: 11px;
  padding: 4px 10px;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .prices_box {
  display: flex;
  justify-content: left;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .prices_box .prod-newprice {
  font-size: var(--heading-font-size-xl);
  line-height: var(--heading-font-size-xl);
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .prices_box sup {
  margin: 15px 0 0 5px;
  font-size: var(--heading-font-size-s);
  line-height: var(--heading-font-size-s);
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .billed {
  font-size: 12px;
  font-family: Arial, sans-serif;
  line-height: 13px;
  margin: 7px 0 20px;
}

.new-prod-boxes-container .new-prod-boxes.new-green-check .inner_prod_box p:first-of-type{
  margin-bottom: 0;
  font-size: 14px;
}
.new-prod-boxes-container .new-prod-boxes.new-green-check .inner_prod_box p:last-of-type{
  margin-top: 0;
  font-size: 14px;
}

.new-prod-boxes-container .new-prod-boxes .inner_prod_box a.demo-btn {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -45px;
  margin-bottom: 32px;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .buy-btn a.red-buy-button {
  width: 100%;
  text-transform: none;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500 !important;
  padding: 10px 1% !important;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .undeBuyLink {
  font-size: 12px;
  font-family: Arial, sans-serif;
  line-height: 13px;
  margin: 10px 0;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists {
  font-family: Arial, sans-serif;
  color: transparent;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists p {
  margin: 0;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists u {
  font-size: var(--body-font-size-xs);
  text-decoration: none;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul {
  margin-top: -5px;
  padding: 0;
  color: black;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li {
  padding-left: 0;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li:first-of-type {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-bottom: 0.5rem;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li > .icon {
  display: none;
}

.new-prod-boxes-container {
  .new-prod-boxes {
    .prod_box {
      .inner_prod_box {
        .benefitsLists {
          ul {
            &.checkmark-list {
              background-color: #E7E7E7;
              padding: 13px 48px 16px 10px;
              filter: grayscale(1);
              border-radius: 8px;
              margin-bottom: 8px;
              li {
                &:first-of-type {
                  display: flex;
                  align-items: center;
                  font-size: 14px;

                  .checkmark {
                      appearance: none;
                      -webkit-appearance: none;
                      display: grid;
                      width: 18px;
                      height: 18px;
                      padding: 0;
                      border: 1px solid #FFFFFF;
                      border-radius: 1px;
                      margin-right: 16px;
                      transition: cubic-bezier(0.075, 0.82, 0.165, 1);

                      &::after {
                        content: "";
                        width: 18px;
                        height: 18px;
                        clip-path: polygon(17% 54%, 28% 43%, 38% 54%, 70% 22%, 81% 33%, 38% 75%, 17% 54%);
                        transform: scale(0);
                        background-color: white;
                      }
                      &:checked {
                        background: #016DFF 0% 0% no-repeat padding-box;
                        -webkit-box-shadow: 0px 0px 5px 0px rgba(1,109,255,1);
                        -moz-box-shadow: 0px 0px 5px 0px rgba(1,109,255,1);
                        box-shadow: 0px 0px 5px 0px rgba(1,109,255,1);
                      }
                      &:checked::after {
                        transform: scale(1);
                      }
                  }
                }
              }

              &.checked {
                filter: grayscale(0);
                background-color: #EAF5EC;
              }
            }
          }
        }

        .add-on-product {
          transition: all 0.4s;
        }
      }
    }
  }
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li.has_arrow::before {
  content: "";
  margin: 0 5px 20px 0;
  background: url("https://bitdefender.com/pages/icons/arrow-left-blue.png") no-repeat center transparent;
  width: 20px;
  height: 20px;
  background-size: 15px 12px;
  float: left;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li.has_arrow_right .arrow-right {
  background: url("https://bitdefender.com/common/icons/arrow-right-solid.svg") no-repeat center transparent;
  width: 20px;
  height: 20px;
  background-size: 15px 12px;
  position: relative;
  top: 4px;
  display: inline-flex;
}

.new-prod-boxes-container.revert-arrows .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li.has_arrow_right .arrow-right {
  transform: rotate(180deg);
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li p, .new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) ul li {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
  list-style-type: none;
  background: url("https://bitdefender.com/common/icons/circle-check-sharp-solid.svg") top 2px left no-repeat transparent;
  padding-left: 22px;
  background-size: 13px;
  position: relative;
  cursor: pointer;
}

.new-prod-boxes-container .new-prod-boxes.new-green-check .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) {
  background: url("https://www.bitdefender.com/common/icons/checkmark-solid-circle-white-bg.svg") top 2px left no-repeat transparent;
  padding-left: 22px;
  background-size: 13px;
  position: relative;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
  list-style-type: none;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) .white-pill-content {
  display: none;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) .white-pill-content, .new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) ul {
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 28px;
    left: 0;
    bottom: 0;
    z-index: 1;
    font-size: 12px;
    box-shadow: 4px 4px 7px -8px #000;
    display: none;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) .white-pill-content::before, .new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) ul::before {
  content: "";
  position: absolute;
  left: 17px;
  bottom: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type):hover .white-pill-content, .new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type):hover ul {
  display: block;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) u {
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  padding: 2px 21px 2px 7px;
  background: url("https://bitdefender.com/pages/images/icons/individual.svg") center right 6px no-repeat #026DFF;
  background-size: auto 12px;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul:nth-of-type(2) {
  min-height: 5em;
}

.new-prod-boxes-container .new-prod-boxes .prod_box.hasGreenTag .inner_prod_box {
  box-shadow: 0 3px 7px 0 #C1C1C1;
}

.new-prod-boxes-container .prod-oldprice {
  font-size: 16px;
  text-decoration: line-through;
}

.new-prod-boxes-container .prod-save {
  color: #0B6A26;
  background-color: #D1FADC;
  border-radius: 8px;
  font-weight: bold;
  padding: 2px 8px;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 5px;
}

.new-prod-boxes-container .new-prod-boxes.solutions .prod-save {
  color: #0B6A26;
  background-color: #D1FADC;
  border-radius: 8px;
  font-weight: bold;
  padding: 2px 8px;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 5px;
}

.new-prod-boxes-container .prod-newprice {
  font-size: 35px;
  font-weight: bold;
}
.new-prod-boxes-container .prod-newprice .per-m {
  font-size: 20px;
  top: -12px;
}
.new-prod-boxes-container .newprice-container {
  line-height: 1;
}

.new-prod-boxes-container .newprice-container sup {
  position: relative;
  top: -20px;
}

.new-prod-boxes-container .button.primary {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  display: block;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px 26px 8px 28px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #eb0000;
  border: 2px solid #eb0000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 8px;
  height: fit-content;
}

.new-prod-boxes-container .new-prod-boxes.smallerbuttons .button.primary {
  display: inline-block;
  min-width: 144px;
}

.new-prod-boxes-container .new-prod-boxes.smallerbuttons .button.secondary {
  width: fit-content;
  min-width: 150px;
}

.new-prod-boxes-container .new-prod-boxes.smallerbuttons.solutions .button.secondary {
  width: 100%;
}

.new-prod-boxes-container.secondary-button-blue  .new-prod-boxes .button.secondary {
  margin-top: 15px;
  color: #026DFF;
  border: 2px solid #026DFF;
  background-color: transparent;
  width: 100%;
  justify-content: center;

  &:hover {
    color: white;
    background-color: #026DFF;
  
    span.button-text {
      transform: translate(0, 0);
    }
  }

  &.no-arrow::after {
    content: none;
  }
}

.new-prod-boxes-container .button.primary.no-arrow::after {
  content: none;
}

.new-prod-boxes-container .button.secondary.no-arrow::after {
  content: none;
}

.new-prod-boxes-container .button.primary:hover {
  color: white;
  background-color: #B10304;
  border-color: #B10304;
}

.new-prod-boxes-container .button.primary:active {
  background-color: #920A0A;
  border-color: #920A0A;
}

.new-prod-boxes-container p em a {
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  -webkit-font-smoothing: antialiased !important;
  display: block !important;
  align-items: center !important;
  box-sizing: border-box !important;
  text-decoration: none !important;
  padding: 10px 26px 8px 28px !important;
  text-align: center !important;
  cursor: pointer !important;
  color: #006EFF !important;
  background-color: transparent !important;
  border: 2px solid #006EFF !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  border-radius: 8px !important;
  height: fit-content !important;
}

.new-prod-boxes-container .new-prod-boxes.smallerbuttons p em a {
  display: inline-block;
  min-width: 144px;
}

.new-prod-boxes-container p em a:hover {
  color: white !important;
  background-color: #006DFF !important;
}

.new-prod-boxes-container p em a:active {
  background-color: #0D499B !important;
}

.new-prod-boxes-container .icon {
  width: 12px;
  height: 14px;
  margin: 0 0 0 0;
}

.new-prod-boxes-container .icon svg {
  width: 12px;
  height: 14px;
  margin-left: -1px;
  fill: #fff;
}

.new-prod-boxes-container .blue-pill {
  background-color: #026DFF;
  padding: 2.5px 6.7px;
  border-radius: 20px;
  color: white;
  font-style: normal;
  font-size: 11px;
  letter-spacing: 0px;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
}

.new-prod-boxes-container .blue-pill .icon {
  position: relative;
  top: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.new-prod-boxes-container .blue-pill svg {
  width: 9px;
  height: 9px;
}

.switchBox {
  text-align: center;
  padding-bottom: 45px;
}

.switchBox .switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 302px;
  height: 44px;
  background-color: #016DFF;
  border-radius: 22px;
}

.switchBox .switch input {
  display: none;
}

.switchBox .slider {
  position: absolute;
  content: "";
  height: 40px;
  width: 150px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 20px;
  transition: all 0.4s;
}

.switchBox .switch input:checked + .slider {
  transform: translateX(149px);
}

.switchBox .label {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  text-align: center;
  font-weight: bold;
  line-height: 34px;
  font-size: 16px;
  color: white;
  transition: color 0.4s;
  cursor: pointer;
}

.switchBox .label.right {
  z-index: 10;
  color: black;
}

.switchBox .label.left {
  z-index: 10;
}

.switchBox .switch input:checked ~ .label.right {
  transition: color 0.4s;
  color: white !important;
}

.switchBox .switch input ~ .label .icon {
  position: relative;
  margin-right: 10px;
  top: 2px;
}

.switchBox .switch input ~ .label .icon svg {
  width: 14px;
  height: 16px;
}

.switchBox .switch input ~ .label.right .icon svg {
  fill: #026DFF;
}

.switchBox .switch input:checked ~ .label.right .icon svg {
  fill: white;
}

.switchBox .switch input:checked ~ .label.left {
  transition: color 0.4s;
  color: black;
}

.switchBox .switch input:checked ~ .label.left .icon svg {
  fill: #026DFF;
}

.prod-box.individual-box {
  transition: all 0.4s;
}

.prod_box.family-box {
  display: none;
  transition: all 0.4s;
}

.hero-aem__prices {
  margin-top: 20px;
}

.demo-box .hero-aem__prices * {
  visibility: hidden;
}

.plan-switcher {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  font-weight: bold;
  margin-top: 16px;
}

.plan-switcher input[type=radio] {
  position: relative;
  display: none;
  opacity: 0;
  width: auto;
}

.plan-switcher .radio-label {
  margin-right: 8px;
  cursor: pointer;
}

.plan-switcher .radio-label::before {
  content: "";
  background: #f4f4f4;
  color: #006DFF;
  border-radius: 100%;
  border: 2px solid #006DFF;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  margin-right: 9px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.plan-switcher input[type=radio]:checked+.radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.plan-switcher input[type=radio]:focus+.radio-label:before {
  outline: none;
  border-color: #3197EE;
}

@media (max-width: 768px) {
  .demo-box .hero-aem__prices {
    display: none;
  }

  .creators .new-prod-boxes-container .new-prod-boxes .prod_box.demo-box .inner_prod_box .undeBuyLink {
    min-height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .creators .new-prod-boxes-container .new-prod-boxes .prod_box.demo-box .inner_prod_box .undeBuyLink span.demoBtn {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .new-prod-boxes-container.revert-arrows .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li.has_arrow_right .arrow-right {
  transform: rotate(-90deg);
}

}

.new-prod-boxes .await-loader {
  min-height: 177px;
}

@media (min-width: 768px) {
  .creators .new-prod-boxes-container .new-prod-boxes {
    padding-bottom: 10px;
  }

  .new-prod-boxes-container .new-prod-boxes {
    flex-direction: row;
    padding-bottom: 60px;
    align-items: initial;
    margin-top: 37px;

    &.five-cards {
      flex-wrap: wrap;
    }
  }

  .new-prod-boxes-container .new-prod-boxes {
    margin: 0 auto;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  }

  .new-prod-boxes-container .new-prod-boxes .prod_box {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 50;
  }

  .new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 50;
  }

  .new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 10;
  }
}

@media (min-width: 992px) {
  .new-prod-boxes-container.we-container {
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1200px) {
  .new-prod-boxes-container.we-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (width <= 525px) {
  .new-prod-boxes-container .new-prod-boxes {
    padding: var(--body-padding);
  }

  .new-prod-boxes-container .switchBox {
    padding-bottom:20px;
  }

  .new-prod-boxes-container .new-prod-boxes .prod_box {
    width: 100%;
    min-width: 100%;
  }
}

/* Pricing elements css */
.new-prod-boxes {
  bd-context, bd-product, bd-option {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 50;
  }

  .checkmark-list {
    bd-context, bd-product, bd-option {
      display: block;
    }
  }
}