@charset "UTF-8";
.booking-form-container {
  background-color: rgba(0, 0, 0, .5);
  position: fixed !important;
  z-index: 999;
  top: 0;
  width: 100vw;
  height: 100vw !important;
  min-height: 100vw !important;
  max-height: 100vw !important;
  padding: 0!important;
  display: none;
}

.booking-form-container .booking-form-wrapper {
  width: 768px;
  height: auto;
  background-color: white;
  margin: 5% auto;
  padding: 1.5em 2em 1em;
  overflow: hidden;
  overflow-y: hidden;
  overflow-y: scroll;
  text-align: left;
  border-radius: .75rem;
  position: relative;
}

.booking-form-container .booking-form-wrapper span.modal-close-btn {
  content: 'x';
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #33475b;
  background-color: #f5f8fa;
  border: 1px solid #cbd6e2;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.booking-form-container #title-box {
  text-align: left;
}

.booking-form-container #title-box p {
  font-size: 16px;
}

.booking-form-container #success-message {
  text-align: center;
  color: rgb(15, 151, 15);
  display: none;
}

.booking-form-container .input-row {
  display: flex;
  align-items: flex-end;
  gap: 2em;
  margin-bottom: 1em;
}

.booking-form-container .input-row .input-box {
  flex: 1;
}

.booking-form-container .input-row em.input-err {
  color: red;
  font-size: 13px;
  display: none;
}

.booking-form-container .input-row label, .booking-form-container .input-row p.fake-label {
  color: #33475b;
  line-height: 18px;
  font-size: 15px;
  display: block;
  margin-top: 0;
  margin-bottom: 7px;
}

.booking-form-container .input-row label span, .booking-form-container .input-row p.fake-label span {
  color: red;
  font-size: 13px;
  padding-left: 2px;
}

.booking-form-container .input-row .checkboxes .all-checks {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  gap: 18px;
}

.booking-form-container .input-row label.input-checkbox {
  gap: 1em;
  line-height: 20px;
}

.booking-form-container .input-row .checkboxes label.input-checkbox {
  display: flex;
  text-align: center;
  gap: 5px;
}

.booking-form-container .input-row label.input-checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
  min-height: 22px;
  float: left;
  margin-right: 7px;
}

.booking-form-container .input-row input[type="submit"] {
  float: left;
  margin-right: 8px;
  background: #ff7a59;
  border-color: #ff7a59;
  color: #ffffff;
  line-height: 12px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.booking-form-container .input-row input {
  box-sizing: border-box;
  min-height: 35px;
}

.booking-form-container .input-row input, .booking-form-container .input-row textarea, .booking-form-container .input-row select {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  background-color: #f5f8fa;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #33475b;
  border: 1px solid #cbd6e2;
  margin: 0;
}

.booking-form-container .input-row .input-box.input-textarea {
  width: 100%;
}

.booking-form-container .input-row textarea {
  display: block;
  width: 100%;
  min-height: 100px;
}

@media screen and (width <= 768px) {
  .booking-form-container .booking-form-wrapper {
    width: 90vw;
    height: 100vh;
  }

  .booking-form-container .input-row {
    display: block;
  }

  .booking-form-container .input-row .input-box {
    margin-bottom: 1em;
  }
}
