
/* stylelint-disable  */
main .section.phone-number-checker-container {
    padding: 20px;
    background-color: #fff;
    max-width: 1350px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    overflow: visible;
    font-family: 'IBM Plex Sans', Roboto, sans-serif;

    &::before {
        content: '' ;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 350px;
        background-image: url("../../icons/phone-checker-pattern.svg");
        background-color: #006EFF;
        border-radius: 20px;
    }

    &.danger {
        &::before {
            background-color: #3e030b;
            background-image: url("../../icons/phone-checker-pattern-red.svg");
        }

        .check-url {
            display: none;
        }

        .phone-number-checker input[type="text"], .phone-number-checker #inputDiv {
            max-width: 100%;
            min-width: 100%;
            border: 2px dashed #D82E21;
            padding-right: 15px;
            pointer-events: none;
            border-radius: 8px;
        }

        .phone-number-checker input[type="text"] {
            display: none;
        }

        .phone-number-checker #inputDiv {
            display: block;
            margin-bottom: 24px;
            text-align: center;
        }

        .phone-number-checker .danger-image {
            display: block;
        }

        .phone-number-checker h1 {
            color: #EA0220;
            margin-bottom: 16px;
        }

        .phone-number-checker .buttons-container {
            display: flex;
        }

        .phone-number-checker .privacy-policy {
            display: none;
        }

        #paste-from-clipboard {
            display: none;
        }

        .phone-number-checker .result.danger {
            margin-top: 0;
        }
    }

    &.safe {
        &::before {
            background-color: #3d8648;
            background-image: url("../../icons/phone-number-checker-pattern-green.svg");
        }

        .check-url {
            display: none;
        }

        .phone-number-checker h1 {
            margin-bottom: 16px;
        }

        .phone-number-checker input[type="text"], .phone-number-checker #inputDiv {
            max-width: 100%;
            min-width: 100%;
            border: 2px dashed #3D8648;
            padding-right: 15px;
            pointer-events: none;
            border-radius: 8px;
        }

        .phone-number-checker input[type="text"] {
            display: none;
        }

        .phone-number-checker #inputDiv {
            display: block;
            margin-bottom: 24px;
            text-align: center;
        }

        .phone-number-checker .safe-image {
            display: inline-block;
        }

        .phone-number-checker .buttons-container {
            display: flex;
        }

        .phone-number-checker .privacy-policy {
            display: none;
        }

        #paste-from-clipboard {
            display: none;
        }
    }

    .phone-number-checker-wrapper {
        max-width: 960px;
        width: 100%;
    }

    .phone-number-checker-form {
        width: 100%;

        .country-dropdown-container {
            min-width: 100px;
            max-width: 100px;

            .dropdown-input-wrapper {
                display: flex;
                align-items: center;
                border: 1px solid #ccc;
                border-radius: 6px 0 0  6px;
                background: #fff;
                cursor: text;
                background-color: #E4F2FF;
                border: 1px solid #006EFF;
                border-right: none;
                padding-left: 10px;
                padding-right: 10px;
                justify-items: space-between;

                input {
                    border: none;
                    outline: none;
                    background: transparent;
                    padding-left: 0;
                    padding-right: 0;
                }

                img {
                    width: 30px;
                    height: 20px;
                    object-fit: cover;
                    margin-right: 8px;
                    justify-self: center;
                }               
            }

            &:has(.dropdown-list.open) .dropdown-input-wrapper {
                border-bottom-left-radius: 0;
            }
            

            .dropdown-list {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                gap: 0;
                border: 1px solid #ccc;
                border-radius: 0 0 6px 6px;
                background: #fff;
                max-height: 300px;
                overflow-y: auto;
                display: none;
                z-index: 999;

                .dropdown-option {
                    display: flex;
                    align-items: center;
                    padding-left: 4px;
                    cursor: pointer;
                    transition: background 0.2s;
                    min-height: 50px;
                    font-size: 16px;
                    gap: 8px;
                    img {
                        width: 30px;
                        height: 20px;
                    }

                    span {
                        text-align: left;

                        &:first-of-type {
                            width: 65px;
                        }
                    }

                    &:hover {
                        background: #f0f0f0;
                    }
                }

                &.open {
                    width: 100%;
                }
            }

            /* Show dropdown when active */
            &.active .dropdown-list {
                display: block;
            }
        }

        &:has(.dropdown-list.open) input[type="text"] {
            border-bottom-right-radius: 0;
        }

    }

    .phone-number-checker {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
        position: relative;
    
        h1 {
            font-weight: bold;
            font-size: 32px;
            color: #006EFF;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            margin-bottom: 10px;
            padding: 0;
        }

        .safe-image {
            display: none;

            img {
                max-width: 196px;
            }
        }

        .danger-image {
            display: none;

            img {
                max-width: 196px;
            }
        }

        p:first-of-type {
            margin: 0;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            gap: 15px;
            padding-top: 10px;
        }

        input[type="text"],#inputDiv {
            padding: 15px;
            font-size: 14px;
            border-radius:0 8px 8px 0;
            border: 1px solid #006EFF;
            border-left: none;
            margin: 0;
            position: relative;
            z-index: 1;
        }

        #inputDiv {
            text-align: left;
            word-wrap: break-word;
            pointer-events: none;
            display: none;
        }

        .input-container__container {
            width: 100%;
            position: relative;
            display: flex;
        }

        #paste-from-clipboard {
            width: 12px;
            height: 16px;
            background: url("../../icons/link-checker-example.svg") no-repeat;
            background-size: contain;
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
            z-index: 1;
        }

        .buttons-container {
            justify-content: center;
            margin-top: 40px;
            display: none;
            gap: 40px;
            margin-bottom: 20px;

            .button-container {
                margin: 0;
            }
        }

        button.check-url {
            padding: 15px 40px;
            cursor: pointer;
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 10px;
            font-weight: bold;
            font-size: 14px;
        }

        button.check-url:hover {
            background-color: #0056b3;
        }

        .share-button, button.check-another-button, .check-another-button {
            position: relative;
            cursor: pointer;
            color: #007BFF;
            border: none;
            background-color: transparent;
            font-weight: bold;
            font-size: 16px;
            gap:10px;
            display: inline-flex;
            align-items: center;
            padding: 15px;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: #dbf0f9;
                border-radius: 8px;

                span.button-text {
                    transform: none;
                }
            }
        }

        .share-button::before {
            content: url("../../icons/shield_ai.svg");
            height: 20px;
            width: 20px;
            display: inline-block;
        }

        button.check-another-button::before, .check-another-button::before {
            content: url("../../icons/check.svg");
            height: 20px;
            width: 20px;
            display: inline-block;
        }

        button.check-another-button::after, .check-another-button::after,
        .share-button::after {
            content: "";
            width: 0;
            height: 0;
            display: none;
        }

        .share-popup {
            position: absolute;
            top: -85px;
            min-width: fit-content;
            background-color: #000; 
            color: #fff; 
            padding: 8px 12px; 
            border-radius: 5px; 
            font-size: 14px; 
            font-weight: bold;
            box-shadow: 0 4px 6px rgb(0 0 0 / 20%); 
            z-index: 10; 
            transition: opacity 0.3s ease-in-out;
            pointer-events: none;
          }
          
          .share-popup::after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 6px solid transparent; 
            border-right: 6px solid transparent;
            border-top: 6px solid #000;
          }

        .button-container .share-button:hover + .share-popup,
        .button-container .share-button:focus + .share-popup {
            opacity: 1;
            pointer-events: auto;
        }

        .result {
            font-size: 14px;
            border-radius: 8px;
            padding-bottom: 20px;
            display: none;
        }

        .result.safe {
            background-color: #F3FEF8;
            padding: 8px 30px 8px 55px;
            position: relative;
            text-align: left;
            display: block;

            &::before {
                content: "";
                background: url("../../icons/safe.svg") no-repeat;
                position: absolute;
                left: 14px;
                top: 15%;
                width: 30px;
                height: 30px;
                background-size: contain;
            }
        }

        .result.danger {
            margin-top: 24px;
            background-color: #FDF3F4;
            padding: 8px 30px 8px 55px;
            position: relative;
            text-align: left;
            display: block;

            &::before {
                content: "";
                background: url("../../icons/bulb-pink.svg") no-repeat;
                position: absolute;
                left: 14px;
                top: 15%;
                width: 30px;
                height: 30px;
                background-size: contain;
            }
        }

        .result.danger.no-response {
            text-align: left;
            font-size: 14px;
            margin-bottom: 19px;

            &::before {
                content: "";
                background: url("../../icons/no-response.svg") no-repeat;
                position: absolute;
                left: 15px;
                top: 20%;
                width: 25px;
                height: 25px;
                background-size: contain;
            }
        }

        .privacy-policy {
            font-size: 12px;
            margin: 15px 0;

            p {
                font-size: 12px;

                &:first-of-type {
                    font-size: 14px;
                }
            }
        }
    }

    @media (min-width:768px) {
        margin: 0 auto;
        padding-bottom: 50px;

        .phone-number-checker{
            padding: 48px 60px 35px;
            
            #paste-from-clipboard {
                height: 21px;
                width: 16px;
            }

            .input-container{
                flex-direction: unset;
            }

            .buttons-container{
                flex-flow: row;
                margin-top: 50px;
                justify-content: center;

                .button-container{
                    margin: 0;
                }
            }

            button.check-url {
                white-space: nowrap;
                font-size: 16px;
            }

            .share-popup{
                top: -40px;
                max-width: unset;
                white-space: nowrap;
            }

            p {
                font-size: 20px;
                margin-bottom: 20px;
                padding: 0;
            }

            h1 {
                font-size: 40px;
                margin-bottom: 40px;
            }

            .result {
                font-size: 16px;
                border-radius: 8px;
                padding-bottom: 30px;
            }

            .privacy-policy {
                font-size: 14px;
                margin-top: 30px;
                p:first-of-type {
                    margin-bottom: 40px;
                }
            }

            & input[type="text"], & #inputDiv {
                font-size: 16px;
            }   
        }
    }

    @media (min-width: 991px) {
        .phone-number-checker {
            padding: 48px 160px 35px;
        }
    }
}

select option::before {
    background: var(--background);
    height: 30px;
    width: 30px;
}

main .default-content-wrapper {
    .input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 15px;
        padding-top: 10px;
    }

    input[type="text"],#inputDiv {
        padding: 15px;
        padding-right: 35px;
        font-size: 14px;
        border-radius: 8px;
        border: 1px solid #006EFF;
        width: 100%;
        margin: 0;
        position: relative;
    }

    #inputDiv {
        text-align: left;
        word-wrap: break-word;
        pointer-events: none;
        display: none;
    }

    .input-container__container {
        width: 100%;
        position: relative;
    }

    button.check-url {
        padding: 15px 40px;
        cursor: pointer;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        font-size: 14px;
        white-space: nowrap;
    }

    button.check-url:hover {
        background-color: #0056b3;
    }

    @media (min-width: 768px ) {
        .input-container{
            flex-direction: row;
            max-width: 650px;
            margin: auto;
            gap: 0;
        }

        input[type="text"], #inputDiv {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        button.check-url {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
}