/* stylelint-disable no-descending-specificity */
.box-carousel-container {
    background: white;
}

.box-carousel-container .carousel-header {
    display: flex;
    align-items: center;
    justify-content: space;
}

.box-carousel-container .carousel-header .title {
    color: black;
}

.box-carousel-container .carousel-header .title p {
    margin: 0 0 16px;
}

.box-carousel-container .carousel-header .left-arrow.disabled,
.box-carousel-container .carousel-header .right-arrow.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.box-carousel-container .carousel-header .left-arrow,
.box-carousel-container .carousel-header .right-arrow {
    color: black;
}

.box-carousel-container .carousel-container {
    width: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.box-carousel-container .carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;
}

.box-carousel-container .block.scrollable .carousel {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.box-carousel-container .carousel::-webkit-scrollbar {
  display: none;
}

.box-carousel-container .block.scrollable .carousel::-webkit-scrollbar {
    display: none;
}

.box-carousel-container .carousel-item {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100%;
    margin: 10px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 15px;
    color: black;
    font-size: 1em;
    background: #eaf2ff;
    flex-shrink: 0;
    border: solid 1px black;
}

.box-carousel-container.testimonials .box-carousel:not(.trusted-carousel) .carousel-item {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    border: solid 1px #ddd;
    background: white;
    position: relative;
    min-height: fit-content;
}

.box-carousel-container .carousel-item:first-child {
    margin-left: 0;
}

.box-carousel-container .carousel-item .title {
    letter-spacing: 0;
    overflow: hidden;
    margin: 12px 0;
}

.box-carousel-container.testimonials .carousel-item .title {
    -webkit-line-clamp: 6;
    line-clamp: 6;
}

.box-carousel-container .carousel-item .subtitle {
    font: normal normal normal 12px/15px "IBM Plex Sans", sans-serif;
    letter-spacing: 0;
    overflow: hidden;
    margin-top: auto;
    color: #242424;
}

.box-carousel-container.testimonials .carousel-item .subtitle-secondary {
    font: normal normal bold 14px/21px "IBM Plex Sans", sans-serif;
    position: relative;
    margin-bottom: 12px;
}

.box-carousel-container.testimonials .carousel-item .subtitle-secondary::before {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 1px;
    background: black;
    top: -5px;
}

.box-carousel-container.testimonials .carousel-item .subtitle {
    margin-top: unset;
    color: #242424;
    line-height: 100%;
}

.box-carousel-container.testimonials .trusted-carousel .carousel-container {
    background-color: #F4FAFF;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    flex-direction: column;
}

.box-carousel-container.testimonials .trusted-carousel .carousel-container .carousel {
    display: flex;
    width: 100%;
}

.box-carousel-container.testimonials .trusted-carousel .carousel-container .carousel-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: transparent;
    border: none;
    align-items: center;
    text-align: center !important;
}

.box-carousel-container.testimonials .trusted-carousel .carousel-container .carousel-item img {
    height: 53px;
    max-width: 200px;
}

.box-carousel-container.testimonials .trusted-carousel .carousel-container .carousel-item .title {
    font-size: 17px;
    font-weight: 600;
    width: 80%;
    text-align: center;
    margin-bottom: 24px;
}

.box-carousel-container.testimonials .carousel-container .carousel-nav {
    flex-direction: row;
    display: none;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.box-carousel-container.testimonials .carousel-container .carousel-nav .navigation-item{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color:#C1DAFF;
}

.box-carousel-container.testimonials .carousel-container .carousel-nav .navigation-item.active{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #006DFF;
}

.box-carousel-container.testimonials .trusted-carousel .img-container img{
    filter: none;
}

.box-carousel-container.testimonials .box-carousel.trusted-carousel .arrows {
    display:none;
}

.box-carousel.trusted-carousel .carousel-header .arrows .arrow {
  display: none;
}

.box-carousel-container .left-arrow svg {
    transform: rotate(180deg);
}

.box-carousel-container .arrow {
    width: 100px;
}

.box-carousel-container .arrow svg {
    width: 100%;
    height: 50px;
}

.box-carousel-container .arrow svg path {
    fill: white;
}

.box-carousel-container .arrow.disabled svg path {
    fill: #a5a5a5;
}

.box-carousel-container .carousel-item .icon {
    width: 35px;
    height: 35px;
    margin: 0;
}

.box-carousel-container svg path {
    fill: black !important;
}

.box-carousel-container.testimonials .img-container {
    width: 100%;
}

.box-carousel-container.testimonials .img-container img {
    object-fit: contain;
    filter: grayscale(100%);
    width: unset;
}

.box-carousel-container .box-carousel.reviews .img-container {
    font-size: 17px;
}


.box-carousel-container .box-carousel.reviews .img-container hr {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
}

.box-carousel-container ul {
    padding-left: 0;
    display: grid;
    grid-auto-flow: column;
}

.box-carousel-container .box-carousel.reviews .title table {
    justify-content: space-between;
    color: #3C3C3C;  
}
 
.box-carousel-container .box-carousel.reviews .subtitle-secondary {
    font-size: 17px; 
}

.box-carousel-container .box-carousel.reviews .subtitle-secondary::before {
    display: none;
}

.box-carousel-container .box-carousel.reviews .title {
    margin: 0;
}

.box-carousel-container .box-carousel.reviews p {
    margin: 0;
}

.box-carousel-container .box-carousel.reviews .icon {
    width: 19px;
    height: 19px;   
}

.box-carousel-container .box-carousel.reviews .subtitle {
    font-size: 16px;
    color: #3C3C3C;
}

.box-carousel-container .box-carousel.reviews .arrows {
    display: none;
}

.box-carousel-container.testimonials .box-carousel.reviews .carousel-item {
    grid-row: span 9;
    gap: 0;
    text-align: left;
}

.trusted .box-carousel-container .subtitle-secondary{
  transform: translateY(-40%);
}

@media screen and (min-width: 768px) {
    .box-carousel-container .carousel-header {
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .box-carousel-container.testimonials .img-container {
        width: 60%;
    }

    .box-carousel-container .box-carousel.reviews .img-container {
        width: 100%;
        font-size: 22px;
        grid-template-rows:subgrid;
        grid-row: span 2;
    }

    .box-carousel-container.testimonials .trusted-carousel .carousel-container {
        padding: 40px 20px;
    }

    .box-carousel-container.testimonials .trusted-carousel .carousel-container .carousel-item img {
        height: 73px;
        max-width: unset;
    }

    .box-carousel-container .carousel-item .subtitle {
        font: normal normal normal 18px/23px "IBM Plex Sans", sans-serif;
    }

    .box-carousel-container.testimonials .carousel-item .subtitle {
        font: normal normal normal 12px/15px "IBM Plex Sans", sans-serif;
    }
}

@media screen and (min-width: 992px) {
    .box-carousel-container .default-content-wrapper {
        overflow: hidden;
    }


    .box-carousel-container.testimonials .trusted-carousel .carousel-container .carousel-item .title {
        font-size: 26px;
        color: #242424;
        margin-top: 12px;
        margin-bottom: 42px;
    }

    .box-carousel-container.testimonials .carousel-item .subtitle {
        font-size: 17px;
        line-height: 1.5rem;
    }

    .box-carousel-container.testimonials .carousel-item .subtitle-secondary {
        font-size: 18px;
    }

    .box-carousel-container.testimonials .carousel-item .subtitle-secondary::before{
        content:none;
    }

    .box-carousel-container.testimonials .trusted-carousel .carousel-container .carousel-nav {
        display: flex;
    }

    .box-carousel-container:not(.testimonials) .carousel-item:hover {
        color: white;
        background: #006dff;
        box-shadow: 0 3px 40px #006EFFF2;
    }
}

@media screen and (max-width: 768px){
    .trusted .box-carousel-container .subtitle-secondary{
        transform: translateY(-80%);    
    }

    .box-carousel-container.testimonials .carousel-item .subtitle-secondary::before{
        content:none;
    }
}