/* stylelint-disable */

:root {  
  /* breadcrumbs font size */
  --breadcrumb-text-color-dark: #c5c5c5;
  --breadcrumb-text-color-dark-hover: #616161;
  --breadcrumbs-font-size-s: 12px;
}
.hero-aem-container.hero-vsb {
  overflow: unset !important;
}

.hero-aem-container .hero-aem p:first-of-type:has(a) {
  margin: 0;
  font-size: 16px;
}

.hero-aem-container .hero-aem>p:first-of-type {
  margin: 0;
  margin-bottom: 20px;
}

.hero-aem-wrapper {
  max-width: var(--section-desktop-max-width);
  padding: 0 var(--section-desktop-padding);
  margin: 0 auto;
}

.hero-aem-container .hero-aem h1 {
  color: #006DFF;
  font-size: 23px;
  font-weight: normal;
  margin-top: 10px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero-aem-container .hero-aem h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.1;
}

/* hide mobile btn on desktop */
.hero-aem-container.custom-btns .hero-aem__card-text>p.button-container a {
  color: var(--link-color);
  font-weight: var(--font-weight-bold);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero-aem-container.custom-btns .hero-aem__card-text>p.button-container a::after {
  content: '';
  min-width: 24px;
  min-height: 24px;
  -webkit-mask: url(/_src/icons/arrow-right.svg) no-repeat;
  mask: url(/_src/icons/arrow-right.svg) no-repeat;
  background-color: var(--button-link-color);
  background-color: var(--link-color);
  opacity: 1;
  margin: 0;
  display: inline-block;
  transition: all .2s cubic-bezier(.4, 0, .2, 1);
  transform: translateX(0);
}

.hero-aem-container.custom-btns .hero-aem__card-text>p.button-container:nth-of-type(2) {
  display: none;
}

.hero-aem-container .hero-aem .hero-aem__mobile-image img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: fit-content;
  position: relative;
  top: 6px;
}

.hero-aem-container .hero-aem .hero-aem__desktop-image {
  display: none;
}

.hero-aem-container .hero-aem .hero-aem__card-text {
  padding: 27px;
  font-size: 20px;
  background-color: #F7F7F7;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hero-aem-container .hero-aem .hero-aem__card-text picture img {
  width: auto;
  max-height: 60px;
}

.hero-aem-container .hero-aem .hero-aem__card-text p:has(picture) {
  text-align: center;
}

.hero-aem-container .hero-aem .hero-aem__breadcrumb {
  border-spacing: 0;
  font-size: 12px;
  margin-bottom: 5px;
  align-self: flex-start;
}

.hero-aem-container .hero-aem .hero-aem__breadcrumb a {
  color: #202020;
  text-decoration: none;
}

.hero-aem-container .hero-aem .hero-aem__breadcrumb a:hover {
  text-decoration: underline;
}

main .hero-aem-container .hero-aem .breadcrumb {
  font-weight: var(--font-weight-bold);
  color: #dedede;
  min-height: unset;
  padding: 12px 0;
  margin-bottom: 12px;
}

main .hero-aem-container .hero-aem .breadcrumb a {
    font-size: var(--breadcrumbs-font-size-s);
    font-weight: var(--font-weight-bold);
    color: var(--breadcrumb-text-color-dark-hover);
    text-decoration: none;
    line-height: 1.7;
    letter-spacing: .96px;
}

main .hero-aem-container .hero-aem .breadcrumb a::after {
    content: "/";
    display: inline-block;
    color: var(--color-dark-gray);
    margin: 0 3px;
    font-size: 9pt;
}

main .hero-aem-container .hero-aem .breadcrumb a:last-child {
    padding: 0;
    margin: 0;
    pointer-events: none;
}

.hero-aem-container .hero-aem p.button-container .button.primary {
  width: 100%;
}

.hero-aem-container .hero-aem .prod-oldprice {
  font-size: 16px;
  text-decoration: line-through;
}

.hero-aem-container .hero-aem .prod-save {
  color: #0B6A26;
  background-color: #D1FADC;
  font-weight: bold;
  font-size: 14px;
  margin-left: 8px;
  padding: 3px 7px;
  border-radius: 16px;
  display: inline-flex;
  gap: 4px;
}

.hero-aem-container .hero-aem .prod-newprice {
  font-size: 40px;
  font-weight: bold;
}

.hero-aem-container .hero-aem .newprice-container {
  line-height: 1;
}

.hero-aem-container .hero-aem .newprice-container sup {
  position: relative;
  top: -7px;
}

.hero-aem-container .aem-two-cards {
  margin-top: 20px;
}

.hero-aem-container .aem-two-cards h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.1;
}

.hero-aem-container .aem-two-cards_card {
  border-radius: 20px;
  background-color: #F7F7F7;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero-aem-container .aem-two-cards_card .button-container {
  margin-top: auto;
}

.hero-aem-container .aem-two-cards .aem-two-cards_card h2 {
  color: #006DFF;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.hero-aem-container .aem-two-cards .justify-space-between {
  justify-content: space-between;
}

.h-100 {
  height: 100% !important;
}

.hero-aem-container.we-container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.hero-aem-container .button.primary {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  min-width: 185px;
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px 26px 8px 28px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  background-color: #eb0000;
  border: 2px solid #eb0000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 8px;
  height: fit-content;
  transition: all .2s cubic-bezier(.4, 0, .2, 1);

  &:hover {
    color: white;
    background-color: #D70000;
    border-color: #D70000;
  }
}

.hero-aem-container .button.free-download {
  color: #005ed9;
  font-weight: bold;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.hero-aem-container .button.free-download:hover {
  color: #0A53C5;
  transform: translateX(10px);
}

.hero-aem-container .button.free-download::after {
  content: '\2192';
  width: 24px;
  height: 24px;
  display: inline-block;
  transition: all .2s cubic-bezier(.4, 0, .2, 1);
  transform: translateX(0);
  margin-left: 2px;
}

.hero-aem-container .button.free-download:hover::after {
  transform: translateX(5px);
}

.hero-aem__card-text p:last-child a {
  color: inherit;
  margin-left: 8px;
  font-weight: normal;
}

.hero-aem-container .hero-aem p em a {
  min-width: 185px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px 26px 8px 28px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: #006DFF;
  background-color: transparent;
  border: 2px solid #006DFF;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 8px;
  height: fit-content;
  transition: all .2s cubic-bezier(.4, 0, .2, 1);
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 10px;
}

.hero-aem-container .hero-aem p em a:hover {
  color: white;
  background-color: #006DFF;
}

.hero-aem-container.bf25 .hero-aem p em a:active, .hero-aem-container.bf25 .hero-aem p em a:hover {
  background-color: #F00;
}

.hero-aem-container .hero-aem p em a:active {
  background-color: #0D499B;
}

.hero-aem-container .hero-aem p strong em a {
  color: black;
  text-decoration: underline;
}

.hero-aem__pill {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
  background-color: #006DFF;
  border-radius: 20px;
  padding: 5px 13px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 0px;
}

.hero-aem__underPriceText {
  font-size: 14px;
}

.hero-aem-container .aem-two-cards p a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px 26px 8px 28px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #eb0000;
  border: 2px solid #eb0000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 8px;
  height: fit-content;
}

.hero-aem-container .aem-two-cards p:has(a) {
  margin-top: auto;
}

.hero-aem-container .aem-two-cards h2 {
  font-size: 36px;
  font-weight: bold;
}

.hero-aem-container .aem-two-cards .aem-two-cards_card h2 {
  color: #006DFF;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.hero-aem-container .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1.5rem;

  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.hero-aem-container .row>* {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
  box-sizing: border-box;
}


.hero-aem-container .col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.hero-aem-container.blue-buttons {

  .button.primary,
  p em a {
    color: #006DFF;
    border-color: #006DFF;
    background-color: transparent;
    margin-right: 16px;
    transition: all .2s cubic-bezier(.4, 0, .2, 1);

    &:hover {
      color: white;
      background-color: #006DFF;

      &::after {
        transform: translateX(5px);
        opacity: 1;
      }
    }

    &::after {
      content: '';
      width: 24px;
      height: 24px;
      -webkit-mask: url("/_src/icons/arrow-right.svg");
      mask: url("/_src/icons/arrow-right.svg");
      background-color: #fff;
      display: inline-block;
      transition: all .2s cubic-bezier(.4, 0, .2, 1);
      transform: translateX(0);
      opacity: 0;
    }
  }
}

.hero-aem-container {
  .custom-dropdown-container {
    position: relative;
    max-width: 400px;

    .custom-dropdown {
      position: relative;
      width: 100%;

      .dropdown-button {
        width: 100%;
        padding: 15px 14px 16px 14px;
        font-size: 16px;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 0 5px 5px 5px;
        cursor: pointer;
        text-align: left;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #006DFF;
        font-weight: bold;

        &:after {
          content: '\25BC';
          /* Down arrow */
          font-size: 12px;
          margin-left: auto;
          transition: transform 0.3s ease;
          color: initial;
        }

        &.active:after {
          transform: rotate(180deg);
          /* Rotate arrow on active */
        }
      }

      .dropdown-options {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-top: 5px;
        display: none;
        /* Hide by default */
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

        .custom-dropdown-item {
          padding: 10px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #f0f0f0;
          }

          &.selected {
            background-color: #F1F5F9;
          }
        }
      }
    }

    .custom-dropdown-tag {
      background: #006DFF;
      border-radius: 5px 5px 0 0;
      color: white;
      padding: 3px 11px 5px 11px;
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      line-height: 16px;
    }
  }
}

.hero-aem-container .hero-aem__prices {
  margin-top: 1.5rem;
}

.hero-aem-container .hero-aem ul {

  padding: 0;
  margin-right: 5px;

  li {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
    list-style-type: none;
    padding: 0;
    display: flex;
  }

  li::before {
    content: '';
    height: 17px;
    width: 17px;
    margin-right: 10px;
    background-image: url("https://bitdefender.com/common/icons/circle-check-sharp-solid.svg");
    background-repeat: no-repeat;
  }
}

.hero-aem-container.mobile-grey-background {
  background-color: #F7F7F7;
}

.hero-aem-container.no-padding-card-mobile {
  .hero-aem .hero-aem__card-text {
    padding: 0;
  }
}

.hero-aem-container .benefit_list tbody tr {
  display: flex;
  flex-flow: column;

  ul {
    margin: 0;
  }
}

.hero-aem-container .ratings tbody tr {

  display: flex;
  flex-wrap: wrap;

  td {
    text-align: center;
  }

  td:first-of-type {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  td:not(:first-of-type) {
    margin-top: 12px;
  }

  td:nth-of-type(2) {
    position: relative;
    margin-right: 33px;
    position: relative;

    &::after {
      content: '';
      height: 25px;
      width: 1px;
      background-color: #ADADAD;
      position: absolute;
      top: 35%;
      right: -17px;
    }
  }

  p:has(strong) {
    display: flex;
    font-size: 17px;
    justify-content: left;
  }

  .icon-star {
    margin: 0;
    height: 17px;
    width: 16px;
  }

  p {
    font-size: 14px;
    margin: 8px 0;
  }
}

.hero-aem-container .devices-years-text {
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
  color: #4F4F4F;
  margin-top: 8px;
}

.hero-aem-container .hero-aem__prices+p {
  margin: 8px 0;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
}

.hero-aem-container.v2 {
  padding-bottom: 0;

  .hero-aem__terms {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.35;
  }

  .hero-aem__breadcrumb,
  .hero-aem__card>p {
    display: none;
  }

  .hero-aem-wrapper {
    background-color: #F8F8F8;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .hero-aem__card__desktop div>h1 {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .hero-aem__card>.hero-aem__card-text {
    padding: 0;
  }

  .hero-aem__terms {
    display: flex;
    gap: 13px;
    margin: 0;
  }
}

main .hero-aem-container.bf25 .hero-aem .breadcrumb *, main .hero-aem-container.bf25 .hero-aem .breadcrumb a::after {
  color: white;
}

.hero-aem-container.bf25 .hero-aem, .hero-aem-container.bf25 .hero-aem .hero-aem__card__desktop {
  background-color: black;
  border-radius: 20px;
}

.hero-aem-container.bf25 .hero-aem .hero-aem__card__desktop h1, .hero-aem-container.bf25 .hero-aem .hero-aem__card__desktop h2, .hero-aem-container.bf25 .hero-aem p em a {
  color: white;
}

.hero-aem-container .hero-aem {
  position: relative;
}

.hero-aem-container .circleDiscount {
  background-color: #F00;
  border-radius: 100%;
  border: 3px solid white;
  position: absolute;
  right: 5em;
  top: 3em;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transform: rotate(-9deg);
  padding: 0;
}

.hero-aem-container .circleDiscount p {
  border-radius: 100%;
  border: 4px solid black;
  color: white;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 26px;
  line-height: 28px;
  font-family: "IBM Plex Sans", sans-serif;
}

.hero-aem-container.bf25 .hero-aem p em a {
  border: 2px solid #FFF;
}

@media (min-width: 768px) {
  .hero-aem-container .hero-aem {
    display: flex;
    flex-wrap: wrap;

    h1 {
      font-size: 38px;
    }
  }

  .hero-aem-container.mobile-grey-background {
    background-color: initial;
  }

  .hero-aem-container .benefit_list tbody tr {
    display: flex;
    flex-flow: row;
    gap: 10px;
  }

  .hero-aem-container .ratings tbody tr {
    flex-wrap: nowrap;

    td:not(:first-of-type) {
      margin-top: 0px;
    }

    p:has(strong) {
      justify-content: center;
    }
  }


  .hero-aem-container .hero-aem .hero-aem__mobile-image {
    display: none;
  }

  .hero-aem-container .hero-aem .hero-aem__desktop-image {
    display: block;
    height: 100%;
    position: relative;
  }

  .hero-aem-container .hero-aem .hero-aem__desktop-image::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, rgba(247, 247, 247, 0), #F7F7F7);
  }

  .hero-aem-container.bf25 .hero-aem .hero-aem__desktop-image::after {

  }

  .hero-aem-container.hide-gradient .hero-aem .hero-aem__desktop-image::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
  }

  .hero-aem-container .hero-aem .hero-aem__desktop-image img {
    height: 100%;
    max-width: 800px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .hero-aem-container .hero-aem .hero-aem__card-text {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: initial;
    padding: 0;
  }

  .hero-aem-container .hero-aem .hero-aem__card-text p:has(picture) {
    text-align: left;
    min-height: 60px;
  }

  .hero-aem-container .hero-aem .hero-aem__card__desktop {
    background-color: #F7F7F7;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .hero-aem-container .hero-aem .hero-aem__card__desktop--center {
    display: flex;
    align-items: center;
  }

  .hero-aem-container .hero-aem .hero-aem__card__desktop>div {
    padding: 32px 0px 24px 56px;
  }

  .hero-aem-container.smaller-card-padding .hero-aem .hero-aem__card__desktop>div {
    padding: 32px 8px 24px 25px;
  }

  .hero-aem-container .hero-aem p.button-container {
    text-align: left;
    display: inline-block;
  }

  .hero-aem-container .hero-aem p.button-container .button.primary {
    width: auto;
  }

  .hero-aem-container .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .hero-aem-container .col-md-4 {
    flex: 0 0 auto;
    width: 33.33%;
  }

  .hero-aem-container .col-md-3 {
    flex: 0 0 auto;
    width: 24%;
  }

  .hero-aem-container .aem-two-cards h2+p {
    font-size: 18px;
  }

  .hero-aem-container.v2 {

    .hero-aem__breadcrumb {
      display: block;
    }

    .hero-aem__terms {
      font-size: 24px;
    }

    .hero-aem-wrapper {
      background-color: unset;
    }

    .hero-aem .hero-aem__card__desktop>div {
      padding-left: 30px;
    }
  }
}

@media (max-width: 992px) {
  .hero-aem-container.hero-vsb .hero-aem h1 {
    font-size: 32px;
  }
}


@media (min-width: 992px) {
  .hero-aem-container.we-container {
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .hero-aem-container .col-lg-6 {
    flex: 0 0 auto;
    width: 49%;
  }

  .hero-aem-container .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66%;
  }

  .hero-aem-container .col-lg-3 {
    flex: 1 0 auto;
    width: 24%;
  }

  .hero-aem-container .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66%;
  }

  .hero-aem-container .hero-aem p em a {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .hero-aem-container .col-lg-6 {
    flex: 0 0 auto;
    width: 49%;
  }

  .hero-aem-container .col-lg-3 {
    flex: 0 0 auto;
    width: 24%;
  }

  .hero-aem-container.we-container {
    max-width: 1350px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-aem-container .hero-aem .hero-aem__desktop-image img {
    max-height: 600px;
  }

  .hero-aem-container .hero-aem p em a {
    margin-right: 18px;
  }

  .hero-aem-container.v2 {

    .hero-aem-wrapper {
      background-color: unset;
    }

    .hero-aem .hero-aem__desktop-image {
      max-height: 240px;
    }

    .hero-aem h1 {
      font-size: 36px;
    }
  }
}

@media (max-width: 1399px) {
    .hero-aem-wrapper{
        padding: 0 var(--section-large-desktop-padding);
    }
}

@media (max-width: 1200px) {
  .hero-aem-container.bf25 .hero-aem .hero-aem__desktop-image {
    height: 80%;
    margin-top: 4em;
  }
  
  .hero-aem-container .circleDiscount {
    right: 2em;
    top: 6em;
  }
}

@media (max-width: 992px) {
  .hero-aem-container.bf25 .hero-aem .hero-aem__desktop-image {
    height: 60%;
    margin-top: 7em;
  }
}

@media (max-width: 768px) {
  .hero-aem-container.bf25 .block {
    padding: 1em 2em;
  }

  .hero-aem-container.bf25 .hero-aem .hero-aem__card-text {
    background-color: black;
    padding: 0 1em;
    text-align: center;
  }

  .hero-aem-container .circleDiscount {
    right: 5em;
    top: 11em;
  }

  .hero-aem-container.custom-btns .hero-aem__card-text>p.button-container:nth-of-type(2) {
    display: block;
  }
}

@media (max-width: 595px) {
  .hero-aem-container.hide-image-mobile .hero-aem .hero-aem__mobile-image img {
    display: none;
  }

  .hero-aem-container.hide-image-mobile .hero-aem .hero-aem__card-text {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .hero-aem-container.bf25 .hero-aem-wrapper {
    padding: 0 var(--section-desktop-padding);
  }
  

  .hero-aem-container.bf25 .block {
    padding: 1em;
  }

  .hero-aem-container .hero-aem p em a {
    width: 100%;
    margin-bottom: 0;
  }

  .hero-aem-container .hero-aem .hero-aem__card-text picture img {
    max-height: 40px;
  }

  .hero-aem-container .circleDiscount {
    width: 80px;
    height: 80px;
    right: 3em;
    top: 12em;
  }

  .hero-aem-container .circleDiscount p {
    font-size: 22px;
    line-height: 25px;
  }
}

@media (max-width: 435px) {
  .hero-aem-container .circleDiscount {
    width: 80px;
    height: 80px;
    right: 1em;
    top: 13em;
  }
}