.quiz-stepper-container {
    --color-light-blue: #E6F7FF;
    --color-bd-blue: #006EFF;

    transition: opacity 0.5s, transform 0.5s, height 0.5s, display 0.5s allow-discrete;

    .block {
        overflow: hidden;
        padding-bottom: 200px;
    }

    .slide-wrapper {
        display: flex;
        width: 100%;
        transition: transform .250s ease-in-out;
        padding: 5px 0;
    }

    .form-wrapper {
        width: 100%;
        flex-shrink: 0;
        margin-right: 60px;
    }

    .step {
        box-shadow: 0 3px 6px #00000029;
        border-radius: 16px;
        padding: 25px 30px calc(235px / 2 + 30px);
        position: relative;
        width: 100%;
        flex-shrink: 0;

        fieldset {
            h2 {
                text-align: left;
                font: normal normal bold 18px/22px Arial, sans-serif;
                color: #000;
                margin-bottom: 20px;
            }

            .error-message {
                visibility: hidden;
                color: red;
                font-weight: 500;
            }

            &.invalid {
                .error-message {
                    visibility: visible;
                }
            }
        }

        .img-container {
            height: 235px;
            border-radius: 30px;
            overflow: hidden;
            position: absolute;
            bottom: calc(-235px / 2);
            left: 25px;
            right: 25px;
        }
    }

    .step-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .step-index {
        padding: 3px 10px;
        background: #E4F2FF 0% 0% no-repeat padding-box;
        border-radius: 20px;
    }

    .step-previous {
        font: normal normal normal 12px/14px Arial, sans-serif;
        color: #7E7E7E;
        margin-left: auto;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background: url('/_src/icons/arrow-right.svg') no-repeat;
            opacity: 0.5;
            transform: rotate(-180deg);
        }
    }

    .step-radio-wrapper {
        display: flex;
        align-items: flex-start;
        margin-bottom: 13px;
        cursor: pointer;

        input[type="radio"] {
            display: block;
            margin: 0;
            padding: 0;
            background-color: #fff;
            font: inherit;
            width: 16px;
            height: 16px;
            flex-shrink: 0;
        }

        label {
            font: normal normal normal 16px/18px Arial, sans-serif;
            margin-left: 10px;
            cursor: pointer;
        }

        &.selected {
            label {
                font-weight: 600;
            }
        }
    }

    .button-container.submit {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        .button {
            background-color: #006EFF;
            color: white;
            border-radius: 5px;
            padding: 16px;
            width: 100%;
            justify-content: center;

            &::after {
                background-color: white;
            }
        }
    }

    .acq-quiz {
        font-family: "IBM Plex Sans", sans-serif;
        padding-bottom: 0;

        .step-index {
            color: var(--color-bd-blue);
            margin: 0;
            font-size: 22px;
            font-weight: bold;
            background-color: var(--color-light-blue);
            padding: 5px 10px;
            border-radius: 20px;
            width: fit-content;
        }

        .step {
            width: 100%;
            max-width: 525px;
            box-shadow: none;
            padding: 0;
            margin: auto;

            fieldset {
                h2 {
                    font-size: 24px;
                }
            }

            p:has(sup) {
                color: #3D3D3D;
            }
        }

        .step-radio-wrapper {
            border: 1px solid #E5EAF1;
            border-radius: 15px;
            position: relative;

            label {
                padding: 18px 14px;
                width: 100%;
            }

            input[type="radio"] {
                display: none;
                visibility: hidden;
            }

            .checkbox {
                color: #006DFF;
                border-radius: 4px;
                border: 2px solid #DADADA;
                display: inline-block;
                width: 1.2rem;
                height: 1.2rem;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &:has(input[type="radio"]:checked) {
                background-color: #F8FAFC;
                border: 2px solid var(--color-bd-blue);
            }

            input[type="radio"]:checked+.checkbox {
                background-color: #3197EE;
                box-shadow: inset 0 0 0 4px #f4f4f4;
                border: 2px solid var(--color-bd-blue);
            }

            input[type="radio"]:checked+.label {
                background-color: #F8FAFC;
                border: 2px solid var(--color-bd-blue);
            }
        }

        .button-container.submit {
            justify-content: left;
            margin: 0;

            .button {
                background-color: black;
                border-radius: 10px;
                color: white;
                border-color: black;
                max-width: 230px;
                font-weight: 700;
                font-size: 16px;
                line-height: 100%;
                text-align: center;
                padding: 10px 20px;
            }
        }

        h3 {
            font-size: 24px;
            color: var(--color-bd-blue);
        }
    }
}

@media (min-width: 768px) {
    .quiz-stepper-container {
        .step {
            height: 630px;

            .img-container {
                height: 400px;
                bottom: calc(-400px / 2);
            }
        }
    }
}

@media (min-width: 992px) {
    .quiz-stepper-container {
        .block {
            padding-bottom: 0;
        }

        .step {
            height: unset;
            width: calc(100% - 250px);
            padding: 40px 40% 40px 40px;

            .img-container {
                width: 500px;
                height: 385px;
                bottom: unset;
                left: unset;
                top: calc(50% - 385px / 2);
                right: -250px;
            }

            fieldset {
                h2 {
                    font: normal normal bold 22px/27px Arial, sans-serif;
                    margin-bottom: 30px;
                }

                label {
                    font: normal normal normal 18px/21px Arial, sans-serif;
                }
            }
        }

        .button-container.submit {
            justify-content: flex-start;
            margin-top: 30px;

            .button {
                width: 60%;
            }
        }
    }
}