main .quote-carousel {
  max-width: 100%;
  margin: 55px auto 0;
}

main .quote-carousel .slides-container {
  border-radius: 8px;
  max-width: auto;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
  background: var(--background-color);
  overflow: hidden;
}

main .quote-carousel-container .has-multi-imgs .left-col, main .quote-carousel-container .has-multi-imgs .right-col {
  width: 50%;
  flex: 0 0 50%;
}

main .quote-carousel-container .has-multi-imgs .right-col picture {
  display: none;
}

main .quote-carousel-container .has-multi-imgs .right-col picture img {
  height: auto;
}

main .quote-carousel-container .has-multi-imgs .right-col picture:first-of-type {
  display: block;
}

@media (max-width: 992px) {
  main .quote-carousel-container .has-multi-imgs .left-col, main .quote-carousel-container .has-multi-imgs .right-col {
    width: 100%;
  }
}

@media (min-width: 768px) {
  main .quote-carousel {
    max-width: 80%;
  }

  main .quote-carousel .slides-container {
    margin-bottom: 60px;
  }
}

@media (min-width: 992px) {
  main .quote-carousel {
    max-width: 100%;
    margin: 55px 0 0;
  }

  main .quote-carousel .slides-container {
    max-width: 590px;
    margin-bottom: 80px;
  }
}

/* Fix for missing global styles */
.slides-container h4, .slides-container h5, .slides-container p {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.slides-container .slides {
  display: flex;
  flex-direction: row;
  transition: transform .5s ease-in-out;
}

.slides-container .slide {
  display: flex;
  flex-flow: row;
  flex-shrink: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  padding: 2em 2em 1em;
  gap: 8px;
}

@media (min-width: 1200px) {
  .slides-container .slide {
    gap: 8px;
    padding-left: 30px;
  }

  main .quote-carousel .slides-container {
    max-width: 630px;
  }
}

.slide .icon {
  width: 45px;
  height: 46px;
}

@media (min-width: 1200px) {
  .slide .icon {
    width: 55px;
    height: 56px;
  }
}

/* Quote text styles */

.slides-container .slide h4 {
  font-weight: var(--font-weight-regular);
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-size: 16px;
}

@media (min-width: 992px) {
  .slides-container .slide h4 {
    font-size: var(--heading-font-size-xs);
  }
}

.slides-container .slide h5 {
  position: relative;
  font-weight: var(--font-weight-bold);
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  padding-top: 20px;
  margin-top: 25px;
  color: var(--text-color);
}

@media (min-width: 768px) {
  .slides-container .slide h5 {
    line-height: .75;
  }
}

.slides-container .slide h5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 1px;
  background: #00439c
}

.slides-container .slide p {
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  padding-top: 16px;
}

.slides-container .slide p:last-of-type {
  padding-top: 5px;
}

@media (min-width: 768px) {
  .slides-container .slide p {
    line-height: 1.25;
  }
}

/* Controls styles */

.slides-container .slides-controls {
  padding-right: 30px;
  padding-left: 90px;
  padding-bottom: 37px;
}

.slides-container .slides-action {
  padding-right: 30px;
  padding-top: 37px;
}

.slides-container .slides-dots {
  padding: 0;
  margin: 0;
  width: auto;
  max-width: 855pt;
  text-align: center;
  align-self: flex-start;
  display: flex;
  list-style: none;
  gap: 8px;
  flex-wrap: wrap;
}

.slides-container .slides-dots li {
  display: inline-block;
  border: 0;
  border-radius: 10%;
  padding: 0 5px;
  margin: 0;
  font-size: 0;
  overflow: hidden;
}

.section .slides-container .slides-dots li::before,
.section .slides-container .slides-dots li::after {
  content: none;
}

.slides-container .slides-dots li button {
  padding: 0;
  background: transparent;
  width: 16px;
  height: 16px;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  text-indent: -9999px;
  border: 1px solid #006eff;
  white-space: nowrap;
  transition: all .4s ease-in-out
}

.slides-container .slides-dots .active {
  pointer-events: none;
}

.slides-container .slides-dots li.active button,
.slides-container .slides-dots li:hover button {
  background: #006eff;
}

@media (max-width: 992px) {
  main .quote-carousel {
    margin-top: 0;
  }

  main .quote-carousel-container .has-multi-imgs .right-col picture img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 767px) {
  main .quote-carousel-container .has-multi-imgs .right-col picture img {
    width: 100%;
    height: auto;
    margin-bottom: -1em;
  }

  /* stylelint-disable-next-line selector-id-pattern */
  #customQuoteCarousel .slides-container .slides-dots li {
    border-radius: 8px;
  }
}