

.columns-grid-container {
    padding: 0;
    .columns-grid-wrapper {
        display: flex;
        max-width: 1338px;
        margin: auto;
        background: #0b1f41;

        .columns-grid {
            --gap: 16px;
            background: radial-gradient(85.44% 88.72% at 50.04% 100%, rgba(0, 51, 133, 0) 0%, #003385 100%),
            url('../../icons/cross-pattern.png') repeat;
            background-size: cover, 54px;
            padding-top: 0;
            min-width: 100%;
            margin: auto;
            gap: var(--gap);
            padding: 24px;

            > div {
                max-width: 874px;
                margin: auto;
                justify-items: center;

                h2 {
                    font-size: 32px;
                    text-align: center;
                    color: #fff;
                }

                p {
                    font-size: 18px;
                    color: #fff;
                    text-align: center;
                }
            }

            .grid-container {
                position: relative;
                max-width: 880px;
                .grid {
                    display: grid;
                    gap: var(--gap);
                    .card {
                        
                        display: flex;
                        .card-inner {
                            position: relative;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;
                            min-width: 100%;
                            --hue: 338.69;
                            --saturation: 100%;
                            --lightness: 30.04%;
                            --flow-space: 0.5em;
                            --hsl: var(--hue), var(--saturation), var(--lightness);
                            transition: background 400ms  ease;
                            will-change: background;
                            >.front,
                            >.back {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
                                transition-duration: .5s;
                                transition-property: transform, opacity;
                                border-radius: 20px;
                                border: 1px solid #338BFF;
                                padding: 10px;
                                background-color:  #0045AD;
                                min-width: 100%;
                                gap: 10px;

                                &:hover {
                                    --lightness: 95%;
                                    background: #0045ad; 
                                }
                            }
                            >.front {
                                transform: rotateY(0deg);
                                min-width: 100%;
                                min-height: 100%;
                            }
                            >.back {
                                position: absolute;
                                opacity: 0;
                                top: 0px;
                                left: 0px;
                                width: 100%;
                                height: 100%;
                                transform: rotateY(-180deg);
                            }

                            &.flipped, &:hover{
                                >.front {
                                    opacity: 0;
                                    transform: rotateY(180deg);
                                    transform-style: preserve-3d;
                                }
                                
                                >.back {
                                    opacity: 1;
                                    transform: rotateY(0deg);
                                    transform-style: preserve-3d;
                                }
                            }
                        }

                        

                        p {
                            position: relative;
                            font-size: 14px;
                            margin: 0;

                            &:has(.icon) {
                                height: 64px;
                            }
                        }

                        .icon {
                            position: relative;
                            height: 64px;
                            width: 64px;
                            margin: 0;
                            z-index: 3;

                            &:nth-of-type(2){
                                position: absolute;
                                z-index: 2;
                            }

                            foreignObject {
                                display: none;
                            }
                        }

                        &.size-medium {
                            aspect-ratio: 1/1;

                            .icon:nth-of-type(2) {
                                width: 200px;
                                height: 200px;
                                left: -72px;
                                top: -60px;
                            }

                            &:last-of-type {
                                .icon:nth-of-type(2) {
                                    width: 356px;
                                    height: 356px;
                                    top: -184px;
                                    left: -180px;
                                }
                            }
                        }

                        &.size-medium-large {
                            aspect-ratio: 21/10;
                            min-width: 100%;
                            flex: 1;  
                            .icon:nth-of-type(2) {
                                width: 200px;
                                height: 200px;
                                left: -68px;
                                top: -168px;
                            } 

                            &:last-of-type {
                                .icon:nth-of-type(2) {
                                    top: -80px;
                                } 
                            }
                        }

                        &.size-large {
                            aspect-ratio: 21/10;
                            min-width: 100%;
                            p {
                                min-width: 100%;
                            }

                            .icon {
                                width: 100%;
                                svg {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    .grid-column {
                        display: flex;
                        flex-wrap: wrap;
                        gap: var(--gap);
                     
                        .card {
                            &.size-medium, &.size-small {
                                min-width: unset;
                                width: calc((100% - var(--gap)) / 2);
                            }
                        }
                    }
                }

                .overlay {
                    mix-blend-mode: color;
                    position: absolute;
                    inset: 0;
                    pointer-events: none;
                    user-select: none;
                    opacity: var(--opacity, 0);
                    -webkit-mask: radial-gradient(
                        25rem 25rem at var(--x) var(--y),
                        #000 1%,
                        transparent 50%
                    );
                    mask: radial-gradient(
                        25rem 25rem at var(--x) var(--y),
                        #000 1%,
                        transparent 50%
                    );
                    transition: 400ms mask ease;
                    will-change: mask;

                    .front, .back {
                        background-color: hsla(var(--hsl), 0.15);
                        border-color: hsla(var(--hsl), 1);
                        box-shadow: 0 0 0 1px inset hsl(var(--hsl));
                        opacity: var(--opacity, 0);
                        background: radial-gradient(circle at var(--x) var(--y), rgba(255, 72, 0, 0.75));
                        transition: opacity 0.3s ease;
                        border: none !important;
                        * {
                            visibility: hidden;
                        }
                    }
                }
            }
        }
        
    }

    @media (min-width: 767px) {
        .columns-grid-wrapper {
            border-radius: 20px;

            .columns-grid {
                --gap: 24px;
                padding: 47px 24px;
                border-radius: 20px;

                > div {
                    h2 {
                        font-size: 44px;   
                    }

                    p {
                        font-size: 16px;
                    }
                }

                .grid-container {
                    .grid {
                        grid-template-columns: 1fr 2fr 1fr;
                        gap: var(--gap);

                        .grid-column {
                            min-height: 100%;
                            flex-direction: column;
                            gap: var(--gap);

                            &:nth-of-type(2) {
                                flex-direction: unset;
                                flex-wrap: wrap;
                            }

                            .card {
                                &.size-small {
                                    flex-direction: unset;
                                    min-width: 100%;
                                    width: calc((100% - var(--gap)) / 2);

                                    .front, .back {
                                        flex-direction: unset;

                                        p {
                                            text-align: left;
                                        }
                                    }
                                }

                                &.size-medium {
                                    width: calc((100% - var(--gap)) / 2);
                                    .front, .back {
                                       align-items: center;
                                       justify-content: center;
                                    }
                                }

                                &.size-medium-large {
                                    aspect-ratio: unset;
                                }

                                &.size-large {
                                    aspect-ratio: 17/10;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}