.mbox-canvas-container {
    display: flex;
    justify-content: center;

    .mbox-canvas-wrapper {
        height: 512px;
        width: 770px;

        &.dark-mode {
            background-color: black;
        }
    }
}