@layer components {

  /* b-boxes .dropdownbox-compare-container */
  .dropdownbox-compare-container {
    clear: both;
    padding: 0!important;
  }

  .dropdownbox-compare-container .block img {
    width: 20px;
  }

  .dropdownbox-compare-container .block > div {
    padding: 0;
    font-weight: 500;
    display: flex;
  }

  /* blue tbs */
  .dropdownbox-compare-container .block > div > div {
    border-bottom: 1px solid #e4f2ff;
    border: 1px solid #e4f2ff;
    flex: 1;
    padding: 15px 20px;
    display: inline-block;
  }

  .dropdownbox-compare-container .block > div:nth-child(1) > div {
    font-weight: bold;
    cursor: pointer;
  }

  .dropdownbox-compare-container .block > div > div strong em {
    color: red;
    font-style: normal;
  }

  .dropdownbox-compare-container .block > div:first-of-type > div, .dropdownbox-compare-container .block > div:last-of-type > div {
    border-bottom: 0 none;
  }

  .dropdownbox-compare-container .block > div > div:not(:nth-child(1)) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdownbox-compare-container .block > div:nth-child(1) > div:nth-child(1) {
    color: #fff;
    background-color: #006eff;
  }

  .dropdownbox-compare-container .block > div:not(:nth-child(1)) > div:nth-child(1) {
    background: #e4f2ff;
  }

  .dropdownbox-compare-container .block:not(.selected-2) > div > div:nth-child(2), .dropdownbox-compare-container .block.selected-1 > div > div:nth-child(2), .dropdownbox-compare-container .block.selected-2 > div > div:nth-child(3), .dropdownbox-compare-container .block.selected-3 > div > div:nth-child(4) {
    background-color: #f6f6f6;
  }

  .dropdownbox-compare-container.selected-1 .block > div > div:nth-child(2), .dropdownbox-compare-container.selected-2 .block > div > div:nth-child(3), .dropdownbox-compare-container.selected-3 .block > div > div:nth-child(4) {
    background-color: #f6f6f6;
  }

  .dropdownbox-compare-container.selected-2 .block > div > div:nth-child(2), .dropdownbox-compare-container.selected-3 .block > div > div:nth-child(2) {
    background-color: white;
  }

  .dropdownbox-compare-container .block > div:not(:first-child) > div:first-child {
    display: block;
    align-items: center;
  }

  .dropdownbox-compare-container .block > div > div p {
    font-family: roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  .dropdownbox-compare-container .block > div:first-child > div p {
    color: white;
  }

  .dropdownbox-compare-container .block > div:not(:first-child) > div p {
    color: #616161;
  }

  .dropdownbox-compare-container .block > div > div:first-child p {
    margin: 0;
    margin-left: 26px;
  }

  .dropdownbox-compare-container .block > div > div span.green-tag {
    background: #2cb43d;
    border-radius: 50px;
    color: #3c3c3c;
    color: #fff !important;
    display: block;
    font-family: roboto, sans-serif;
    font-size: 10px !important;
    font-style: normal;
    font-weight: 700;
    margin: -5px 0 6px;
    padding: 0 20px;
    padding: 3px 9px !important;
    text-transform: uppercase;
    width: fit-content;
  }


  .dropdownbox-compare-container .block > div > div strong {
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
  }

  .dropdownbox-compare-container .block.closed > div:not(:first-child) > div, .dropdownbox-compare-container.closed .block > div:not(:first-child) > div {
    display: none;
  }

  .dropdownbox-compare-container .block.closed > div > div:not(:nth-child(1)) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdownbox-compare-container .block.closed > div:not(:first-child) > div:first-of-type, .dropdownbox-compare-container.closed .block.closed > div:not(:first-child) > div:first-of-type {
    display: inline-block;
  }

  .dropdownbox-compare-container .block.closed > div:nth-child(1) > div:nth-child(1)::before {
    width: 10px;
    height: 10px;
    float: left;
    content: "";
    margin-right: 10px;
    margin-top: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(-135deg);
  }

  /* handling - arrow down/up */
  /* stylelint-disable no-descending-specificity */
  .dropdownbox-compare-container.no-arrow .block > div:nth-child(1) > div::before {
    visibility: hidden;
  }

  .dropdownbox-compare-container .block > div:nth-child(1) > div::before,
  .dropdownbox-compare-container .block.closed > div:nth-child(1) > div::before {
    width: 10px;
    height: 10px;
    float: left;
    content: "";
    margin-right: 10px;
    margin-top: 4px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .dropdownbox-compare-container .dropdownbox-compare-wrapper {
    position: relative;
  }

  @media (width <= 991px) {
    .dropdownbox-compare-container .default-content-wrapper h5 {
      font-size: 33px;
    }
  }

  /* for mobile */
  @media (width <= 991px) {
    .dropdownbox-compare-container .block > div {
      display: block;
    }

    .dropdownbox-compare-container .block > div > div:nth-child(1) {
      width: 100%;
    }

    .dropdownbox-compare-container .block > div > div:not(:nth-child(1)) {
      width: 33%!important;
      float: left;
    }
  }

  @media (width <= 768px) {
    .dropdownbox-compare-container {
      clear: both;
      padding: 0 15px 5px;
    }

    .dropdownbox-compare-container .block > div:not(:first-child) {
      display: block;
    }

    .dropdownbox-compare-container .block > div:nth-child(1) > div:nth-child(1)::before, .dropdownbox-compare-container .block.closed.close > div:nth-child(1) > div:nth-child(1)::before {
      margin-top: 1px !important;
    }

    .dropdownbox-compare-container .block > div:nth-child(1) > div {
      padding: 10px 3% !important;
      display: flex;
      font-size: 15px;
      line-height: 17px;
    }

    .dropdownbox-compare-container .new > div:nth-child(1) > div:nth-child(1)::after, .dropdownbox-compare-container.new .block > div:nth-child(1) > div:nth-child(1)::after {
      position: static;
      margin-left: 15px;
      flex: 0 0 auto;
    }

    .dropdownbox-compare-container > div:nth-child(2) .new::after {
      top: -90px;
      right: 0;
      width: 135px;
      height: 90pt;
      display: none;
    }

    .dropdownbox-compare-container .block > div:not(:first-child) > div {
      padding: 8px 2% !important;
      font-size: 15px;
    }

    .dropdownbox-compare-container .block img {
      width: 15px;
    }

    .dropdownbox-compare-container .block > div:not(:first-child) > div:nth-child(1) {
      width: 100%;
      text-align: center;
    }

    .dropdownbox-compare-container .block > div:not(:first-child) > div:not(:first-child) {
      width: 50%;
      float: left;
    }

    .dropdownbox-compare-container .default-content-wrapper h5 {
      font-size: 30px;
      line-height: 32px;
    }

    .section.product-comparison-table-container.migration .old-price-box {
      flex-direction: column;
    }

    .section.product-comparison-table-container.migration .old-price-box span {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5px 0;
    }

    .section.product-comparison-table-container.migration .old-price-box span del {
      margin-left: 10px;
    }

    .section.product-comparison-table-container.migration .new-price-box {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 22px;
    }

    .section.product-comparison-table-container.migration .new-price-box span {
      margin: 0 0 7px;
    }

    .section.product-comparison-table-container.migration .product-comparison-price > p:last-of-type, .section.product-comparison-table-container.migration .product-comparison-header div[role="columnheader"] p {
      text-align: center;
      min-height: auto;
    }

    .section.product-comparison-table-container.migration h3 {
      font-size: 15px !important;
    }

    .section.product-comparison-table-container.migration p.button-container {
      margin-bottom: 1em;
    }

    .section.product-comparison-table-container.migration .product-comparison-price {
      margin: 3px;
    }
  }

  @media (min-width: 992px) {
    .dropdownbox-compare-wrapper {
        max-width: var(--section-desktop-max-width);
        padding: 0 var(--section-desktop-padding);
    }
  }

  @media (min-width: 580px) {
    .dropdownbox-compare-wrapper {
        margin: 0 auto;
        overflow-y: visible;

    }
  }
}
