/* stylelint-disable no-descending-specificity */

/* block specific CSS goes here */
:root {
  /* hero font size */
  --hero-font-size-xxxl: 50px;
  --hero-font-size-xxl: 48px;
  --hero-font-size-xl: 40px;
  --hero-font-size-l: 32px;
  --hero-font-size-m: 22px;
  --hero-font-size-s: 20px;
  --hero-font-size-xs: 18px;
  --hero-font-size-xxs: 16px;
  --hero-font-size-xxxs: 14px;
  --hero-h1-font-size: 32px;
  --hero-h2-font-size: 24px;
  --hero-botton-border-color: #616161;
  --hero-p-color: #3c3c3c;

  /* breadcrumbs font size */
  --breadcrumb-text-color-dark: #c5c5c5;
  --breadcrumb-text-color-dark-hover: #616161;
  --breadcrumbs-font-size-s: 12px;
}

main .hero {
  background-color: white;
  position: relative;
  padding: 1em 0 2em;
}

main .section.bfoffer .hero {
  background-color: transparent;
}

main .section.bfoffer .hero .hero-content {
  background-color: transparent;
}

main .bfoffer .hero .hero-content p:last-of-type picture img {
  display: none;
}

/* breadcrumbs */
main .hero .hero-content .breadcrumb {
  font-weight: var(--font-weight-bold);
  color: #dedede;
  min-height: unset;
  padding: 12px 0;
  margin-bottom: 12px;
}

main .hero .hero-content .signature {
  font-size: 24px;
  color: #006dff;
  font-weight: bold;
  margin-top: 8px;
}

@media (min-width: 480px) {
  main .hero .hero-content .signature {
    margin-bottom: 12px;
  }
}

main .hero .hero-content .breadcrumb a {
  font-size: var(--breadcrumbs-font-size-s);
  font-weight: var(--font-weight-bold);
  color: var(--breadcrumb-text-color-dark-hover);
  text-decoration: none;
  line-height: 1.7;
  letter-spacing: .96px;
}

main .hero .hero-content .breadcrumb a:last-child {
  padding: 0;
  margin: 0;
  pointer-events: none;
}

main .hero .hero-content .breadcrumb a::after {
  content: "/";
  display: inline-block;
  color: var(--color-dark-gray);
  margin: 0 3px;
  font-size: 9pt;
}

main .hero .hero-content .breadcrumb a:hover {
  color: var(--text-color);
}

main .hero.black-background .hero-content .breadcrumb a {
  color: var(--breadcrumb-text-color-dark);
  text-decoration: none;
}

main .hero.black-background .hero-content .breadcrumb a::after {
  color: #dedede;
}

main .hero.black-background .hero-content .breadcrumb a:hover {
  color: var(--breadcrumb-text-color-dark-hover);
}

/* hero */
main .hero-container>div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
  margin: 0 auto;

  .europe-badge {
    display: inline-flex;


    .europe-badge__text {
      display: inline-block;
      background-color: #006DFF;
      color: white;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      font-size: 14px;
      font-weight: 700;
      padding: 8px;
    }

    .europe-flag {
      background: url('/_src/icons/europe_badge.jpeg') no-repeat;
      background-size: cover;
      width: 51px;
      height: 37px;
      display: inline-block;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
}

main .hero-container.blue-title .hero-content>div {
  width: 100%;
}

main .hero-container.blue-title .hero-content h1 {
  --tw-text-opacity: 1;

  color: rgb(0 110 255 / var(--tw-text-opacity));
}

main .hero-container.migration .hero-content h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 9px;
}

main .hero-container.migration .hero-content p em {
  font-size: 1.125rem;
  font-style: normal;
}

main .hero .hero-content>div {
  width: 100%;
}

main .hero-container .hero-wrapper {
  padding: 0;
}

main .hero.new2024design::after {
  display: none;
}

main .hero.black-background {
  background-color: var(--dark-background-color);
}

main .hero.new2024design * {
  font-weight: normal;
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
}

main .hero.new2024design .hero-picture:last-of-type {
  display: none;
}

main .hero.new2024design strong {
  font-weight: 600;
}

main .hero-container.breadcrumb-hidden .breadcrumb a {
  color: transparent;
}

main .hero-container.breadcrumb-hidden .breadcrumb a::after {
  color: transparent;
}

main .hero.black-background::after {
  content: none;
  background-color: transparent;
}

main .hero.comparison {
  height: 600px;
}

main .hero .hero-picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

main .hero .hero-content {
  display: flex;
  flex-direction: column;
  padding: 17px var(--body-padding) 56px;
  margin: 0 auto;
  position: relative;
}

main .hero-container.custom-buttons .hero .hero-content table tr {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 16px;
  font-family: Arial, sans-serif;
  padding-top: 30px;
  flex-wrap: nowrap;
}

main .hero-container.custom-buttons .hero .hero-content table tr p {
  margin-top: 8px;
  margin-bottom: 0;
  padding: 0;
  font-size:  var(--hero-font-size-xxxs);
  color: #000;
}

main .hero-container.custom-buttons .hero .hero-content table a {
  width: 100%;
  min-width: 248px !important;
  padding: 12px;
  font-size: var(--hero-font-size-xs);
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
  font-family: Arial, sans-serif;
  margin: 0;
  color: var(--button-link-color);
  background-color: var(--button-background-color);
  border: 2px solid var(--button-background-color);
}

main .hero-container.custom-buttons .hero .hero-content table a:hover {
  text-decoration: none;
  opacity: 0.9!important;
}

main .hero-container.custom-buttons .hero .hero-content table a:hover span {
  transform: unset!important;
}

main .hero-container.custom-buttons .hero .hero-content table tr td:last-of-type a {
  background-color: #fff;
  border: 1.5px solid #000;
  color: #000;
}

main .hero-container.custom-buttons .hero .hero-content table tr td:last-of-type a:hover {
  background-color: #f2f2f2;
}

main .hero-container.custom-buttons .hero .hero-content table a span {
  font-size: var(--hero-font-size-xs);
  font-weight: 500;
}

main .hero-container.custom-buttons .hero .hero-content table a::after {
  display: none;
}

main .hero.new2024design {
  max-width: 1200px;
  margin: auto;
}

main .hero.new2024design .hero-content:last-of-type {
  padding: 0 2em;
}

main .hero.new2024design .hero-picture {
  padding: 0;
  min-height: 0;
}

main .hero.new2024design .hero-picture img {
  padding: 0;
  border-radius: 10px;
  object-fit: contain;
}

main .hero.new2024design h1 {
  font-size: var(--hero-font-size-l);
  margin: 0;
}

main .hero.new2024design p {
  font-size: 16px;
}

main .hero.new2024design .hero-content.hero-content img {
  padding: 0;
  border-radius: 10px;
  object-fit: contain;
}

main .hero .hero-content .right-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main .hero.black-background .hero-content {
  padding: 17px var(--body-padding) 56px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #000 0%, #000 15%, #fff0 100%);
}

main .hero.comparison .hero-content {
  height: 100%;
  padding: 40px;
  justify-content: center;
  flex-direction: column;
}

main .hero h1 {
  font-size: 2.125rem;
  margin: 0 0 25px;
}

main .affiliate .hero h1 {
 color: #006DFF;
 font-size: 48px;
}


main .hero h2 {
  font-size: 18px;
  color: var(--text-color);
  margin: 0 0 9px;
  padding: 15px 0 0;
  letter-spacing: .003em;
}

main .hero.black-background h1 {
  font-size: var(--hero-h1-font-size);
  margin: 0 0 25px;
}

main .hero h2,
main .hero h4 {
  padding: 0;
  letter-spacing: normal;
  margin: 0 0 9px;
}

main .affiliate  .hero h4{
  font-weight: 300;
}

main .hero.black-background h1,
main .hero.black-background h2,
main .hero.black-background h4 {
  color: var(--text-dark-color);
}

main .hero.comparison h1 {
  font-weight: var(--font-weight-regular);
}

main .hero p {
  color: var(--hero-p-color);
  font-size: var(--hero-font-size-xxxs);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  display: block;
  letter-spacing: .006em;
  margin: 0;
}

main .hero h1+p {
  margin: 8px 0 0;
  color: #616161;
  font-size: var(--hero-font-size-xxxs);
  line-height: 1.5;
}

main .hero h1+p strong {
  font-weight: var(--font-weight-bold);
}

main .hero.comparison p {
  font-size: 18px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #fff;
  margin: 24px 0 0;
}

main .hero.black-background h1+p {
  color: var(--text-dark-color);
}

main .hero p.button-container {
  margin: 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

main .hero p.button-container:last-of-type {
  margin: 0 0 10px;
}

main .hero p.button-container.discount-bubble-container {
  padding-top: 0;
}

main .hero img {
  object-fit: cover;
  height: 100%;
}

main .hero .hero-picture picture img {
  position: absolute;
  right: 0;
}

main .hero.scamio .hero-picture picture img {
  position: absolute;
  right: -75px;
}

main .hero a.button {
  margin: 8px 13px 0 0;
}

main .hero a.button.modal,
main .hero a.button.central {
  padding: 0 28px 0 0;
  min-width: unset;
}

@media (min-width: 1400px) {
  main .hero a.button {
    min-width: 360px;
    justify-content: center;
    align-items: center;
  }

  main .hero.ferrari h1{
    max-width: 80%;
  }
}

main .hero a.button span.button-text {
  transition: all .25s cubic-bezier(.4, 0, .2, 1);
  display: inline-block;
  position: relative;
  font-size: var(--hero-font-size-xs);
  font-weight: var(--font-weight-bold);
}

main .hero .discount-bubble {
  background: #0E8532;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2px;
  right: 0;
  position: relative;
}

main .hero .discount-bubble .discount-bubble-0 {
  font-size: 24px;
  color: #fff;
  font-weight: var(--font-weight-boldest);
  line-height: .8;
  text-decoration: none;
  padding-top: 5px;
}

main .hero .discount-bubble .discount-bubble-1 {
  font-size: 11px;
  color: #fff;
  line-height: 1.71;
  font-weight: var(--font-weight-bold);
  font-style: normal;
  text-decoration: none;
}

main .hero .wrapper-plan-discount {
  margin: 0 0 10px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

main .hero .hero-content ul {
  margin: 20px 0 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
}

main .hero .hero-content ul li {
  font-size: var(--hero-font-size-xxs);
  font-weight: var(--font-weight-regular);
  letter-spacing: 0.096px;
  line-height: 1.5;
  color: var(--hero-p-color);
  margin: 13px 0 0;
  padding: 0 0 0 20px;
  position: relative;
  list-style: none;
}

main .hero .hero-content ul li:first-child {
  margin: 5px 0;
}

main .hero ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 15px;
  height: 15px;
  background-color: var(--background-checkmark);
  border-radius: 50%;
  z-index: 1;
}

main .hero ul li::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 6px;
  width: 3px;
  height: 7px;
  border-bottom: 2px solid var(--white-color);
  border-right: 2px solid var(--white-color);
  transform: rotate(45deg);
  z-index: 2;
}

main .hero ul.hero-awards {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 40px 0 0;
  text-align: left;
}

main .hero .hero-content ul.hero-awards li {
  display: block;
  min-height: 20px;
  margin: 0 20px 30px 0;
  padding: 0;
  width: auto;
}

main .hero ul.hero-awards li::before {
  content: none;
}

main .hero ul.hero-awards li picture img {
  display: block;
  height: 80px;
  width: auto;
}

main .hero-container.bigger-awards {
  .hero ul.hero-awards li picture img {
    height: 96px;
  }
}

main .hero .hero-awards li::after {
  content: none;
}

main .hero.pb-0 .hero-content {
  padding-bottom: 0;
}

main .v2 .hero h1 {
  font-weight: var(--font-weight-regular);
  font-family: var(--body-font-family);
}

main .v2 .hero h1+p {
  font-size: var(--body-font-size-s);
}

main .v2 .hero .hero-content>div:first-of-type {
  width: 100%;
}

main .v2 .hero .hero-content>div:last-of-type img {
  height: auto;
  width: 360px;
  position: absolute;
  bottom: 0;
}

main .v2 .hero .hero-content>div table tr {
  display: flex;
}

main .v2 .hero .hero-content>div table tr td:first-of-type {
  margin-right: 2em;
  width: 280px;
}

main .v2 .hero .hero-content>div table tr td:last-of-type {
  width: 465px;
}

/* stylelint-disable-next-line selector-class-pattern */
main .smaller_icon .hero .hero-content>div table tr td:last-of-type {
  width: fit-content;
}

main .v2 .hero .hero-content>div table tr td img {
  width: 100%;
  height: auto;
}

/* stylelint-disable-next-line selector-class-pattern */
main .smaller_icon .hero .hero-content>div table tr td:first-of-type {
  width: 70px;
}

main .hero.ferrari{
  background-color: #006DFF;
}

main .hero.ferrari h1{
  margin-bottom: 90px;
}

main .hero.ferrari .hero-content{
  display: flex;
  flex-direction: column;
  color: #FFF;
  padding: 20px;
}

main .hero.ferrari .hero-content img{
  position: relative;
  width: fit-content;
}

main .hero.ferrari .breadcrumb{
  display: none;
}

.hero-container.grey-background .hero-picture {
  background-color: #f6f6f6;
}

.hero-container.half-width-picture.new-design-v2 .hero-wrapper {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.hero-container.half-width-picture .hero-picture {
  padding-left: 50%;
}

.hero-container.half-width-picture .hero-picture picture {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 25%;
    bottom: 0;
    left: 50%;
    background: transparent linear-gradient(90deg, rgb(246 246 246 / 100%) 0%, rgb(224 224 224 / 0%) 100%);
  }
}

.hero-container.half-width-picture .hero-picture picture img {
  float: right;
  position: relative;
}

.hero-container.blue-title .h1 {
  color: #006DFF;
}

.hero-container.smaller-awards .hero ul.hero-awards {
  gap: 20px;
  padding: 0;

  li {
    margin: 0;
  }
}

.hero-container.smaller-awards .hero ul.hero-awards li picture img {
  height: 50px;
}

main .hero-container.ferrari-migration .hero{
  background-color:#006DFF;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
}

main .hero-container.ferrari-migration .hero .hero-content h1{
  color: #FFF;
  line-height: 1;
}

main .hero-container.ferrari-migration .hero .hero-content h2{
  color: #FFF;
  font-weight: 300;
}

main .hero-container.ferrari-migration .hero .hero-content p{
  color: #fff;
}

main .hero-container.ferrari-migration .hero .hero-content .breadcrumb{
  display: none;
}

main .hero-container.ferrari-migration .hero .hero-content a{
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 10px;
}

main .hero-container.ferrari-migration .hero .hero-content a img{
  position: relative;
  bottom: -10px;
  height: 87px;
  margin-right: 10px;
  border-radius: 5px;
}

@media(max-width: 989px) {
  main .hero.new2024design {
    background-color: #006FFF;
    min-height: auto;
    padding: 2em 0;
  }
}

@media(max-width: 991px) {
  /* tablet */
  main .hero.new2024design .breadcrumb {
    display: none;
  }
}



.hero-container .hero.block.grey-background {
  width: 100%;
  max-width: 1350px;
  border-bottom-left-radius: 20px;

  h3, strong {
    color: #000;
  }

  .hero-picture {
      border-radius: 20px;

      img {
          border-radius: 20px;
      }

      &::after {
          background: none;
      }
  }

  strong a {
      text-decoration: underline;
  }

  a.button {
      min-width: auto;
  }

  a.button.android {
      background: #000 no-repeat center url("data:image/svg+xml,%3Csvg width='116' height='28' viewBox='0 0 116 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.5 3.74995C37.5 4.54995 37.3 5.24995 36.8 5.74995C36.2 6.34995 35.5 6.64995 34.6 6.64995C33.7 6.64995 33 6.34995 32.4 5.74995C31.8 5.14995 31.5 4.44995 31.5 3.54995C31.5 2.64995 31.8 1.94995 32.4 1.34995C33 0.749951 33.7 0.449951 34.6 0.449951C35.5 0.449951 35.4 0.449951 35.8 0.749951C36.2 0.949951 36.5 1.14995 36.7 1.44995L36.2 1.94995C35.8 1.44995 35.3 1.24995 34.6 1.24995C33.9 1.24995 33.4 1.44995 33 1.94995C32.5 2.34995 32.3 2.94995 32.3 3.64995C32.3 4.34995 32.5 4.94995 33 5.34995C33.5 5.74995 34 6.04995 34.6 6.04995C35.2 6.04995 35.8 5.84995 36.3 5.34995C36.6 5.04995 36.8 4.64995 36.8 4.14995H34.6V3.44995H37.5C37.5 3.64995 37.5 3.74995 37.5 3.94995V3.74995Z' fill='white' stroke='white' stroke-width='0.2' stroke-miterlimit='10'/%3E%3Cpath d='M42.1001 1.24995H39.4001V3.14995H41.9001V3.84995H39.4001V5.74995H42.1001V6.44995H38.6001V0.449951H42.1001V1.14995V1.24995Z' fill='white' stroke='white' stroke-width='0.2' stroke-miterlimit='10'/%3E%3Cpath d='M45.3999 6.55005H44.5999V1.25005H42.8999V0.550049H46.9999V1.25005H45.2999V6.55005H45.3999Z' fill='white' stroke='white' stroke-width='0.2' stroke-miterlimit='10'/%3E%3Cpath d='M50 6.55005V0.550049H50.8V6.55005H50Z' fill='white' stroke='white' stroke-width='0.2' stroke-miterlimit='10'/%3E%3Cpath d='M54.2002 6.55005H53.4002V1.25005H51.7002V0.550049H55.8002V1.25005H54.1002V6.55005H54.2002Z' fill='white' stroke='white' stroke-width='0.2' stroke-miterlimit='10'/%3E%3Cpath d='M63.6999 5.74995C63.0999 6.34995 62.3999 6.64995 61.4999 6.64995C60.5999 6.64995 59.8999 6.34995 59.2999 5.74995C58.6999 5.14995 58.3999 4.44995 58.3999 3.54995C58.3999 2.64995 58.6999 1.94995 59.2999 1.34995C59.8999 0.749951 60.5999 0.449951 61.4999 0.449951C62.3999 0.449951 63.0999 0.749951 63.6999 1.34995C64.2999 1.94995 64.5999 2.64995 64.5999 3.54995C64.5999 4.44995 64.2999 5.14995 63.6999 5.74995ZM59.8999 5.24995C60.2999 5.64995 60.8999 5.94995 61.4999 5.94995C62.0999 5.94995 62.6999 5.74995 63.0999 5.24995C63.4999 4.84995 63.7999 4.24995 63.7999 3.54995C63.7999 2.84995 63.5999 2.24995 63.0999 1.84995C62.6999 1.44995 62.0999 1.14995 61.4999 1.14995C60.8999 1.14995 60.2999 1.34995 59.8999 1.84995C59.4999 2.24995 59.1999 2.84995 59.1999 3.54995C59.1999 4.24995 59.3999 4.84995 59.8999 5.24995Z' fill='white' stroke='white' stroke-width='0.2' stroke-miterlimit='10'/%3E%3Cpath d='M65.7001 6.55005V0.550049H66.6001L69.5001 5.25005V4.05005V0.550049H70.3001V6.55005H69.5001L66.4001 1.65005V2.85005V6.55005H65.6001H65.7001Z' fill='white' stroke='white' stroke-width='0.2' stroke-miterlimit='10'/%3E%3Cpath d='M58.2002 15.3501C55.8002 15.3501 53.9002 17.1501 53.9002 19.6501C53.9002 22.1501 55.8002 23.9501 58.2002 23.9501C60.6002 23.9501 62.5002 22.1501 62.5002 19.6501C62.5002 17.1501 60.6002 15.3501 58.2002 15.3501ZM58.2002 22.1501C56.9002 22.1501 55.8002 21.0501 55.8002 19.5501C55.8002 18.0501 56.9002 16.9501 58.2002 16.9501C59.5002 16.9501 60.6002 17.9501 60.6002 19.5501C60.6002 21.1501 59.5002 22.1501 58.2002 22.1501ZM48.9002 15.3501C46.5002 15.3501 44.6002 17.1501 44.6002 19.6501C44.6002 22.1501 46.5002 23.9501 48.9002 23.9501C51.3002 23.9501 53.2002 22.1501 53.2002 19.6501C53.2002 17.1501 51.3002 15.3501 48.9002 15.3501ZM48.9002 22.1501C47.6002 22.1501 46.5002 21.0501 46.5002 19.5501C46.5002 18.0501 47.6002 16.9501 48.9002 16.9501C50.2002 16.9501 51.3002 17.9501 51.3002 19.5501C51.3002 21.1501 50.2002 22.1501 48.9002 22.1501ZM37.8002 16.6501V18.4501H42.1002C42.0002 19.4501 41.6002 20.2501 41.1002 20.7501C40.6002 21.2501 39.5002 22.0501 37.8002 22.0501C35.1002 22.0501 33.1002 19.9501 33.1002 17.2501C33.1002 14.5501 35.2002 12.4501 37.8002 12.4501C40.4002 12.4501 40.3002 13.0501 41.1002 13.7501L42.4002 12.4501C41.3002 11.4501 39.9002 10.6501 37.9002 10.6501C34.3002 10.6501 31.2002 13.6501 31.2002 17.2501C31.2002 20.8501 34.3002 23.8501 37.9002 23.8501C41.5002 23.8501 41.3002 23.2501 42.5002 21.9501C43.7002 20.7501 44.1002 19.0501 44.1002 17.7501C44.1002 16.4501 44.1002 16.9501 44.1002 16.6501H38.0002H37.8002ZM83.2002 18.0501C82.8002 17.0501 81.8002 15.3501 79.6002 15.3501C77.4002 15.3501 75.6002 17.0501 75.6002 19.6501C75.6002 22.2501 77.4002 23.9501 79.8002 23.9501C82.2002 23.9501 82.9002 22.7501 83.3002 22.0501L81.9002 21.0501C81.4002 21.7501 80.8002 22.2501 79.8002 22.2501C78.8002 22.2501 78.2002 21.8501 77.7002 20.9501L83.4002 18.5501L83.2002 18.0501ZM77.4002 19.4501C77.4002 17.8501 78.7002 16.9501 79.6002 16.9501C80.5002 16.9501 81.0002 17.3501 81.2002 17.8501L77.4002 19.4501ZM72.7002 23.5501H74.6002V11.0501H72.7002V23.5501ZM69.7002 16.2501C69.3002 15.7501 68.5002 15.2501 67.5002 15.2501C65.4002 15.2501 63.4002 17.1501 63.4002 19.5501C63.4002 21.9501 65.3002 23.7501 67.5002 23.7501C69.7002 23.7501 69.3002 23.2501 69.7002 22.7501V23.3501C69.7002 24.9501 68.8002 25.8501 67.4002 25.8501C66.0002 25.8501 65.5002 25.0501 65.3002 24.3501L63.7002 25.0501C64.2002 26.1501 65.4002 27.5501 67.5002 27.5501C69.6002 27.5501 71.5002 26.2501 71.5002 23.1501V15.5501H69.7002V16.2501ZM67.5002 22.1501C66.2002 22.1501 65.1002 21.0501 65.1002 19.5501C65.1002 18.0501 66.2002 16.9501 67.5002 16.9501C68.8002 16.9501 69.8002 18.0501 69.8002 19.5501C69.8002 21.0501 68.8002 22.1501 67.5002 22.1501ZM91.9002 11.0501H87.4002V23.5501H89.3002V18.8501H91.9002C94.0002 18.8501 96.0002 17.3501 96.0002 14.9501C96.0002 12.5501 94.0002 11.0501 91.9002 11.0501ZM92.0002 17.0501H89.3002V12.7501H92.0002C93.4002 12.7501 94.2002 13.9501 94.2002 14.8501C94.2002 15.7501 93.4002 16.9501 92.0002 16.9501V17.0501ZM103.5 15.2501C102.1 15.2501 100.7 15.8501 100.2 17.1501L101.9 17.8501C102.3 17.1501 102.9 16.9501 103.6 16.9501C104.3 16.9501 105.5 17.5501 105.6 18.5501C105.3 18.5501 104.5 18.1501 103.7 18.1501C101.9 18.1501 100.1 19.1501 100.1 20.9501C100.1 22.7501 101.6 23.7501 103.2 23.7501C104.8 23.7501 105.1 23.1501 105.6 22.5501V23.5501H107.4V18.7501C107.4 16.5501 105.7 15.2501 103.6 15.2501H103.5ZM103.3 22.1501C102.7 22.1501 101.8 21.8501 101.8 21.0501C101.8 20.2501 102.9 19.7501 103.8 19.7501C104.7 19.7501 105 19.9501 105.5 20.1501C105.4 21.3501 104.4 22.1501 103.3 22.1501ZM113.8 15.5501L111.7 20.9501L109.5 15.5501H107.5L110.8 23.1501L108.9 27.3501H110.8L115.9 15.5501H113.8ZM97.0002 23.5501H98.9002V11.0501H97.0002V23.5501Z' fill='white'/%3E%3Cpath d='M10.8002 12.95L0.200195 24.25C0.500195 25.45 1.60019 26.35 3.00019 26.35C4.40019 26.35 4.00019 26.25 4.50019 25.95L16.5002 19.05L10.9002 12.95H10.8002Z' fill='%23EA4335'/%3E%3Cpath d='M21.6001 11.05L16.4001 8.05005L10.6001 13.25L16.4001 19.05L21.5001 16.05C22.4001 15.55 23.0001 14.65 23.0001 13.55C23.0001 12.45 22.4001 11.55 21.5001 11.05H21.6001Z' fill='%23FBBC04'/%3E%3Cpath d='M0.200195 2.8501C0.200195 3.0501 0.200195 3.3501 0.200195 3.5501V23.5501C0.200195 23.8501 0.200195 24.0501 0.200195 24.2501L11.2002 13.2501L0.200195 2.8501Z' fill='%234285F4'/%3E%3Cpath d='M10.9001 13.55L16.4001 8.05L4.4001 1.15C4.0001 0.85 3.5001 0.75 2.9001 0.75C1.6001 0.75 0.400098 1.65 0.100098 2.85L10.8001 13.55H10.9001Z' fill='%2334A853'/%3E%3C/svg%3E");
      color: transparent;
      border-color: #000;

      &::after {
          display: none;
      }
  }

  a.button.ios {
      background:  #000 no-repeat center url("data:image/svg+xml,%3Csvg width='100' height='26' viewBox='0 0 100 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.039 12.3365C15.0498 11.5018 15.2715 10.6834 15.6835 9.95747C16.0955 9.23151 16.6845 8.62158 17.3956 8.1844C16.9438 7.53924 16.3479 7.0083 15.6551 6.63375C14.9622 6.2592 14.1916 6.05135 13.4044 6.02672C11.7252 5.85046 10.0972 7.03155 9.24151 7.03155C8.36924 7.03155 7.05174 6.04422 5.63301 6.07341C4.71534 6.10306 3.82099 6.36991 3.03711 6.84797C2.25324 7.32603 1.60656 7.99899 1.16009 8.80128C-0.773908 12.1497 0.668681 17.0708 2.52129 19.7774C3.44819 21.1027 4.53147 22.5832 5.94892 22.5307C7.33598 22.4731 7.85402 21.6462 9.52832 21.6462C11.1871 21.6462 11.6731 22.5307 13.1193 22.4973C14.6077 22.4731 15.5455 21.166 16.4398 19.8281C17.1058 18.8838 17.6183 17.8401 17.9583 16.7356C17.0935 16.3699 16.3556 15.7577 15.8365 14.9754C15.3174 14.1931 15.04 13.2753 15.039 12.3365Z' fill='white'/%3E%3Cpath d='M12.3076 4.24672C13.1191 3.27252 13.5189 2.02034 13.4221 0.756104C12.1823 0.886324 11.037 1.47888 10.2145 2.41571C9.81239 2.87338 9.50439 3.40582 9.30815 3.98258C9.1119 4.55935 9.03126 5.16915 9.07082 5.7771C9.69096 5.78349 10.3045 5.64908 10.8651 5.38399C11.4258 5.1189 11.919 4.73005 12.3076 4.24672Z' fill='white'/%3E%3Cpath d='M32.5723 19.1756H27.8389L26.7021 22.532H24.6973L29.1807 10.114H31.2637L35.7471 22.532H33.708L32.5723 19.1756ZM28.3291 17.6267H32.0811L30.2315 12.1795H30.1797L28.3291 17.6267Z' fill='white'/%3E%3Cpath d='M45.4297 18.0056C45.4297 20.8191 43.9239 22.6267 41.6514 22.6267C41.0757 22.6568 40.5032 22.5242 39.9995 22.244C39.4957 21.9639 39.0809 21.5476 38.8028 21.0427H38.7598V25.5271H36.9014V13.4782H38.7002V14.9841H38.7344C39.0254 14.4816 39.4471 14.0674 39.9547 13.7856C40.4624 13.5037 41.0369 13.3648 41.6172 13.3835C43.915 13.3835 45.4297 15.1999 45.4297 18.0056ZM43.5196 18.0056C43.5196 16.1726 42.5723 14.9675 41.127 14.9675C39.7071 14.9675 38.752 16.198 38.752 18.0056C38.752 19.8298 39.7071 21.0515 41.127 21.0515C42.5723 21.0515 43.5196 19.8552 43.5196 18.0056Z' fill='white'/%3E%3Cpath d='M55.3946 18.0056C55.3946 20.8191 53.8887 22.6267 51.6162 22.6267C51.0406 22.6568 50.4681 22.5242 49.9643 22.244C49.4605 21.9639 49.0458 21.5476 48.7676 21.0427H48.7246V25.527H46.8662V13.4782H48.665V14.9841H48.6992C48.9902 14.4816 49.4119 14.0674 49.9195 13.7856C50.4272 13.5037 51.0017 13.3648 51.582 13.3835C53.8799 13.3835 55.3946 15.1999 55.3946 18.0056ZM53.4844 18.0056C53.4844 16.1726 52.5371 14.9675 51.0918 14.9675C49.6719 14.9675 48.7168 16.198 48.7168 18.0056C48.7168 19.8298 49.6719 21.0515 51.0918 21.0515C52.5371 21.0515 53.4844 19.8552 53.4844 18.0056Z' fill='white'/%3E%3Cpath d='M61.9805 19.0721C62.1182 20.3035 63.3145 21.1121 64.9492 21.1121C66.5157 21.1121 67.6426 20.3035 67.6426 19.1931C67.6426 18.2293 66.9629 17.6521 65.3535 17.2566L63.7442 16.8689C61.4639 16.3181 60.4053 15.2517 60.4053 13.5212C60.4053 11.3787 62.2725 9.90698 64.9239 9.90698C67.5479 9.90698 69.3467 11.3787 69.4073 13.5212H67.5313C67.419 12.282 66.3945 11.5339 64.8975 11.5339C63.4004 11.5339 62.376 12.2908 62.376 13.3923C62.376 14.2703 63.0303 14.7869 64.6309 15.1823L65.999 15.5183C68.5469 16.1208 69.6055 17.1443 69.6055 18.9607C69.6055 21.2839 67.7549 22.739 64.8115 22.739C62.0576 22.739 60.1982 21.3181 60.0781 19.072L61.9805 19.0721Z' fill='white'/%3E%3Cpath d='M73.6162 11.3357V13.4783H75.3379V14.95H73.6162V19.9412C73.6162 20.7166 73.9609 21.0779 74.7178 21.0779C74.9222 21.0743 75.1262 21.06 75.3291 21.0349V22.4978C74.9888 22.5614 74.643 22.5901 74.2969 22.5837C72.4639 22.5837 71.749 21.8952 71.749 20.1394V14.95H70.4326V13.4783H71.749V11.3357H73.6162Z' fill='white'/%3E%3Cpath d='M76.335 18.0056C76.335 15.157 78.0127 13.3669 80.6289 13.3669C83.2539 13.3669 84.9238 15.1569 84.9238 18.0056C84.9238 20.8621 83.2627 22.6443 80.6289 22.6443C77.996 22.6443 76.335 20.8621 76.335 18.0056ZM83.0303 18.0056C83.0303 16.0515 82.1348 14.8982 80.6289 14.8982C79.123 14.8982 78.2285 16.0603 78.2285 18.0056C78.2285 19.9675 79.123 21.1121 80.6289 21.1121C82.1348 21.1121 83.0303 19.9675 83.0303 18.0056Z' fill='white'/%3E%3Cpath d='M86.4561 13.4784H88.2285V15.0194H88.2715C88.3914 14.5381 88.6734 14.1128 89.07 13.8149C89.4666 13.517 89.9536 13.3647 90.4493 13.3837C90.6634 13.3829 90.877 13.4062 91.086 13.453V15.1913C90.8156 15.1087 90.5336 15.0707 90.251 15.079C89.981 15.068 89.7118 15.1156 89.462 15.2185C89.2122 15.3214 88.9875 15.4771 88.8036 15.675C88.6196 15.8729 88.4806 16.1083 88.3962 16.3649C88.3118 16.6216 88.2839 16.8935 88.3145 17.162V22.5321H86.4561L86.4561 13.4784Z' fill='white'/%3E%3Cpath d='M99.6543 19.8728C99.4043 21.5164 97.8037 22.6443 95.7559 22.6443C93.1221 22.6443 91.4873 20.8796 91.4873 18.0486C91.4873 15.2087 93.1309 13.3669 95.6777 13.3669C98.1826 13.3669 99.7578 15.0876 99.7578 17.8328V18.4695H93.3633V18.5818C93.3338 18.915 93.3755 19.2507 93.4857 19.5665C93.5958 19.8823 93.772 20.1711 94.0023 20.4137C94.2327 20.6562 94.512 20.847 94.8217 20.9733C95.1315 21.0996 95.4646 21.1585 95.7988 21.1462C96.238 21.1874 96.6787 21.0857 97.0554 20.8562C97.4321 20.6268 97.7247 20.2819 97.8897 19.8728L99.6543 19.8728ZM93.3721 17.1707H97.8984C97.9151 16.8711 97.8697 16.5712 97.765 16.29C97.6603 16.0088 97.4987 15.7523 97.2901 15.5365C97.0816 15.3208 96.8308 15.1504 96.5533 15.0362C96.2758 14.922 95.9777 14.8664 95.6777 14.8728C95.3751 14.871 95.0751 14.9291 94.7951 15.0439C94.515 15.1586 94.2605 15.3277 94.0461 15.5413C93.8318 15.755 93.6618 16.0089 93.5461 16.2886C93.4305 16.5682 93.3713 16.868 93.3721 17.1707Z' fill='white'/%3E%3Cpath d='M28.0962 0.766781C28.4858 0.738821 28.8768 0.797681 29.2409 0.939114C29.605 1.08055 29.9332 1.30103 30.2018 1.58465C30.4703 1.86828 30.6726 2.20798 30.794 2.57925C30.9154 2.95052 30.9529 3.34411 30.9038 3.73162C30.9038 5.63787 29.8735 6.73362 28.0962 6.73362H25.9409V0.766781H28.0962ZM26.8677 5.88978H27.9927C28.2711 5.90642 28.5497 5.86077 28.8082 5.75616C29.0668 5.65155 29.2987 5.4906 29.4872 5.28503C29.6757 5.07947 29.816 4.83446 29.8979 4.56784C29.9797 4.30122 30.0011 4.0197 29.9604 3.74378C29.9981 3.46895 29.9746 3.18918 29.8915 2.92451C29.8084 2.65985 29.6677 2.41684 29.4797 2.21291C29.2916 2.00898 29.0608 1.84918 28.8037 1.74494C28.5466 1.6407 28.2697 1.59462 27.9927 1.60999H26.8677V5.88978Z' fill='white'/%3E%3Cpath d='M31.9505 4.48018C31.9222 4.18426 31.956 3.88569 32.0499 3.60362C32.1437 3.32155 32.2955 3.06221 32.4954 2.84223C32.6953 2.62225 32.9391 2.44648 33.2109 2.3262C33.4828 2.20593 33.7767 2.1438 34.074 2.1438C34.3713 2.1438 34.6653 2.20593 34.9371 2.3262C35.209 2.44648 35.4527 2.62225 35.6526 2.84223C35.8526 3.06221 36.0043 3.32155 36.0982 3.60362C36.192 3.88569 36.2259 4.18426 36.1975 4.48018C36.2264 4.7764 36.1929 5.07538 36.0994 5.35791C36.0058 5.64043 35.8541 5.90025 35.6541 6.12066C35.4541 6.34108 35.2102 6.51721 34.9381 6.63775C34.666 6.75828 34.3716 6.82055 34.074 6.82055C33.7764 6.82055 33.4821 6.75828 33.2099 6.63775C32.9378 6.51721 32.6939 6.34108 32.4939 6.12066C32.2939 5.90025 32.1423 5.64043 32.0487 5.35791C31.9551 5.07538 31.9216 4.7764 31.9505 4.48018ZM35.2835 4.48018C35.2835 3.50411 34.845 2.93331 34.0755 2.93331C33.303 2.93331 32.8685 3.50411 32.8685 4.48019C32.8685 5.46408 33.303 6.03048 34.0755 6.03048C34.845 6.03047 35.2835 5.46016 35.2835 4.48018Z' fill='white'/%3E%3Cpath d='M41.8433 6.73364H40.9214L39.9907 3.41723H39.9204L38.9937 6.73364H38.0806L36.8394 2.23071H37.7407L38.5474 5.66671H38.6138L39.5396 2.23071H40.3921L41.3179 5.66671H41.3882L42.1909 2.23071H43.0796L41.8433 6.73364Z' fill='white'/%3E%3Cpath d='M44.1235 2.23076H44.979V2.94609H45.0454C45.1581 2.68917 45.3481 2.47379 45.5889 2.32999C45.8298 2.18618 46.1096 2.12111 46.3892 2.14384C46.6083 2.12736 46.8283 2.1604 47.0329 2.2405C47.2375 2.32059 47.4214 2.4457 47.5711 2.60654C47.7208 2.76738 47.8324 2.95984 47.8976 3.16966C47.9628 3.37948 47.9799 3.60129 47.9478 3.81864V6.73364H47.0591V4.0418C47.0591 3.31817 46.7446 2.9583 46.0874 2.9583C45.9386 2.95137 45.7901 2.97669 45.6521 3.03252C45.514 3.08835 45.3897 3.17337 45.2876 3.28175C45.1854 3.39014 45.108 3.51932 45.0604 3.66045C45.0129 3.80159 44.9964 3.95132 45.0122 4.09941V6.73369H44.1235L44.1235 2.23076Z' fill='white'/%3E%3Cpath d='M49.3638 0.4729H50.2524V6.73364H49.3638V0.4729Z' fill='white'/%3E%3Cpath d='M51.4876 4.48026C51.4593 4.18432 51.4931 3.88574 51.587 3.60366C51.6809 3.32158 51.8327 3.06223 52.0326 2.84224C52.2326 2.62225 52.4763 2.44648 52.7482 2.32621C53.02 2.20593 53.3141 2.1438 53.6113 2.1438C53.9086 2.1438 54.2026 2.20593 54.4745 2.32621C54.7464 2.44648 54.9901 2.62225 55.1901 2.84224C55.39 3.06223 55.5418 3.32158 55.6357 3.60366C55.7295 3.88574 55.7634 4.18432 55.7351 4.48026C55.7639 4.77649 55.7304 5.07548 55.6368 5.358C55.5432 5.64053 55.3915 5.90034 55.1915 6.12075C54.9915 6.34116 54.7476 6.51728 54.4754 6.63781C54.2033 6.75834 53.909 6.82061 53.6113 6.82061C53.3137 6.82061 53.0194 6.75834 52.7472 6.63781C52.4751 6.51728 52.2312 6.34116 52.0312 6.12075C51.8312 5.90034 51.6795 5.64053 51.5859 5.358C51.4922 5.07548 51.4587 4.77649 51.4876 4.48026ZM54.8206 4.48026C54.8206 3.50419 54.3821 2.93339 53.6126 2.93339C52.8401 2.93339 52.4056 3.50419 52.4056 4.48027C52.4056 5.46416 52.8401 6.03056 53.6126 6.03056C54.3821 6.03055 54.8206 5.46024 54.8206 4.48026Z' fill='white'/%3E%3Cpath d='M56.6709 5.4602C56.6709 4.64965 57.2744 4.18237 58.3457 4.11596L59.5654 4.04565V3.65698C59.5654 3.18139 59.251 2.91284 58.6436 2.91284C58.1475 2.91284 57.8037 3.09497 57.7051 3.41333H56.8447C56.9355 2.63989 57.6631 2.1438 58.6846 2.1438C59.8135 2.1438 60.4502 2.7058 60.4502 3.65698V6.73364H59.5947V6.10083H59.5244C59.3817 6.32782 59.1813 6.51287 58.9437 6.63708C58.706 6.76129 58.4397 6.82021 58.1719 6.80783C57.9828 6.82749 57.7918 6.80732 57.611 6.74863C57.4303 6.68993 57.2638 6.594 57.1224 6.46703C56.981 6.34006 56.8677 6.18487 56.79 6.01145C56.7122 5.83804 56.6716 5.65025 56.6709 5.4602ZM59.5654 5.07543V4.69897L58.4658 4.76928C57.8457 4.81078 57.5644 5.02172 57.5644 5.41869C57.5644 5.82396 57.916 6.0598 58.3994 6.0598C58.5411 6.07414 58.6842 6.05984 58.8202 6.01775C58.9562 5.97565 59.0823 5.90664 59.1911 5.81479C59.2999 5.72295 59.3891 5.61017 59.4534 5.48315C59.5177 5.35613 59.5558 5.21747 59.5654 5.07543Z' fill='white'/%3E%3Cpath d='M61.6182 4.48024C61.6182 3.05739 62.3496 2.15602 63.4873 2.15602C63.7687 2.14305 64.048 2.21046 64.2925 2.35035C64.5371 2.49025 64.7367 2.69685 64.8682 2.94602H64.9346V0.4729H65.8232V6.73364H64.9717V6.02221H64.9014C64.7598 6.2697 64.5532 6.47374 64.3039 6.61222C64.0546 6.7507 63.7723 6.81835 63.4873 6.80785C62.3418 6.8079 61.6182 5.90651 61.6182 4.48024ZM62.5362 4.48024C62.5362 5.43532 62.9864 6.01003 63.7393 6.01003C64.4883 6.01003 64.9512 5.42703 64.9512 4.48415C64.9512 3.54567 64.4834 2.95436 63.7393 2.95436C62.9912 2.95436 62.5362 3.53297 62.5362 4.48024Z' fill='white'/%3E%3Cpath d='M69.4998 4.48018C69.4715 4.18426 69.5053 3.88569 69.5992 3.60362C69.693 3.32155 69.8448 3.06221 70.0447 2.84223C70.2447 2.62225 70.4884 2.44648 70.7602 2.3262C71.0321 2.20593 71.3261 2.1438 71.6233 2.1438C71.9206 2.1438 72.2146 2.20593 72.4864 2.3262C72.7583 2.44648 73.002 2.62225 73.2019 2.84223C73.4019 3.06221 73.5536 3.32155 73.6475 3.60362C73.7413 3.88569 73.7752 4.18426 73.7469 4.48018C73.7757 4.7764 73.7423 5.07538 73.6487 5.35791C73.5551 5.64043 73.4034 5.90025 73.2034 6.12066C73.0034 6.34108 72.7595 6.51721 72.4874 6.63775C72.2153 6.75828 71.921 6.82055 71.6233 6.82055C71.3257 6.82055 71.0314 6.75828 70.7592 6.63775C70.4871 6.51721 70.2432 6.34108 70.0432 6.12066C69.8432 5.90025 69.6916 5.64043 69.598 5.35791C69.5044 5.07538 69.4709 4.7764 69.4998 4.48018ZM72.8328 4.48018C72.8328 3.50411 72.3943 2.93331 71.6248 2.93331C70.8523 2.93331 70.4178 3.50411 70.4178 4.48019C70.4178 5.46408 70.8524 6.03048 71.6248 6.03048C72.3943 6.03047 72.8328 5.46016 72.8328 4.48018Z' fill='white'/%3E%3Cpath d='M74.9395 2.23076H75.7949V2.94609H75.8613C75.974 2.68917 76.164 2.47379 76.4049 2.32999C76.6457 2.18618 76.9255 2.12111 77.2051 2.14384C77.4242 2.12736 77.6442 2.1604 77.8488 2.2405C78.0534 2.32059 78.2373 2.4457 78.387 2.60654C78.5367 2.76738 78.6483 2.95984 78.7135 3.16966C78.7787 3.37948 78.7958 3.60129 78.7637 3.81864V6.73364H77.875V4.0418C77.875 3.31817 77.5606 2.9583 76.9033 2.9583C76.7546 2.95137 76.6061 2.97669 76.468 3.03252C76.33 3.08835 76.2056 3.17337 76.1035 3.28175C76.0014 3.39014 75.9239 3.51932 75.8763 3.66045C75.8288 3.80159 75.8124 3.95132 75.8281 4.09941V6.73369H74.9395V2.23076Z' fill='white'/%3E%3Cpath d='M83.7852 1.10962V2.25122H84.7607V2.99976H83.7852V5.31519C83.7852 5.78687 83.9795 5.99341 84.4219 5.99341C84.5351 5.99305 84.6483 5.9862 84.7607 5.9729V6.71313C84.6012 6.74168 84.4395 6.75687 84.2773 6.75854C83.2891 6.75854 82.8955 6.41088 82.8955 5.54272V2.99972H82.1807V2.25118H82.8955V1.10962H83.7852Z' fill='white'/%3E%3Cpath d='M85.9746 0.4729H86.8555V2.95435H86.9258C87.0439 2.69503 87.2391 2.47844 87.4848 2.33409C87.7305 2.18974 88.0147 2.12466 88.2988 2.14771C88.5167 2.13585 88.7346 2.17224 88.9369 2.25428C89.1392 2.33632 89.3209 2.462 89.469 2.62233C89.6171 2.78267 89.728 2.97372 89.7938 3.18186C89.8596 3.38999 89.8786 3.61008 89.8496 3.82642V6.73365H88.96V4.04565C88.96 3.32641 88.625 2.96215 87.9971 2.96215C87.8444 2.94962 87.6907 2.97062 87.547 3.02367C87.4032 3.07673 87.2727 3.16056 87.1647 3.26929C87.0567 3.37803 86.9738 3.50905 86.9218 3.65319C86.8697 3.79733 86.8497 3.9511 86.8633 4.10375V6.73363H85.9746L85.9746 0.4729Z' fill='white'/%3E%3Cpath d='M95.0314 5.51789C94.9107 5.92943 94.6491 6.28542 94.2924 6.52357C93.9357 6.76172 93.5066 6.86687 93.0802 6.82062C92.7836 6.82846 92.4888 6.77163 92.2163 6.65411C91.9438 6.53658 91.7001 6.36116 91.5022 6.14002C91.3043 5.91888 91.1569 5.65732 91.0702 5.3735C90.9835 5.08968 90.9596 4.79039 91.0002 4.49641C90.9607 4.20153 90.985 3.9016 91.0714 3.61692C91.1579 3.33225 91.3046 3.06948 91.5015 2.84641C91.6983 2.62334 91.9408 2.44517 92.2125 2.32396C92.4842 2.20275 92.7788 2.14134 93.0763 2.14387C94.3293 2.14387 95.0851 2.99987 95.0851 4.41387V4.72396H91.9054V4.77376C91.8915 4.93901 91.9123 5.10534 91.9664 5.26209C92.0205 5.41884 92.1068 5.56255 92.2197 5.68401C92.3326 5.80546 92.4697 5.90198 92.6221 5.96738C92.7745 6.03278 92.9388 6.06561 93.1046 6.06376C93.3172 6.08928 93.5326 6.05101 93.7233 5.9538C93.9141 5.85659 94.0716 5.70485 94.1759 5.51786L95.0314 5.51789ZM91.9054 4.06672H94.1798C94.191 3.9156 94.1705 3.7638 94.1195 3.62108C94.0686 3.47836 93.9883 3.34788 93.8839 3.23802C93.7795 3.12817 93.6533 3.04136 93.5134 2.98318C93.3735 2.92501 93.2229 2.89675 93.0714 2.90022C92.9177 2.89829 92.7652 2.92715 92.6228 2.9851C92.4804 3.04304 92.3511 3.1289 92.2425 3.23761C92.1338 3.34633 92.048 3.47569 91.9901 3.61809C91.9322 3.76048 91.9034 3.91303 91.9054 4.06672Z' fill='white'/%3E%3C/svg%3E%0A");
      color: transparent;
      border-color: #000;

      &::after {
          display: none;
      }
  }
}

@media(min-width: 767px) { /* tablet */
  main .hero.ferrari{
    min-height: 768px;
  }

  main .hero.ferrari .hero-picture picture img{
    padding-left: 0;
    object-fit:cover;
    object-position: bottom;
    width: 100%;
  }

  main .hero.ferrari .hero-content{
    flex-flow: column;
    padding: 20px;
    text-align: center;
    color: #fff;
    max-width: 85%;
  }

  main .hero.hero.ferrari .hero-content img{
    right: 0;
  }

  main .hero.ferrari .hero-content > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px 0 0;

  }

  main .hero.ferrari h1{
    font-size: 60px;
    font-weight: 300;
    align-self: center;
  }

  main .hero.ferrari h1 strong{
    font-weight: 700;
  }

  :root {
    --hero-h1-font-size: 42px;
  }

  main .hero.new2024design h1 {
    font-size: var(--hero-font-size-xl);
    margin: 0;
  }

  main .hero.new2024design * {
    color: white;
    background-color: transparent;
  }

  main .hero h2 {
    font-size: 20px;
  }

  main .hero .hero-content .breadcrumb {
    min-height: 58px;
  }

  main .hero .hero-content .breadcrumb a::after {
    margin: 0 10px;
  }

  main .hero-container.blue-title .hero-content>div {
    width: 630px;
  }

  main .hero-container .hero-content.hero-content-full > div {
    width: 100%!important;
  }
}

@media (min-width: 990px) {
  /* desktop */
  main .hero.new2024design .hero-content:last-of-type {
    min-height: 360px;
    padding: 2em;
  }

  main .hero.new2024design .hero-picture {
    display: block;
    height: 430px;
  }

  main .hero .hero-content>div.left-col {
    width: 50%;
  }

  main .hero .hero-content>div.right-col {
    width: 50%;
    padding-left: 1.25rem;
  }

  main .hero h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  main .hero h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "IBM Plex Sans", sans-serif;
  }

  main .hero .hero-picture {
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    height: 100%;
  }

  main .hero p {
    font-size: var(--hero-font-size-xxs);
    margin: 0;
  }

  main .hero .hero-picture picture img {
    display: block;
    padding-left: 0;
  }

  main .hero .hero-content {
    max-width: var(--section-desktop-max-width);
    min-height: unset;
    padding: 1em var(--section-desktop-padding) 1em var(--section-desktop-padding);
    display: flex;
    flex-direction: row;
  }

  main .hero.black-background .hero-content {
    max-width: var(--section-desktop-max-width);
    padding-left: var(--section-desktop-padding);
    padding-right: var(--section-desktop-padding);
    padding-top: 115px;
    display: flex;
    flex-direction: row;
    min-height: unset;
  }

  main .hero a.button.primary {
    min-width: 360px;
  }

  main .hero .hero-content>div {
    width: 60%;
    padding: 0 20px 0 0;
  }

  main .hero.comparison .hero-content>div {
    width: 65%;
    padding: 40px 0 0;
  }

  main .affiliate .hero .hero-content>div  {
    width: 50%;
  }

  main .hero .hero-content .breadcrumb a {
    line-height: 1;
    letter-spacing: .96px;
  }

  main .hero ul.hero-awards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 40px 0 0;
  }

  main .hero ul.hero-awards li {
    display: block;
    min-height: 20px;
    margin: 9px 20px 0 0;
    padding: 0;
    width: auto;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  main .smaller_icon .hero .hero-content>div:last-of-type img {
    width: 40% !important;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  main .new_v2 .hero .hero-content>div:last-of-type img {
    width: 60% !important;
    right: 0;
  }

  main .v2 .hero .hero-content>div:last-of-type img {
    width: 360px;
    right: -11em !important;
    bottom: -3em;
  }

  main .hero.ferrari .hero-content > div img{
    max-height: 225px;
    max-width: 813px;
  }
  
  main .hero-container.ferrari-migration .hero{
    min-height: 600px;
    align-content: center;
  }

  main .hero-container.ferrari-migration .hero .hero-content h1{
    font-size: 60px;
    font-weight: 300;
  }

  main .hero-container.ferrari-migration .hero .hero-content h2{
    font-size: 32px;
    font-weight: 300;
    margin-top: 50px;
  }
  
  main .hero-container.ferrari-migration .hero .hero-picture img{
    width: 50%;
  }
}

@media (max-width: 1399px) {
  main .hero .hero-content ul li {
    font-size: var(--body-font-size-xs);
  }

  main .v2 .hero h1 {
    font-size: var(--heading-font-size-xxl1);
  }
}

@media (max-width: 1200px){
  main .hero-container.blue-title .scamio .hero-picture img {
    display: none;
  }

  main .smaller-img-tablet .hero .hero-picture {
    position: absolute;
    top: 5em;
    bottom: auto;
    left: 0;
    right: 0;
    height: 70%;
  }
}

@media (min-width: 1600px) {
  /* large desktop */
  main .hero .hero-content .breadcrumb {
    padding: 9px 0;
    margin-bottom: 15px;
  }

  main .hero h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "IBM Plex Sans", sans-serif;
  }

  main .v2 .hero h1 {
    font-size: var(--heading-font-size-xxl2);
  }

  main .hero h2 {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 9px;
    margin-top: 10px;
  }

  main .hero .discount-bubble {
    width: 83px;
    height: 83px;
  }

  main .hero .discount-bubble .discount-bubble-0 {
    font-size: 32px;
  }

  main .hero .discount-bubble .discount-bubble-1 {
    font-size: 14px;
  }

  main .hero .hero-content {
    max-width: var(--section-large-desktop-max-width);
    padding-left: var(--section-large-desktop-padding);
    padding-right: var(--section-large-desktop-padding);
  }

  main .hero.ferrari .hero-content {
    min-height: 768px;
  }

  main .hero.ferrari h1 {
    max-width: 60%;
  }

  main .hero.black-background .hero-content {
    max-width: var(--section-large-desktop-max-width);
    padding-left: var(--section-large-desktop-padding);
    padding-right: var(--section-large-desktop-padding);
  }
}

@media (max-width: 990px) {
  main .v2 .hero h1 {
    font-size: var(--heading-font-size-xl1);
  }

  main .hero .hero-content>div table tr td:last-of-type {
    width: 510px;
  }

  main .hero .hero-content>div table tr td:first-of-type {
    display: none;
  }

  main .hero-container.custom-buttons .hero .hero-content>div table tr td:first-of-type {
    display: block;
  }

  main .hero-container.custom-buttons .hero .hero-content>div table tr td:last-of-type {
    width: auto;
  }

  main .v2 .hero .hero-picture picture img {
    padding-left: 0;
  }

  main .v2 .hero .hero-content>div:last-of-type img {
    width: 265px;
    right: 0;
  }
}

@media (max-width: 768px) {
  main .hero .hero-picture,
  main .v2 .hero .hero-content>div:last-of-type img {
    display: none;
  }

  main .bfoffer main .hero {
    padding-top: 3rem;
    padding-bottom: 0;
  }

  main .bfoffer .hero .hero-content p:last-of-type picture img {
    display: block;
  }

  main .v2 .hero .hero-content>div table tr td:last-of-type {
    width: 100%;
  }

  main .hero-container.custom-buttons .hero .hero-content>div table tr {
    width: 315px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 5px;
  }

  main .hero-container.custom-buttons .hero .hero-content>div table tr td {
    width: 100%;
  }

  main .hero-container.custom-buttons .hero .hero-content>div table tr a.button {
    display: block;
  }

  main .v2 .hero h1 {
    font-size: var(--heading-font-size-l2);
  }

  main .v2 .hero h1+p {
    font-size: var(--body-font-size-xs);
  }

  main .hero.ferrari .hero-picture{
    display: block;
  }

  main .hero.ferrari .hero-content >div{
    text-align: center;
  }

  main .hero.ferrari .hero-picture picture img{
    display: block;
    position: absolute;
    object-fit: cover;
    padding: 0;
  }

  main .hero.ferrari h1{
    font-weight: 400;
  }
}

@media (max-width: 450px) {
  main .hero h1 {
    font-size: var(--heading-font-size-m);
  }
}