/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */
.image-columns-container ul {
  padding-left: 0;
}

.image-columns {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.image-columns > div {
  display: flex;
  flex-direction: column;
  column-gap: 58px;
  row-gap: 30px;
}

.image-columns img {
  width: 100%;
}

.image-columns li {
  list-style: initial;
}

.image-columns > div > div {
  order: 1;
}

.image-columns > div > .image-columns-img-col {
  flex: 0 1 55%;
  order: 0;
  display: flex;
  align-items: center;
  justify-items: center;
}

.affiliate .image-columns > div > .image-columns-img-col{
  flex: 0 1 50%;
}

.image-columns.text_smaller > div > .image-columns-txt-col {
  flex: 0 1 45%;
}

.image-columns > div > .image-columns-txt-col {
  flex: 0 1 45%;
}

.image-columns > div > .image-columns-img-col .img-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.image-columns > div > .image-columns-img-col img {
  display: block;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.image-columns ul li {
  position: relative;
  font-size: var(--body-font-size-l);
  list-style: none;
}

.image-columns ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: var(--background-checkmark);
  border-radius: 50%;
  z-index: 1;
}

.image-columns ul li::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 7px;
  width: 3px;
  height: 7px;
  border-bottom: 2px solid var( --white-color);
  border-right: 2px solid var( --white-color);
  transform: rotate(45deg);
  z-index: 2;
}

.image-columns > div > .image-columns-txt-col h3 {
  margin-bottom: 16px;
  line-height: 1.25;
  margin-top: 0;
}

.image-columns.trusted > div > .image-columns-txt-col {
  flex: 0 1 25%;
}

main .section.wide .image-columns img{
  height: auto;
} 

.ferrari .image-columns-wrapper{
  padding: 20px;
}

main .image-columns.quotes > div{
  gap: 20px;
}

main .image-columns.quotes >div > .image-columns-txt-col{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 30px;
  border-radius: 10px;
  background-color: #006dff;
  color: #fff;
  font-size: 20px;
}

main .image-columns.quotes > div > .image-columns-txt-col p{
  font-size: 25px;
  font-weight: 300;
  padding: 0;
}

main .image-columns.quotes > div > .image-columns-img-col{
  align-items: unset;
}

main .image-columns.quotes > div > .image-columns-img-col img{
  position: static;
  height: auto;
  max-width: 100%;
}

.image-columns-container .image-columns .image-columns-txt-col{
  text-align: center;
}

.image-columns.half-image {
  border-radius: 20px;
  background-color: #F8F8F8;

  >div {
    align-items: unset;
  }

  .image-columns-txt-col{
    padding: 20px 40px;

    @media (min-width: 992px) {
      padding: 40px 0 40px 60px ;
    }
  }

  .image-columns-img-col {
    min-height: 100%;

    .img-container {
      min-height: 100%;
      position: relative;

      img {
        position: absolute;
        min-height: 100%;
      }
    }
  }
}

.avfree .image-columns{
  > div {
    align-items: start;

    > .image-columns-txt-col {
      text-align: left;

      p {
       padding-left: 0;
       font-size: 16px;
       margin-bottom: 24px;
        margin-left: 0;
      }  

      h3 {
        font-size: 18px;
        margin-bottom: 6px;
      }
    }
    
    >.image-columns-img-col img {
      display: none;

      @media (min-width: 992px) {
        display: block;
      }
    }
  }
}

.bundle-design#heroColumn {
  background-color: #003385;
  padding: 0;
  min-height: 600px;
  display: flex;
  overflow: hidden;
}

.bundle-design#heroColumn * {
  color: white;
}

.bundle-design#heroColumn .block > div {
  min-height: 600px;
}

.bundle-design#heroColumn .block > div h2 {
  font-size: 52px;
  line-height: 60px;
  font-style: normal;
  font-weight: 600;
}

.bundle-design#heroColumn .image-columns .image-columns-txt-col {
  flex: 0 0 681px;
}

.bundle-design#heroColumn .image-columns .image-columns-txt-col.mp4video {
  mix-blend-mode: plus-lighter;
}

.bundle-design#heroColumn .image-columns > div >div:last-of-type > p {
  padding: 0;
  margin: 0;
}

.bundle-design#heroColumn .image-columns img {
  width: auto;
  position: absolute;
  height: 600px;
  top: 0;
  right: -18em;
}

.bundle-design#heroColumn table tr td a {
  color: white;
  border-color: white;
  min-width: auto;
  width: auto;
  padding: 0 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.bundle-design#heroColumn table tr td a .icon, .bundle-design#heroColumn table tr td a .icon svg {
  height: 6px;
  width: auto;
  margin: 0;
  display: block;
}

.bundle-design#heroColumn table tr td a:hover {
  background-color: transparent;
  text-decoration: none;
  opacity: 0.9;
  transition: all 0.5s ease;
}

@media (min-width: 767px) {
  .image-columns.quotes > div {
    flex-direction: unset;
    column-gap: 58px;
    align-items: center;
  }

  .image-columns.quotes > div > div {
    flex: 1;
    order: unset;
  }
}

@media (min-width: 992px) {
  .image-columns > div > .image-columns-txt-col h3 {
    margin-bottom: 26px;
  }
}

@media (min-width: 1200px) {
  .image-columns > div > .image-columns-txt-col h3 {
    margin-bottom: 29px;
  }
}

.image-columns > div > .image-columns-txt-col p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 20px;
}

.affiliate .image-columns > div > .image-columns-txt-col p {
  padding-left: 0;
  margin-top: 16px;
}

@media (max-width: 991px) {
  .image-columns-container.bundle-design .image-columns > div > div:last-of-type img {
    visibility: hidden;
  }

  .bundle-design#heroColumn, .bundle-design#heroColumn .block > div {
    min-height: auto;
  }

  .bundle-design#heroColumn .image-columns .image-columns-txt-col.mp4video {
    display: none;
  }

  .bundle-design#heroColumn .image-columns .image-columns-txt-col {
    flex: unset
  }
}

@media (min-width: 1400px) {
  .image-columns > div > .image-columns-txt-col p {
    font-size: 18px;
  }

  .affiliate .image-columns > div > .image-columns-txt-col p {
    font-size: 16px;
    padding-left: 0;
    margin-top: 16px;
  }

  .ferrari .image-columns-wrapper{
    padding: 0;
    max-width: 1292px;
  }
}

@media (min-width: 992px) { /* desktop */
  .image-columns {
    row-gap: 104px;
  }

  .image-columns > div {
    flex-direction: unset;
    column-gap: 58px;
    align-items: center;
  }

  .image-columns > div > div {
    flex: 1;
    order: unset;
  }

  .image-columns-container .image-columns .image-columns-txt-col{
    text-align: left;
  }

  .avfree .image-columns {
    > div {
      > .image-columns-txt-col {
        h3 {
          font-size: 22px;
          margin-bottom: 6px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: 1600px) { /* large desktop */
  .image-columns-wrapper {
    max-width: var(--section-large-desktop-max-width);
  }
}
