main .section.sticky-navigation-container {
  padding-top: 0;
  position: sticky;
  top: 0;
  z-index: 101;
  overflow: visible;
}

.sticky-navigation {
  cursor: pointer;
  background-color: var(--white-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--sticky-nav-border-color);
}

/* DS component takes all available horizontal space and aligns with site content width */
.sticky-navigation bd-anchor-nav {
  flex: 1 1 auto;
  min-width: 0;
  --layout-ensemble-inline-padding: var(--body-padding);
  --layout-compare-grid-max: 100%;
}

@media (min-width: 900px) {
  .sticky-navigation bd-anchor-nav {
    --layout-compare-grid-max: 1250px;
  }
}

@media (min-width: 1600px) {
  .sticky-navigation bd-anchor-nav::part(buy-button) {
    font-size: var(--body-font-size-s);
    font-weight: var(--font-weight-bold);
  }
}
