:root{
    --dot-color:#006dff;
    --line-color:#006dff;
    --bg:#ffffff;
    --font:"IBM Plex Sans", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}

*{
    font-family: "IBM Plex Sans", sans-serif;
}

main .interactive-banner-container {
    

    .interactive-banner-wrapper {
        margin: auto;

        .interactive-banner {
            padding: 48px 24px 24px;
            position: relative;
            aspect-ratio: 2/1;
            align-content: end;

            h1 {
                position:relative;
                opacity:0;
                pointer-events:none;
                font-size: 30px;
                line-height: 1.1;
                letter-spacing:0.02em;
                margin:0;
            }

            canvas {
                position: absolute;
                left: 1.5%;
                display:block;
                height:auto;
                min-width:100%;
                max-height:82vh;
                cursor:pointer;
                opacity: 0;
                min-width: 96%;
                animation: canvasFadeIn 1.5s ease-out 0.5s both;
                bottom: 0;
                font-family: "IBM Plex Sans";
                user-select: none; /* prevent text selection */
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }

            p {
                position: absolute;
                top: 0px;
                color: #006dff;
                margin: 0;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

    @media (min-width: 768px) {
        .interactive-banner-wrapper { 
            .interactive-banner {
                h1 {
                    font-size: 80px;
                }
                
                p {
                    position: absolute;
                    left: unset;
                    right: 20px;
                    top: 70px;
                    margin: 0;
                    font-size: 22px;
                }

                canvas {
                    position: absolute;
                    bottom: 0;
                    justify-self: center;
                }
            }
        }
    }

    @media (min-width: 992px) {
        .interactive-banner-wrapper {
            max-width: 1140px;
            .interactive-banner {
                h1 {
                    font-size: 90px;
                }

                canvas {
                    bottom: 0;
                    left: -4%;
                }

                p {
                    top: 104px;
                }
            }
        }
    }
}



@keyframes canvasFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Accessibility: Reduced Motion */
@media (prefers-reduced-motion: reduce) {
  .interactive-banner-container,
  .interactive-banner,
  .p,
  .hero-canvas {
    animation: none;
  }
  
  .hero-canvas {
    display: none;
  }
}