:root {
    --first-table-cell-color: #e4f2ff;
    --yes-check-color: #44AA44;
    --no-check-color: #FD3434;
    --expandable-row-background-color: #0040F0;
    --expandable-row-text-color: #fff;
    --product-comparison-text-color: #5d5c5c;
    --current-price-color: #000;
}

.await-loader {
    min-height: 4rem;
}

.webview-table-wrapper {
    max-width: 768px;
    height: 512px;
    margin: 0 auto;
    font-family: "Segoe UI", Arial, sans-serif;
}

.webview-table {
    width: 100%;
    height: 512px;

    padding: 0 25px;
    display: table;
    font-size: 14px;
    background-color: #141517;
    color: #999999;
}

.webview-table h1 {
    text-align: center;
    font: bold 24px "Segoe UI";
    color: #F7F7F7;
    margin: 2px 0 8px;
}

.webview-comparison-header {
    display: flex;
    background-color: #141517;
    border: none;
}

.webview-table div[role="row"]{
    display: flex;
}

.webview-comparison-header div[role="columnheader"] {
    width: 142px;
    text-align: center;
    justify-content: center;
    color: #e4f2ff;
    padding-bottom: 8px;
    border-right: none;
    border-left: none;
    p{
        margin: 1px;
        padding: 0;
    }
    p:first-of-type{
        margin-top: 2px;
    }
    p:last-of-type{
        margin-bottom: 2px;
    }
}
.webview-comparison-header div[role="columnheader"]:first-child {
    min-width: 292px;
}

.webview-table div[role='cell'] {
    width: 142px;
    padding: 8px;
    background: #141517;
    border: 0.1px solid #3c3c3c;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webview-table div[role='cell']:first-child {
    min-width: 292px;
    max-width: 292px;
    background: #333;
    color: #fff;
    font-weight: 600;
    border: 0.1px solid black;
}
.webview-table div[role="row"]:last-of-type div[role='cell']:first-child{
    visibility: hidden;
}

.webview-table div[role='row']:last-of-type div[role='cell'] {
    border: hidden;
    .buy-box{
        .prod-oldprice{
            text-align: center;
            text-decoration: line-through;
            font: normal normal normal 14px/19px Segoe UI;
            letter-spacing: 0px;
            opacity: 1;
        }
        .prod-newprice{
            text-align: center;
            font: normal normal bold 20px/26px Segoe UI;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
        }

    }

}

.webview-table-wrapper .webview-table .button-container{
    margin-top: 2px;
    margin-bottom: 2px;
}
.webview-table-wrapper .webview-table .button{
    justify-content: center;
    border: 1px solid #006EFF;
    background-color: black;
    width: 122px;
    padding: 6px 16px;
    border-radius: 4px;
    text-align: center;
    &::after {
        display: none;
        content: none;
    }

}

 .webview-table .button .button-text {
    color: #006EFF;
    text-align: center;
}

.webview-table-wrapper .webview-table .current .button{
    border-color: #767676;
    .button-text{
        color: #767676;
    }
    &::after {
        display: none;
        content: none;
    }
}

.webview-table .savings-tag-container {
    background-color: #2cb43d;
    color: white;
    font-weight: bold;
    width: 100%;
    border-radius: 4px 4px 0 0;
    padding: 2px;
}

.webview-table .price_box {
    flex-flow: column;
    color: #e4f2ff;
    text-align: center;
}

.webview-table .yes-check {
    width: 18px;
    height: 18px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.webview-table .yes-check::after {
    content: '';
    width: 3px;
    height: 7px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.webview-table .no-check {
    height: 1rem;
    width: 0.625rem;
    position: relative;
}

.webview-table .no-check::after, .webview-table .no-check::before {
    content: '';
    position: absolute;
    width: 0.17rem;
    height: 16px;
    background-color: var(--no-check-color);
}

.webview-table .no-check::after {
    transform: rotate(45deg);
}

.webview-table .no-check::before {
    transform: rotate(-45deg);
}

.webview-table-wrapper .webview-table .featured{
    background-color: #202123;
    .button{
        background-color: #006EFF;
    }
    .button-text{
        color: #FFFFFF;
    }
    div[role="cell"]:last-of-type{
        border-radius: 4px 4px 0 0;
    }

}

.webview-table-wrapper .light-mode {
    background-color: #fff;
    color: black;
}

.webview-table-wrapper .light-mode h1 {
    color: black;
}

.webview-table-wrapper .light-mode div[role="columnheader"] {
    background-color: #fff;
    color: #000;
}

.webview-table-wrapper .light-mode div[role='cell']:first-child {
    color: #000;
    background-color: #F9F9FE;
    border-color: #FFF;
}

.webview-table-wrapper .light-mode div[role="cell"] {
    color: #515B6D;
    background-color: #fff;
    border-color: #F5F5F5;
}

.webview-table-wrapper .light-mode  div[role="cell"] .price_box {
    color: black;
    .prod-newprice{
        color: #000000 !important;
    }
}

.webview-table-wrapper .light-mode .button {
    background-color: #fff;
}