/* stylelint-disable no-descending-specificity */
:root {
    --first-table-cell-color: #e4f2ff;
    --yes-check-color: #4a4;
    --no-check-color: #fd3434;
    --expandable-row-background-color: #0040f0;
    --expandable-row-text-color: #fff;
    --product-comparison-text-color: #5d5c5c;
    --current-price-color: #000;
}

.await-loader {
    min-height: 4rem;
}

.webview-table {
    width: 100%;
    height: 512px;
    padding: 0 18px;
    display: table;
    font-size: 14px;
    background-color: #141517;
    color: #999;
}

.webview-table h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #f7f7f7;
    margin: 10px 0 8px;
}

.webview-comparison-header {
    display: flex;
    background-color: #141517;
    border: none;
}

.webview-table div[role="row"] {
    display: flex;
}

.webview-comparison-header div[role="columnheader"] {
    width: 142px;
    text-align: center;
    justify-content: center;
    color: #e4f2ff;
    padding-bottom: 8px;
    border-right: none;
    border-left: none;
}

.webview-comparison-header div[role="columnheader"] p {
    margin: 1px;
    padding: 0;
    line-height: 1;
}

.webview-comparison-header div[role="columnheader"] p:first-of-type {
    margin-top: 8px;
    font-size: 14px;
}

.webview-comparison-header div[role="columnheader"] p:last-of-type {
    font-size: 14px;
}

.webview-comparison-header div[role="columnheader"] p:nth-of-type(2) {
    margin-bottom: 4px;
    font-size: 16px;
}

.webview-comparison-header div[role="columnheader"]:first-child {
    min-width: 306px;
}

.webview-table div[role='cell'] {
    width: 142px;
    padding: 8px;
    background: #141517;
    border-top: 0.1px solid #3c3c3c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webview-table div[role='cell']:first-child {
    min-width: 306px;
    max-width: 306px;
    background: #333;
    color: #fff;
    line-height: 1.2;
    font-weight: 600;
    border-top: 1px solid black;
    align-items: baseline;
    flex-direction: row;
    justify-content: left;
}

.webview-table .yes-check::after {
    content: '';
    width: 3px;
    height: 7px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.webview-table .price-box {
    flex-flow: column;
    color: #e4f2ff;
    text-align: center;
}

.webview-table-wrapper .webview-table .button {
    justify-content: center;
    border: 2px solid #006eff;
    background-color: black;
    width: 122px;
    padding: 6px 15px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
}

.webview-table-wrapper .webview-table .button::after {
    display: none;
    content: none;
}

.webview-table-wrapper .webview-table .button:hover span.button-text {
    transform: none;
}

.webview-table .button .button-text {
    color: #006eff;
    text-align: center;
}

.webview-table-wrapper {
    max-width: 770px;
    height: 512px;
    margin: 0 auto;
    font-family: "Segoe UI", Arial, sans-serif;
}

.webview-table-wrapper .light-mode {
    background-color: #fff;
    color: black;
}

.webview-table-wrapper .light-mode h1 {
    color: black;
}

.webview-table-wrapper .light-mode .webview-comparison-header {
    background-color: #fff;
}

.webview-table-wrapper .light-mode div[role="columnheader"] {
    background-color: #fff;
    color: #000;
}

.webview-table-wrapper .light-mode div[role="cell"] {
    color: #515b6d;
    background-color: #fff;
    border-color: #f5f5f5;
}

.webview-table-wrapper .light-mode div[role="cell"]:first-child {
    color: #000;
    background-color: #f9f9fe;
    border-color: #fff;
}

.webview-table-wrapper .light-mode div[role="cell"] .price-box {
    color: black;
}

.webview-table-wrapper .light-mode div[role="cell"] .price-box .prod-oldprice {
    color: #515b6d;
}

.webview-table-wrapper .light-mode div[role="cell"] .price-box .prod-newprice {
    color: #000 !important;
}

.webview-table-wrapper .light-mode .yes-check::after {
    border: solid #fff;
    border-width: 0 2px 2px 0;
}

.webview-table-wrapper .light-mode .button {
    background-color: #fff !important;
}

.webview-table-wrapper .light-mode .featured {
    background-color: #f9f9fe !important;
}

.webview-table-wrapper .light-mode .featured .button {
    background-color: #006eff !important;
}

.webview-table div[role='row'].price-row div[role='cell'] {
    border-radius: 0 0 4px 4px;
}

.webview-table div[role='row'].price-row div[role='cell']:first-child {
    visibility: hidden;
}

.webview-table div[role='row'].price-row div[role='cell'] .buy-box {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.webview-table div[role='row'].price-row div[role='cell'] .buy-box .prod-oldprice {
    text-align: center;
    text-decoration: line-through;
    font-size: 14px;
    font-family: "Segoe UI", Arial, sans-serif;
    letter-spacing: 0;
    opacity: 1;
}

.webview-table div[role='row'].price-row div[role='cell'] .buy-box .prod-newprice {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: "Segoe UI", Arial, sans-serif;
    letter-spacing: 0;
    color: #fff;
    opacity: 1;
    line-height: 1;
}

.webview-table div[role='row'].price-row div[role='cell'] .buy-box .under-price-text {
    font-size: 10px;
}

.webview-table-wrapper .webview-table .button-container {
    margin-top: 2px;
    margin-bottom: 4px;
}

.webview-table-wrapper .webview-table .button-container:hover {
    filter: brightness(0.9);
}

.webview-table-wrapper .webview-table .featured {
    background-color: #202123;
}

.webview-table-wrapper .webview-table .featured .button {
    background-color: #006eff;
}

.webview-table-wrapper .webview-table .featured .button-text {
    color: #fff;
}

.webview-table-wrapper .webview-table .current .button {
    border-color: #767676;
    pointer-events: none;
}

.webview-table-wrapper .webview-table .current .button .button-text {
    color: #767676;
}

.webview-table-wrapper .webview-table .current .button::after {
    display: none;
    content: none;
}

.webview-table .savings-tag-container {
    background-color: #2cb43d;
    color: white;
    font-weight: bold;
    width: 100%;
    border-radius: 4px 4px 0 0;
    padding: 2px;
}

.webview-table .yes-check {
    width: 18px;
    height: 18px;
    background-color: #4caf50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.webview-table .no-check {
    height: 1rem;
    width: 0.625rem;
    position: relative;
    margin-left: 7px;
}

.webview-table .no-check::after, .webview-table .no-check::before {
    content: '';
    position: absolute;
    width: 0.17rem;
    height: 16px;
    background-color: var(--no-check-color);
}

.webview-table .no-check::after {
    transform: rotate(45deg);
}

.webview-table .no-check::before {
    transform: rotate(-45deg);
}

.webview-table [data-align="center"] {
    text-align: center;
}

.webview-table.two-products-variation div[role='cell']:first-child {
    min-width: 441px;
    max-width: 441px;
    background: #333;
    color: #fff;
    line-height: 1.2;
    font-weight: 600;
    border-top: 1px solid #141517;
    align-items: baseline;
}

.webview-table.two-products-variation .webview-comparison-header div[role="columnheader"]:first-child {
    min-width: 441px;
    align-items: end;
    display: flex;
}

.webview-table.two-products-variation .webview-comparison-header div[role="columnheader"]:first-child .plan-switcher {
    background-color: #141517;
    flex-direction: row;
    height: 70%;
    justify-content: left;
    align-content: center;
    padding-top: 0;
    padding-bottom: 0;
    border-color: #141517;
}

.webview-table.two-products-variation.light-mode div[role="cell"]:first-child {
    color: #000;
    background-color: #f9f9fe;
    border-color: #fff;
}

.webview-table.two-products-variation.light-mode .webview-comparison-header div[role="columnheader"]:first-child .plan-switcher {
    background-color: white;
    border-color: white;
}


.webview-comparison-header .plan-switcher {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
  gap: 16px;
}

.webview-comparison-header .plan-switcher input[type="radio"] {
  position: relative;
  display: none;
  opacity: 0;
  width: auto;
}

.webview-comparison-header .plan-switcher .radio-label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.webview-comparison-header .plan-switcher .radio-label::before {
  content: "";
  background: transparent;
  color: #006DFF;
  border-radius: 100%;
  border: 2px solid #338BFF;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 14px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.webview-comparison-header .plan-switcher input[type="radio"]:checked+.radio-label::before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #141517;
}

.webview-comparison-header .plan-switcher input[type="radio"]:hover+.radio-label::before {
  outline: none;
  border-color: #6BABFF;
}

.webview-table-container.title-left h1 {
    text-align: left;
}

.webview-table.two-products-variation.light-mode .webview-comparison-header .plan-switcher .radio-label::before {
  content: "";
  background: #f4f4f4;
  color: #006DFF;
  border-radius: 100%;
  border: 2px solid #006DFF;
}

.webview-table.two-products-variation.light-mode .webview-comparison-header .plan-switcher input[type="radio"]:checked+.radio-label::before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.webview-table.two-products-variation.light-mode .webview-comparison-header .plan-switcher input[type="radio"]:focus+.radio-label::before {
  outline: none;
  border-color: #3197EE;
}
