.webview-wrapper {
    max-width: 768px;
    padding: 0 var(--section-desktop-padding);
    margin: 0 auto;
    background: url("../../icons/pattern.png") repeat-x;
    background-size: 188px 104px;
    text-align: center;
    font-family: "Segoe UI", Arial, sans-serif;
}

.webview-wrapper .webview {
    max-width: 438px;
    margin: auto;
    padding-top: 48px;
    padding-bottom: 35px;
}

.webview-wrapper .webview img {
    width: 92px;
    height: auto;
}

.webview-wrapper .webview h2 {
    margin-top: 16px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    color: #006eff;
}

.webview-wrapper .webview h3 {
    margin-top: 30px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.webview-wrapper .webview .button-container {
    margin-top: 14px;
    margin-bottom: 0;
}

.webview-wrapper .webview .button {
    background-color: #006eff;
    border-color: #006eff;
    color: white;
    font-size: 14px;
    width: 264px;
    justify-content: center;
}

.webview-wrapper .webview .button::after {
    content: none;
}

.webview-wrapper .webview .button:hover {
    background-color: #0056cc;
    border-color: #0056cc;
}

.webview-wrapper .webview .button:hover span {
    transform: translateX(0);
}

.webview-wrapper .webview .button.secondary {
    background-color: white;
    border-color: white;
    color: #006eff;
    padding: 0;
    margin: 0;
    border: 0;
}

.webview-wrapper .webview .prod-oldprice {
    font-size: var(--body-font-size-xs);
    line-height: var(--body-font-size-xs);
    text-decoration: line-through;
    margin-right: 10px;
}

.webview-wrapper .webview .prod-percent {
    font-size: 13px;
    line-height: 15px;
    color: white;
    background-color: #61a851;
    border-radius: 11px;
    padding: 4px 10px;
    font-weight: bold;
}

.webview-wrapper .webview .prod-newprice {
    font: normal normal bold 24px / 30px;
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 0.7;
}

.webview-wrapper .webview .under-price-text {
    font-size: var(--body-font-size-xxs);
    line-height: var(--body-font-size-xxs);
    color: #666;
}

.webview-wrapper .webview .under-price-text p {
    margin: 0;
    font-size: var(--body-font-size-xxxs);
}

.webview-wrapper .webview .price-box {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.webview-wrapper.dark-mode {
    background-color: black;
}

.webview-wrapper.dark-mode .webview {
    color: white;
}

.webview-wrapper.dark-mode .webview .button.secondary {
    background-color: black;
    border-color: black;
}
